// ==========================================================================
// Homepage.
// ==========================================================================

.body-search {
	text-align: center;
	padding-bottom: 2.5rem;

	h5 {
		margin-bottom: 0;
	}

	a {
		text-transform: uppercase;
	}
}

.incentive-boxes {
	.container-optional {

		@extend .container;
	}
}

.cta-section {
	padding: 3rem 0;

	.btn {
		padding: 2rem;
	}

	&.three-cta-col {
		.col {

			@include make-col-span(12);

			@include media-breakpoint-up(lg) {

				@include make-col-span(4);
			}
		}
	}
}

.home-colorblock {
	padding: 7rem 0;

	.title-block {
		text-align: center;
	}
}

.service-colorblock {
	.title-block {
		text-align: center;
	}
}
