// ==========================================================================
// Site Header
// ==========================================================================
// If header is sticky, add some padding to the top

body {

	@include media-breakpoint-up(lg) {
		padding-top: 11.5rem;

		&.logged-in {
			padding-top: 8rem;
		}
	}
}

%contain-it {
	max-width: 1200px;
	margin: 0 auto;

	@include media-breakpoint-up(lg) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
// Head

.site-header {
	background: $color-white;
	width: 100%;

	.inner {

		@include clearfix;
		@extend %contain-it;
	}

	@include media-breakpoint-up(lg) {
		position: fixed;
		top: 0;
		z-index: 999;
	}

	.site-branding {

		@extend .col-xs-12;
		@extend .col-lg-7;
		@extend .text-xs-center;
		@extend .text-lg-left;

		.site-logo {
			padding: 1.25rem 0;
		}
	}

	.text-logo {
		font-size: 1.5rem;

		@include media-breakpoint-up(lg) {
			padding: 0;
			font-size: 2.5rem;
			text-align: left;
		}
	}

	.dealer-details {

		@extend .col-lg-5;
		@extend .text-lg-right;
		display: none;
		padding: 1rem 0;

		.widget_strathcom_social_widget {
			display: inline-block;
			margin: 0;
		}

		@include media-breakpoint-up(lg) {
			display: block;

			.scratchpad-toggle {
				display: block;
				font-size: 0.9rem;
				float: right;
				margin-left: 0.5rem;
			}
		}
	}

	.site-primary-navigation {
		width: 100%;

		.scratchpad-toggle  {
			.count {
				bottom: 0.5rem;
			}

			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		.primary-menu {

			@extend %contain-it;
		}

		.dropdown-trigger {
			background-color: #000;
		}

		button.btn-trigger-primary-menu {
			color: $color-white;
			text-indent: 0;
			width: 8rem;
			padding: 0.5rem 1rem;
			text-align: left;

			&::before {
				left: 1rem;
			}
		}
	}

	.mobile-call,
	.mobile-call-tracking a {
		color: $color-white;
		float: right;
		position: relative;
		margin-top: -2.5rem;
		margin-right: 1rem;

		&::before {
			font-family: 'FontAwesome';
			content: '\f095';
			display: block;
			float: left;
			margin-right: 0.5rem;
			color: $color-white;
			font-size: 1.15rem;
		}

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
}
// Compliance
// ==========================================================================

#nissan {
	.nissan-logo {

		@extend .col-xs-3;
		margin: 0 0 rem(20);

		img {
			max-width: rem(90);
		}
	}

	.dealer-details {

		@extend .col-xs-9;
		display: block;
		padding-bottom: 0;
	}

	.site-branding {
		width: 100%;

		.text-logo,
		.site-logo {

			@extend .text-xs-right;
			@extend .text-md-right;
			@extend .text-lg-right;
			font-size: 1rem;

			.logo {
				float: right;
			}

			@include media-breakpoint-up(sm) {
				font-size: 1.5rem;
			}

			@include media-breakpoint-up(md) {
				font-size: 2.25rem;
			}
		}

		.site-logo {
			padding: 1rem 0;

			@include media-breakpoint-up(md) {
				padding: 1rem 0;
			}
		}
	}

	.site-top-bar {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
		padding: 0 2rem;
		font-size: 0.85rem;
		text-align: right;

		.widget,
		div {
			display: inline-block;
			margin: 0 0.25rem;
		}

		.top-social {
			display: inline;
			font-size: 1.15rem;
			margin-left: 0.25rem;
			margin-right: 0.25rem;
		}

		#float-nav {
			text-align: left;
		}

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
}

#hyundai {
	.site-header.hyundai-header {
		padding: 1rem 0 0;

		@include media-breakpoint-up(lg) {
			padding: 2.5rem 0 0;
		}

		.site-branding {

			@include make-col;
			@include make-col-span(12);
			padding-top: 0;

			@include media-breakpoint-up(md) {

				@include make-col-span(4.2);
				padding: 0 0 2rem;
			}

			.site-logo {
				padding: 0.5rem 0;
			}

			.text-logo {
				padding: 1rem 0 0;
				font-size: 1.5rem;
				text-align: center;
				width: 100%;

				@include media-breakpoint-up(lg) {
					padding: 0;
					font-size: 2rem;
					text-align: left;
				}
			}
		}

		.address-info {
			display: none;

			@include media-breakpoint-up(md) {

				@include make-col;
				@include make-col-span(4.6);
				display: block;
			}

			.textwidget {
				padding: 1rem 0 1rem 1rem;
				border-left: 1px solid #ddd;
			}
		}

		.hyundai-logo {

			@include make-col;
			@include make-col-span(3.2);
			display: none;
			background: url("../img/hyundai-brand-logo.jpg") center no-repeat;
			background-size: 90%;
			min-height: rem(90);

			@include media-breakpoint-up(md) {
				display: block;
			}

			@include media-breakpoint-up(lg) {
				background-size: auto;
				background-position: bottom right;
			}
		}

		div.scratchpad-toggle {
			display: none;
			position: fixed;
			top: 0.5rem;
			right: 1rem;
			font-size: 0.9rem;

			@include media-breakpoint-up(lg) {
				display: block;
			}
		}

		.top-social {
			display: none;
			position: fixed;
			top: 0;
			right: rem(150);

			a {
				&::before {
					font-size: 1rem;
				}
			}

			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
}

