// ==========================================================================
// Site Footer
// ==========================================================================

footer {
	&.site-footer {
		padding: 2rem 0;
		font-size: 0.9rem;

		h5 {
			padding-top: 2rem;
			margin-bottom: 0;
		}

		@include media-breakpoint-up(lg) {
			padding: 4.5rem 1.5rem;

			h5 {
				padding-top: 0;
				margin-bottom: 2rem;
			}
		}
	}

	.footer-container {

		@extend .container;
	}

	.menu-footer-col-one-container,
	.menu-footer-col-two-container,
	.menu-footer-col-three-container {

		@extend .col-xs-6;
		@extend .col-md-4;
		@extend .col-lg-2;

		ul {

			@extend .list-unstyled;

			a {
				display: block;
			}
		}
	}

	.block-dealer-info {

		@extend .col-xs-12;
		@extend .col-lg-5;
		@extend .col-lg-offset-1;
	}

	.copyright {

		@extend .col-xs-12;
	}

	.widget_strathcom_social_widget {

		@extend .col-xs-12;
		font-size: 1.5rem;

		li {
			padding: 0 0.25rem;
		}
	}

	.copyright,
	.vaporeon-dealer-info p {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}

	.footer-dealer-info,
	.strathcom-footer,
	.footer-info {
		display: none;
	}
}

.hyundai-footer {
	padding: 1.5rem;
	background: #084d8b; // Hyundai Blue
	color: $color-white;
	font-size: 0.9rem;
}
