// stylelint-disable no-eol-whitespace
// Various site layouts. Default variable values:
$grid-sidebar-left-columns: 3 !default;
$grid-sidebar-right-columns: 3 !default;
$grid-columns: 12 !default;
// Expected markup:
//
// <div class="container">
// 	<div class="group">
// 		<div class="group-content">
// 			...
// 		</div>
// 		<div class="group-sidebar">
// 			...
// 		</div>
// 	</div>
// </div>
//
// Layout class should be applied to container element, e.g. <body>

body {
	overflow-x: hidden;
}
// Prevent odd squeezing on very small screens.
.container {
	min-width: 320px;
}
// Use more semantic class name instead of `row`.
.group {

	@extend .row;

	.site-content > & {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
	}
}

.group-sidebar {
	.widget + .widget {
		margin-top: $spacer * 2;
	}
}
// Make page header full-width.
.hentry.page .entry-header {

	@extend .col-xs-12;
}
// Full-width layout
.layout-full-width {
	.entry-content {
		> p,
		> ul,
		> ol,
		> dl {

			@extend .group;
			margin-top: $spacer / 2;
			margin-bottom: $spacer / 2;
		}
	}
}
// Default layout with sidebar to the right
.group-content,
.group-sidebar {

	@extend .col-xs-#{$grid-columns};
}

.layout-sidebar-right {

	@extend .container;

	.group-content {

		@extend .col-xs-#{$grid-columns};
		@extend .col-md-#{$grid-columns - $grid-sidebar-right-columns};
	}

	.group-sidebar {

		@extend .col-xs-#{$grid-columns};
		@extend .col-md-#{$grid-sidebar-right-columns};
	}
}

.layout-sidebar-left {

	@extend .container;

	.group-content {

		@extend .col-xs-#{$grid-columns};
		@extend .col-md-#{$grid-columns - $grid-sidebar-left-columns};
		@extend .col-md-push-#{$grid-sidebar-left-columns};
	}

	.group-sidebar {

		@extend .col-xs-#{$grid-columns};
		@extend .col-md-#{$grid-sidebar-left-columns};
		@extend .col-md-pull-#{$grid-columns - $grid-sidebar-left-columns};
	}
}

.layout-default {

	@extend .container;

	.group-content {

		@extend .col-xs-#{$grid-columns};
	}

	.group-sidebar {
		display: none; // In case sidebar exists in the markup, hide it
	}
}
