// Homepage layout

.home {
	.site-content.layout-full-width {
		.carousel {
			margin: 0 auto;
			max-width: 1260px;
		}
	}
}

section.home-content {

	@include media-breakpoint-up(lg) {
		header {
			margin-bottom: rem(40);

			> h1 {
				margin: rem(50) 0;
			}
		}
	}
}
