// Layout

.site-header {
	position: relative;
	min-width: 320px;
	margin-bottom: $header-margin-bottom;

	& + .site-top-bar {
		margin-top: -$header-margin-bottom;
	}
}
// @include media-breakpoint-up(lg) {
// 	.sticky-header {
// 		.site-header {
// 			position: fixed;
// 			z-index: $zindex-navbar-sticky;
// 			width: 100%;
// 			height: $header-height;
// 		}
// 		.site-header + .site-content {
// 			padding-top: $header-height + $header-margin-bottom;
// 		}
// 		.site-header + .site-top-bar {
// 			padding: $header-height 0 $header-margin-bottom;
// 			@include media-breakpoint-up(lg) {
// 				margin-top: 0;
// 				padding-bottom: 0;
// 			}
// 		}
// 		.site-content.layout-full-width {
// 			padding-top: 0;
// 		}
// 		&.expanded-header {
// 			.site-header {
// 				height: $header-expanded-height;
// 			}
// 			.site-header + .site-top-bar {
// 				padding-top: 0;
// 			}
// 		}
// 	}
// }

.site-branding {

	@extend .col-xs-12;
}

.site-navigation {

	@extend .col-xs-12;

	// .site-primary-navigation {
	// 	@extend .clearfix;
	// 	height: 100%;
	// 	float: right;

	// 	.expanded-header & {
	// 		padding-top: ($header-expanded-height-mobile - $header-mobile-height) / 2;

	// 		@include media-breakpoint-up(lg) {
	// 			padding-top: 0;
	// 		}
	// 	}

	// 	@include media-breakpoint-up(md) {
	// 		margin-left: $spacer * 2;
	// 	}

	// 	@include media-breakpoint-up(lg) {
	// 		margin-left: 0;
	// 	}
	// }

	// .primary-menu {
	// 	@include media-breakpoint-up(lg) {
	// 		float: right;
	// 		margin-top: 0;
	// 	}
	// }

	.btn-trigger-primary-menu {

		@extend .hidden-lg-up;
	}
}

.scratchpad-toggle {
	transition: opacity $transition-slow;

	.label {
		display: none;
	}

	// Desktop toggle (as a primary menu item)
	.primary-menu > & {

		@extend .hidden-md-down;
		width: $header-height;
		height: $header-height;

		> a {
			padding-top: $header-height / 6;
		}
	}

	// Mobile toggle (as a separate toggle in the header)
	.site-primary-navigation > & {

		@extend .hidden-lg-up;
		float: left;
		width: auto;
		height: $header-mobile-height;
		padding: #{$header-mobile-height / 10} .75rem 0;
		border-left: $hr-border-width solid rgba(#fff, .2);

		.expanded-header & {
			border-left: none;
		}

		@include media-breakpoint-up(md) {
			width: $header-height;
			height: $header-height;
			padding-top: #{$header-height / 5};
		}
	}
}

.site-top-contact-bar {
	.contact-bar {

		@extend .hidden-sm-down;
		float: right;
	}
}
// Flexbox layout
// @include media-breakpoint-up(lg) {
// 	.flex {
// 		.site-header {
// 			> .container {
// 				display: flex;
// 				justify-content: space-between;
// 				align-items: center;
// 			}
// 			.site-branding {
// 				flex-basis: 50%;
// 				width: auto;
// 			}
// 			.site-navigation {
// 				flex-basis: 50%;
// 				align-self: flex-end;
// 				margin: 0;
// 			}
// 			.site-primary-navigation {
// 				display: flex;
// 				flex-direction: column;
// 				justify-content: center;
// 			}
// 			.primary-menu {
// 				display: flex;
// 				flex-wrap: wrap;
// 				justify-content: flex-end;
// 				align-items: center;
// 			}
// 		}
// 	}
// }
