// Site footer

.site-footer {
	border-top: $hr-border-width solid $hr-border-color;
	font-size: $font-size-sm;

	> .container {
		padding-top: rem(20);
		padding-bottom: rem(20);

		@include media-breakpoint-up(md) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	a {

		@include hover-focus {
			text-decoration: none;
		}
	}

	p {
		margin-bottom: 1.75em;
	}

	address {
		margin-bottom: 0;
	}

	.strathcom-credit {
		font-size: 0.75em;
	}
}
// Footer dealer info block

.footer-dealer-info {

	@extend .group;
	@extend .hidden-sm-down;

	> div {

		@extend .col-xs-12; // Fallback
	}

	.dealer-description {

		@extend .col-sm-6;

		> h5 {
			margin-bottom: rem(30);
			font-size: $font-size-base;
			font-weight: 300;
			line-height: rem(20);
			text-transform: uppercase;
		}
	}

	.dealer-contact {

		@extend .col-sm-3;
		padding-top: rem(50);
	}

	.dealer-address {

		@extend .col-sm-3;
		padding-top: rem(50);
	}
}
// Footer widgets

.footer-widgets {

	@extend .group;

	.widget {

		@extend .col-xs-6;
		@extend .col-md-4;
		@extend .col-lg-2;

		@include media-breakpoint-up(md) {
			margin-top: rem(30);
		}

		> ul,
		.menu {

			@include reset-list;
			@include clearfix;
		}
	}
}
// Footer social

.footer-social {

	@extend .group;
	padding-top: rem(35);
	padding-bottom: rem(35);
	background-image: url("../img/footer-bg.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
	font-size: rem(40);
	text-shadow: 0 2px 2px rgba(#000, 0.4);
	text-align: center;

	ul {

		@extend .col-xs-12;
		@include reset-list;
		@include clearfix;
	}

	li {
		display: inline-block;

		a {
			display: inline-block;
			margin: 0 rem(10);
			transition: opacity $transition-base;
			color: #fff;

			@include hover-focus {
				opacity: 0.8;
				color: #fff;
			}

			&::before {

				@include fa-icon();
			}
		}

		&.social_contact a::before {
			content: $fa-var-map-marker;
		}

		&.social_googleplus a::before {
			content: $fa-var-google-plus;
		}

		&.social_instagram a::before {
			content: $fa-var-instagram;
		}

		&.social_facebook a::before {
			content: $fa-var-facebook;
		}

		&.social_twitter a::before {
			content: $fa-var-twitter;
		}

		&.social_youtube a::before {
			content: $fa-var-youtube;
		}
	}
}
// Footer credit

.footer-credit {

	@extend .col-xs-12;
}
