// ==========================================================================
// Hero.
// ==========================================================================

.splash {
	max-width: 100%;
	background: #000;
	background-size: cover;
	background-position: top center;

	@include media-breakpoint-up(lg) {
		height: rem(700);
		background-size: cover;
		background-attachment: fixed;
	}

	&.splash-video { // no image on 

		@include media-breakpoint-up(lg) {
			background-image: none !important;
		}
	}

	.hero-content {
		padding: 5%;
		top: 4%;

		@include media-breakpoint-up(md) {
			top: 20%;
			padding: 10%;
		}
	}

	h1,
	h2,
	h3,
	p {
		color: $color-white;
		text-shadow: 0 0 1rem #333;
	}

	.btn {
		display: block;
		margin: 0.5rem;

		@include media-breakpoint-up(lg) {
			display: inline-block;
		}
	}
}

