// ==========================================================================
// Typography.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/post-elements/typography";
// Overrides and custom styling.
// ==========================================================================

@font-face {
	font-family: 'KiaFont';
	src: url('../fonts/kia/designkm.eot');
	src: url('../fonts/kia/designkm.eot?#iefix') format('embedded-opentype'), url('../fonts/kia/designkm.woff') format('woff'), url('../fonts/kia/designkm.ttf') format('truetype');
}

@font-face {
	font-family: 'KiaFontBold';
	src: url('../fonts/kia/designkb.eot');
	src: url('../fonts/kia/designkb.eot?#iefix') format('embedded-opentype'), url('../fonts/kia/designkb.woff') format('woff'), url('../fonts/kia/designkb.ttf') format('truetype');
}

@font-face {
	font-family: 'nissan_brandbold';
	src: url('../fonts/nissan/nissan_brand_bold-webfont.eot');
	src: url('../fonts/nissan/nissan_brand_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nissan/nissan_brand_bold-webfont.woff2') format('woff2'), url('../fonts/nissan/nissan_brand_bold-webfont.woff') format('woff'), url('../fonts/nissan/nissan_brand_bold-webfont.ttf') format('truetype'), url('../fonts/nissan/nissan_brand_bold-webfont.svg#nissan_brandbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nissan_brandlight';
	src: url('../fonts/nissan/nissan_brand_light-webfont.eot');
	src: url('../fonts/nissan/nissan_brand_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nissan/nissan_brand_light-webfont.woff2') format('woff2'), url('../fonts/nissan/nissan_brand_light-webfont.woff') format('woff'), url('../fonts/nissan/nissan_brand_light-webfont.ttf') format('truetype'), url('../fonts/nissan/nissan_brand_light-webfont.svg#nissan_brandlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nissan_brandregular';
	src: url('../fonts/nissan/nissan_brand_regular-webfont.eot');
	src: url('../fonts/nissan/nissan_brand_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nissan/nissan_brand_regular-webfont.woff2') format('woff2'), url('../fonts/nissan/nissan_brand_regular-webfont.woff') format('woff'), url('../fonts/nissan/nissan_brand_regular-webfont.ttf') format('truetype'), url('../fonts/nissan/nissan_brand_regular-webfont.svg#nissan_brandregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

%regular {
	font-family: $font-family-sans-serif;
	font-weight: 400;
}

%light {
	font-family: $font-family-sans-serif;
	font-weight: 300;
}

%bold {
	font-family: $font-family-sans-serif;
	font-weight: bold;
}

#nissan {
	%regular {
		font-family: 'nissan_brandregular', Helvetica, Arial, sans-serif;
	}

	%light {
		font-family: 'nissan_brandlight', Helvetica, Arial, sans-serif;
	}

	%bold {
		font-family: 'nissan_brandbold', Helvetica, Arial, sans-serif;
	}
}

body {
	font-family: $font-family-sans-serif;
	color: $gray-light;

	&#nissan {
		font-family: 'nissan_brandregular', Helvetica, Arial, sans-serif;
	}
}

h1,
h2,
h3,
h4 {

	@extend %bold;
}

h1 {
	font-size: 2rem;
	margin-bottom: 2rem;

	@include media-breakpoint-up(lg) {
		font-size: 3rem;
	}
}

h2 {
	font-size: 1.8rem;

	@include media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
}

h3 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1rem;
	text-transform: uppercase;
	color: $gray-light;
	margin-bottom: 2rem;
}

p {

	@extend %light;
}

a {

	@include hover-focus {
		text-decoration: none;
	}
}

.card-car {
	h5 {
		text-transform: normal;
	}
}
