// ==========================================================================
// Model Landing Pages
// ==========================================================================

#model-landing-page {
  margin: -4rem;

  @include media-breakpoint-up(lg) {
    margin: -6rem 0;
  }

  .heading,
  .background-dark,
  .background-light {
    background: #000;
    padding: 2.5rem;
    color: #fefefe;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #fefefe;
    }
  }

  .background-light { // Change to light colors
    background: #fefefe;
    color: #444;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #444;
    }
  }

  .heading {
    .btn {
      margin: 1rem 0;
    }
  }

  h1 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  h1::before { // B
    display: none;
  }

  h1,
  h5 {
    color: #fefefe;
  }

  h3 {
    padding: 1.5rem 0;
  }

  h4 {
    margin-top: 1rem;
  }

  h5 {
    margin: 0;
    font-size: 0.9rem;
  }

  .description {
    margin: .5rem 0;
  }

  .back-drop {
    background: url("../img/theme-mercedes-a/model-back-drop.jpg") top center fixed no-repeat;
    background-size: cover;
    box-shadow: inset 0 5rem 5rem rgba(0, 0, 0, .5);
  }

  .btn {
    text-align: left;
  }
}

// ==========================================================================
// Vans
// ==========================================================================

#vans-lp {
  margin: -4rem;

  @include media-breakpoint-up(lg) {
    margin: -6rem 0;
  }
  background: #000;
  color: #ccc;

  h1::before { // B
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }

  .gallery-row {
    width: 50%;
    float: left;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .vans-incentives {
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  .gallery {
    img {
      border: none;
    }

    .gallery-item {

      @include media-breakpoint-down(md) {
        width: 90%;
        margin: 5%;
      }
    }
  }

  .tagline {

    @extend %regular;
    position: relative;
    z-index: 99;
    display: block;
    width: 22rem;
    margin: 0 auto;
    padding: 2.5rem;
    background: #000;
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }

  .line {
    width: 100%;
    max-width: 1170px;
    position: relative;
    top: -46px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
  }

  .vans-info {

    @include clearfix;

    .row {
      padding: 2rem 0;
    }

    h1 {
      text-align: center;
      padding: 1rem 0;
      font-size: 2rem;
    }

    a {
      margin-bottom: 1em;
    }

    .col-md-3 {

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    img {
      width: 50%;
      margin: 5% 25%;

      @include media-breakpoint-up(md) {
        max-width: 230px;
        float: left;
        margin: 0 0 0 10%;
      }
    }

    .text {

      @include media-breakpoint-down(md) {
        width: 80%;
        margin-left: 10%;
      }

      @include media-breakpoint-up(md) {
        width: 40%;
        float: right;
        margin-right: 10%;
      }
    }
  }

  .logo-bar {
    display: none;
    background: #999;
    text-align: center;
    clear: both;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .vans-menu {

    @include clearfix;
    display: none;
    background: #fefefe;
    padding: 1rem 0;
    text-align: center;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      display: inline-block;
      font-size: 0.9rem;
      text-align: center;

      img {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .service {
    .container-fluid {
      padding: 2rem;
    }
  }

  .advantage {
    background: url("../img/theme-mercedes-a/contruction-backdrop.jpg") top center fixed no-repeat;
    background-size: cover;
    padding: 7rem 0;
  }

  .upfitter {
    background: url("../img/theme-mercedes-a/mb-vans-colorblock-one.jpg") top center fixed no-repeat;
    background-size: cover;
    padding: 7rem 0;
    text-align: center;
  }

  .upfitter,
  .advantage {
    .inner {

      @extend .container;
    }
  }

  .fluid-boxes {
    .fluid-left-col {
      background: url("../img/theme-mercedes-a/mb-vans-fluid-box-one.jpg") top center no-repeat;
      background-size: cover;
    }

    .fluid-right-col {
      .inner {
        h2 {
          margin-top: 1.5rem;
        }
      }
    }
  }
}

// ==========================================================================
// Smart
// ==========================================================================

#smart-lp {

  @extend %smartl;
  margin: -4rem;

  @include media-breakpoint-up(lg) {
    margin: -6rem 0;
  }
  background: #fff;
  color: #222;
  font-size: 0.95rem;
  line-height: 2;

  .btn {

    @extend %smarts;
  }

  .smart-logo {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      float: right;
      margin: 0 0 2rem 2rem;
    }
  }

  .fixed-nav {
    display: none;
    position: fixed;
    z-index: 99;
    top: 30%;
    left: -200px;
    width: 200px;
    background: #333;
    padding: .5rem 0;
    transition: 1s, ease-out;

    a {
      display: block;
      color: #fff;
      border-left: 4px solid #333;
      padding: .5rem 1rem;

      @include hover-focus {
        color: #fff;
        text-decoration: none;
        border-color: #f6ba35;
      }

      &.arrow-link {
        &::after {
          font-family: 'FontAwesome';
          content: '\f101';
          float: right;
          margin-right: -65px;
          background: #444;
          padding: 10px 20px;
        }
      }
    }

    &:hover {
      left: 0;
      transition: 1s, ease-in;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  h1::before { // B
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {

    @extend %smartb;
    color: #222;
    font-weight: bold;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  .pad-it {
    padding: 3rem 0;

    @include media-breakpoint-up(lg) {
      padding: 8rem 0 2rem;
    }
  }

  .smart-car {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      margin: -12rem 0 0 6rem;
    }

    @include media-breakpoint-up(lg) {
      margin: -12rem 0 0 12rem;
    }
  }

  .grey-bg {
    background: #eee;

    .smart-image {
      img {
        width: 100%;
      }
    }

    .smart-box {
      .padding {
        padding: 5rem 5rem 1.5rem 1.5rem;
      }
    }
  }

  .white-container {
    padding: 2rem 0;
  }

  .top-fluid {
    .fluid-left-col {
      background: url("../img/theme-mercedes-a/smart-passion.jpg") top center no-repeat;
      background-size: 100% !important;
      min-height: 240px;

      @include media-breakpoint-up(md) {
        background-size: cover !important;
        min-height: 35rem;
      }
    }

    .fluid-right-col {
      .inner {
        h2 {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .bottom-fluid {
    .fluid-left-col {
      background: url("../img/theme-mercedes-a/smart-body.jpg") top center no-repeat;
      background-size: 100% !important;
      min-height: 240px;

      @include media-breakpoint-up(md) {
        background-size: cover !important;
        min-height: 35rem;
      }
    }

    .fluid-right-col {
      .inner {
        h2 {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .middle-fluid {
    background-color: #f6ba35;

    .fluid-left-col {
      width: 100%;

      @include media-breakpoint-up(xl) {
        width: 65%;

        .inner {
          padding-top: 4rem;
        }
      }
    }

    .fluid-right-col {
      background: url("../img/theme-mercedes-a/smart-slant.jpg") top center no-repeat;
      background-size: cover;
      display: none;

      @include media-breakpoint-up(xl) {
        display: block;
        width: 35%;
      }
    }
  }

  a.discover {
    display: block;
    text-decoration: none;
    color: #222;
    width: 265px;
    height: 54px;
    padding: 14px 0 0 10px;

    @include hover-focus {
      background: url("../img/theme-mercedes-a/arrow-hover-state.png") top right no-repeat;
      color: #fff;
    }

    &::before {
      display: none;
    }
  }

  &.cabrio {
    .top-fluid {
      .fluid-left-col {
        background: url("../img/theme-mercedes-a/smart-cabrio-yellow.jpg") top center no-repeat;
      }
    }

    .bottom-fluid {
      .fluid-left-col {
        background: url("../img/theme-mercedes-a/cabrio-bottom-shot.jpg") top center no-repeat;
      }
    }

    .middle-fluid {
      .fluid-right-col {
        background: url("../img/theme-mercedes-a/smart-cabrio-slant.jpg") top center no-repeat;
      }
    }
  }
}

#model-landing-page h3 {
  padding: 1rem 0;
  margin-bottom: 0;
}

.specs-data-mercedes {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.offers-page {
  .card-img-top {
    background: #ccc;
    margin: 0;
    width: 100%;
  }

  h4.card-title {
    color: #000;
  }

  h4.card-title::after {
    width: 4rem;
    height: 8px;
    background: #444;
    display: block;
    content: '';
    margin-top: 1.25rem;
  }

  .card-title,
  .list-unstyled {
    padding: 0 2rem;
    text-align: left;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 0 1rem;
    margin-bottom: 2rem;
  }

  .container {
    padding-top: 5rem;
  }

  .btn {
    width: 90%;
    margin: 0 5%;
  }
}

// ==========================================================================
// AMG
// ==========================================================================

.amg-container {
  background: #fff;

  .half-column-layout {
    padding: 2rem 0 .5rem;

    h3 {
      margin-bottom: 0;
    }

    &.left {
      .col:last-child {
        display: none;
      }
    }

    &.right {
      .col:first-child {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      .container-optional {
        max-width: 100% !important;
        padding: 0;

        img {
          width: 100% !important;
        }
      }

      &.left {
        .container-optional {
          padding-left: 8%;
        }

        .col:first-child {

          @extend .col-lg-5;
          padding-top: 1.5rem;
        }

        .col:last-child {

          @extend .col-lg-7;
          display: block;
        }
      }

      &.right {
        .container-optional {
          padding-right: 8%;
        }

        .col:first-child {

          @extend .col-lg-7;
          display: block;
        }

        .col:last-child {

          @extend .col-lg-5;
          padding-top: 1.5rem;
        }
      }
    }
  }

  .main {
    padding: 3rem 0 2rem;

    @include media-breakpoint-up(lg) {
      padding: 8rem 0 6rem;

      p {
        margin: 1.5rem 0;
        color: #666;
      }
    }
  }

  .splash {
    h2 {

      @extend %serif;
    }
  }

  .img-fluid {
    width: 100%;
  }

  .hero {
    position: relative;
    background: url("../img/theme-mercedes-a/AMG/hero-image.jpg") #000 no-repeat;
    background-size: 100%;
    height: rem(550);

    h1 {
      position: absolute;
      top: 65%;
      width: 100%;
      text-align: center;

      &::before {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      background: url("../img/theme-mercedes-a/AMG/hero-image.jpg") fixed center;
      background-size: cover;
      min-height: rem(800);

      h1 {
        top: 78%;
      }
    }
  }

  .button-bar {
    background: #000;
    text-align: center;

    a {
      padding: 2rem 3rem;
      color: #fff;
      display: inline-block;

      &:hover {
        background: #00adef;
        text-decoration: none;
      }
    }
  }

  .details {

    @include clearfix();
    background: url("../img/theme-mercedes-a/AMG/details-backdrop.jpg") fixed;
    background-size: cover;

    .block {
      padding: 1.8rem;
      background: #000;
      color: #fff;

      @include media-breakpoint-up(lg) {
        padding: 3rem;
        margin-top: 10rem;
        width: 50%;
        float: right;
      }

      h3 {
        color: #fff;

        @include media-breakpoint-up(lg) {
          font-size: 2.2rem;
        }
      }
    }
  }

  .cars {
    padding: 3rem 1.5rem;

    @include media-breakpoint-up(lg) {
      padding: 3rem 0rem;
    }

    .col-lg-3 {
      text-align: center;
    }

    h3 {
      text-align: left;
      padding: 1rem 0;

      &::after {
        border-bottom: 10px solid #333;
        margin-top: 1rem;
        width: 4rem;
        content: '';
        display: block;
      }
    }

    h4 {
      font-size: 1.35rem;
      color: #000;
    }
  }

  .video {
    background: url("../img/theme-mercedes-a/AMG/backdrop.jpg") fixed;
    background-size: cover;
    padding: 6rem 0;
    text-align: center;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  h1 {
    color: #fff;
    font-size: 3rem !important;

    span {

      @extend %regular;
      display: block;
      font-size: 1.25rem;
      margin-top: 1rem;
    }
  }

  h2 {
    position: relative;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1rem 1rem 1rem 8%;
    margin: -1rem 0;
    z-index: 99;

    &::before {
      content: "> ";
    }
  }

  h3 {
    color: #000;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;

    b {
    }
  }
}

// ==========================================================================
// Star Accessory
// ==========================================================================

.star-acc {
  h1,
  h3,
  p {
    color: #fff !important;
    text-align: left !important;
  }

  .card {
    border: 0;
    border-radius: inherit;
    margin-bottom: -1rem;
    background-color: #1e1e1e;
  }

  .card-header {
    border-bottom: 0;
    background-color: #000;
    border-bottom: 1px solid #2a2a2a;
  }

  .card-block {
    background-color: #000;
    color: #eee;
  }

  .card:nth-child(odd) .card-header,
  .card:nth-child(odd) .card-block {
    background: #1e1e1e;
  }

  .mb-0 {
    font-size: 1rem;
    margin: 0.33rem 0;
  }

  .mb-0 br,
  .card-header p {
    display: none;
  }

  .mb-0 a {
    color: #fefefe;
    display: block;
  }

  .post-3142 h1,
  .post-3142 h3,
  .post-3142 p {
    color: #fefefe !important;
  }

  h1:before {
    border-top: .4rem solid #fff;
  }

  @media (min-width: 992px) {
    h1:before {
      width: 4rem !important;
    }
  }

  @media (min-width: 750px) {
    .mb-0 a:after {
      content: "\f078";
      float: right;
      font-family: "FontAwesome";
      color: #00adef;
    }
  }

  @media (min-width: 544px) {
    .music-power .col {
      width: 60%;
    }
    .music-power .col:first-child {
      width: 40%;
    }
  }
}





