// ==========================================================================
// Site Header
// ==========================================================================
// If header is sticky, add some padding to the top

body {

	@include media-breakpoint-up(lg) {
		padding-top: 11.5rem;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 9.9rem;
	}
}

.site-header {
	background: $color-black;
	width: 100%;

	@include media-breakpoint-up(lg) {
		position: fixed;
		top: 0;
		z-index: 999;
		padding: 1.5rem 0 0;

		@include media-breakpoint-up(xl) {
			padding: 1.5rem 0;
		}
	}

	.site-logo {

		@include media-breakpoint-up(lg) {
			padding: 2rem 0;
		}
	}

	.contain-lg-up {
		max-width: 1500px;
		margin: 0 auto;

		@include media-breakpoint-up(md) {

			@include make-container();
		}
	}

	.site-top-bar {
		display: none;
		font-size: 0.9rem;
		position: absolute;
		right: 2rem;
		z-index: 999;
		color: $color-white;

		a {
			color: #eee;

			&:hover {
				color: $color-white;
			}
		}

		.top-bar {
			float: left;
		}

		@include media-breakpoint-up(lg) {
			display: block;
		}

		span.scratchpad-toggle {
			display: none;
			float: right;
			margin-left: 0.5rem;
			font-size: 0.9rem;

			.label {
				text-decoration: underline;
			}

			.count {

				@extend %regular;
				background: transparent;
				position: relative;
				top: 0;
				left: 0;
				width: auto;
			}

			> a::before {
				display: none;
			}

			@include media-breakpoint-up(lg) {
				display: inline;
			}
		}

		.widget_nav_menu {
			h5 {
				display: none;
			}

			ul {
				padding-left: 1rem;
			}

			li {
				display: inline-block;
				list-style: none;

				&.lang-item-en {
					&::after {
						content: '/';
						margin: 0 0.25rem;
					}
				}

				&.current_page_item {
					a {
						color: #00adef;
					}
				}
			}
		}

		.widget {
			display: inline-block;
		}
	}

	.btn {
		font-size: 0.85rem;
		padding-bottom: 0;

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	.site-navigation {
		width: 100%;
		border-top: 1px solid lighten($body-bg, 10%);
		border-bottom: 1px solid lighten($body-bg, 10%);

		button {
			color: $color-white;

			&.btn-trigger-primary-menu {
				width: 100%;
				text-align: left;
				padding-left: 3rem;
				text-indent: 0 !important;
				font-size: 1.15rem;

				@include media-breakpoint-up(xl) {
					margin-top: -.5rem;
				}

				&::before {
					text-align: left;
					padding-left: 1rem;
				}
			}
		}

		.primary-menu {
			li {
				a {
					color: $color-white;

					@include hover-focus {
						color: $color-blue;
					}
				}

				&.scratchpad-toggle {
					.count {
						background: $brand-primary-darker;
						top: 0.5rem;
						left: auto;
						right: 5%;
					}

					a::before {
						display: none;
					}

					@include media-breakpoint-up(lg) {
						display: none;
					}
				}
			}
		}

		// Site Nav Breakpoints

		@include media-breakpoint-up(md) {
			border-bottom: none;

			button.btn-trigger-primary-menu {
				&::before {
					font-size: 1.5em;
				}
			}
		}

		@include media-breakpoint-up(xl) {
			border: none;
			padding-left: 1rem;

			.primary-menu {
				padding: 0;

				> li {
					> a {
						padding: 0 1rem 1rem;
					}
				}
			}
		}

		@include media-breakpoint-up(xl) {
			padding-top: 2.25rem;

			.primary-menu {
				padding: 0.35rem 0;

				> li {
					> a {
						padding: 0.4rem;
						font-size: 0.95rem;
					}
				}
			}

			@include make-col();
			@include make-col-span(8.4);
		}

		@include media-breakpoint-up(xl) {
			padding-top: 3rem;
			font-size: 0.9rem;
		}
	}

	.site-branding {

		@include clearfix;

		@include media-breakpoint-down(lg) { // Tablet and below modify width of logo
			.site-logo {
				display: block;
				width: 46%;
				float: left;
				margin-left: 4%;
				padding: 1rem 0;
			}
		}

		@include media-breakpoint-up(md) {
			.logo-fr {
				max-width: 240px;
			}
		}

		@include media-breakpoint-up(xl) {

			@include make-col();
			@include make-col-span(2);
			padding-left: 0;

			.site-logo {
				img {
					width: 257px;
				}
			}
		}

		@include media-breakpoint-up(xl) {
			.site-logo {
				img {
					width: auto;
				}
			}
		}

		.site-name-mobile {

			@extend %serif;
			@extend .text-xs-right;
			width: 46%;
			float: right;
			margin-right: 4%;
			color: $color-white;
			padding: 2rem 0 0;

			@include media-breakpoint-up(sm) {
				padding: 2.5rem 0;
				font-size: 1.25em;
			}

			@include media-breakpoint-up(xl) {
				display: none;
			}
		}
	}

	.mercedes-site-name {

		@extend %serif;
		@extend .text-xs-right;
		display: none;
		color: $color-white;
		padding: 3.8rem 0 0;

		@include media-breakpoint-up(xl) {

			@include make-col();
			@include make-col-span(1.6);
			display: block;
			font-size: 1.25rem;
			padding-right: 0;
			padding-left: 0;
		}
	}

	.mobile-call,
	.lg-contact,
	.mobile-call-tracking a {
		color: $color-white;
		float: right;
		position: relative;
		margin-top: -2.5rem;
		margin-right: 1rem;

		&::before {
			font-family: 'FontAwesome';
			content: '\f095';
			display: block;
			float: left;
			margin-right: 0.5rem;
			color: $color-white;
			font-size: 1.15rem;
		}

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	.lg-contact {
		&::before {
			content: '';
		}
		margin-right: 4.5rem;
		font-size: 0.85rem;
		padding: .25rem .15rem;
	}
}
// Remove French Call
.fr-version {
	.mobile-call,
	.site-header .btn-sm {
		display: none;
	}
}
