// ==========================================================================
// Site Footer
// ==========================================================================
// Footer Grid
// ==========================================================================

.footer-dealer-info,
.strathcom-footer {

	@extend .col-xs-12;

	.dealer-description,
	.dealer-contact,
	.dealer-address {

		@extend .col-md-6;
		@extend .col-xl-12;
	}
}

.footer-widgets {

	@extend .col-xs-12;
	@extend .col-lg-6;
	@extend .col-xl-5;
}

.footer-dealer-info {

	@extend .col-xl-3;
}

.footer-social,
.stay-informed {

	@extend .col-sm-6;
	@extend .col-lg-3;
	@extend .col-xs-12;
	@extend .col-xl-2;
}
// Main Styles
// ==========================================================================

.site-footer {
	padding: 2rem;
	font-size: 1rem;

	a {
		text-decoration: none;
	}

	.strathcom-footer a,
	.dealer-contact a {
		color: $body-color;

		@include hover-focus {
			color: $color-blue;
		}
	}

	span.title {
		display: none;
	}

	.strathcom-footer {
		a {
			color: #fff;
		}
	}

	@include media-breakpoint-up(md) {
		padding: 5rem 2rem;
	}
}

.footer-widgets {
	h5 {
		display: none;
	}

	ul {

		@include reset-list;
		@include clearfix;

		li {

			@extend .col-xs-12;
			@extend .col-md-4;
			padding-left: 0;

			a {
				color: $color-white;

				@include hover-focus {
					color: $color-blue;
					text-decoration: none;
				}

				&::before {
					font-family: 'FontAwesome';
					content: '\f105';
					margin-right: 0.5em;
				}
			}
		}
	}
}

.footer-dealer-info {

	@extend .row;
	@extend .hidden-xs-down;
	padding-top: 1rem;

	h5 {
		font-size: 1rem;
		color: $body-color;
		display: inline;

		&::after {
			content: " | ";
		}
	}

	p {
		display: inline;
	}

	@include media-breakpoint-up(xl) {
		.dealer-contact {
			padding-top: 1rem;
		}
	}
}

.stay-informed,
.footer-social {
	hr {
		visibility: hidden;

		@include media-breakpoint-up(lg) {
			visibility: visible;
			border-top: 0.5rem solid white;
			width: 8rem;
			margin: 0 0 2rem;
		}
	}

	h3 {
		font-size: 2.2rem;
		margin-bottom: 2rem;
	}

	.btn-sm {
		font-size: 0.95rem;
	}
}

.footer-social {
	h3 {
		padding-top: 2.5rem;
		margin-bottom: 0;
	}
}
// Footer Social
// ==========================================================================

.footer-social {
	ul {

		@include reset-list;
		@include clearfix;
	}

	li {
		display: inline-block;

		a {
			background-image: url("../img/theme-mercedes-a/mercedes-t-logo.jpg");
			width: 50px;
			height: 50px;
			display: block;
			background-size: 100%;
			margin-top: 1rem;

			@include hover-focus {
				opacity: 0.8;
			}
		}

		&.social_contact a {
			background-image: url("../img/theme-mercedes-a/mercedes-c-logo.jpg");
		}

		&.social_googleplus a {
			background-image: url("../img/theme-mercedes-a/mercedes-g-logo.jpg");
		}

		&.social_instagram a {
			background-image: url("../img/theme-mercedes-a/mercedes-i-logo.jpg");
		}

		&.social_facebook a {
			background-image: url("../img/theme-mercedes-a/mercedes-f-logo.jpg");
		}

		&.social_youtube a {
			background-image: url("../img/theme-mercedes-a/mercedes-yt-logo.jpg");
		}
	}
}
