// stylelint-disable
// ==========================================================================
// Custom Variables.
// Modify theme-specific variables here.
// ==========================================================================
$body-bg: #f2f2f2;
$body-color: #6c6d75;
// Sidebar size.
// Set the number of columns for left and right sidebar.
// ==========================================================================
$grid-sidebar-left-columns: 3 !default;
$grid-sidebar-right-columns: 3 !default;

