// ==========================================================================
// Common typography.
// ==========================================================================

p,
ul,
ol,
dl {
	margin-bottom: $spacer;
}

.muted {
	color: $gray-light;
}

a {
	transition: color $transition-fast;
}
