// ==========================================================================
// Common utilities.
// ==========================================================================
// WP Standard Editor Classes.
// ==========================================================================

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

img {
	&.aligncenter {
		display: block;
		text-align: center;
		margin: $spacer auto;
	}

	&.alignleft {
		clear: left;
		float: left;
		margin-right: $spacer;
		margin-bottom: $spacer;
	}

	&.alignright {
		clear: right;
		float: right;
		margin-left: $spacer;
		margin-bottom: $spacer;
	}
}
// Responsive Videos
// ==========================================================================

.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

video {
	max-width: 100%;
	height: auto !important;
}
// Responsive images
// ==========================================================================

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.no-photo div {
	width: auto;
	padding-bottom: 75%; /* 4:3 default ratio */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
// Links list.
// ==========================================================================

.links-list {
	> .list {

		@include clearfix;
		@include reset-list;
	}
}
// Arrowed list.
// ==========================================================================

.list.arrowed {
	> li {
		> a {
			$icon-width: 0.75em;
			display: inline-block;
			padding-left: $icon-width;

			&::before {

				@include fa-icon();
				content: $fa-var-caret-right;
				width: $icon-width;
				margin-left: -$icon-width;
			}
		}
	}
}
// Disclaimer.
// ==========================================================================

.disclaimer {
	margin-bottom: $spacer;

	p {
		margin-bottom: $spacer / 2;
		font-size: $font-size-xs;
		color: $gray-light;
	}
}
// Icons.
// ==========================================================================

[class*="icon-"] {
	&::before {

		@include fa-icon();
	}

	> span {
		visibility: hidden;
		font-size: 0;
	}

	&.icon-boxed {
		font-size: 0.8em;

		&::before {
			padding: $spacer * 0.3;
			width: $spacer * 1.35;
			height: $spacer * 1.35;
			color: white;
			border-width: 2px;
			border-style: solid;
			transition: background-color $transition-fast, color $transition-fast;
			line-height: 0.8em;
			text-align: center;
		}
	}
}
// Buttons.
// ==========================================================================

%btn {
	display: inline-block;
	user-select: none;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0.375rem 1rem;
	line-height: 1.75;
	border-radius: 0;
	transition: background-color $transition-fast-btn, border-color $transition-fast-btn, color $transition-fast-btn;

	@include hover-focus {
		text-decoration: none;
	}

	&:active,
	&:focus {
		outline: 0;
	}
}

%btn-block {
	display: block;
	width: 100%;
}

.btn-ghost {
	background-color: transparent;
	color: $body-bg;
	border-color: $body-bg;
	transition: background-color $transition-fast-btn, border-color $transition-fast-btn, color $transition-fast-btn;

	&:hover {
		background: $brand-primary;
		border-color: $brand-primary;
		color: $body-bg;
	}
}
// Bootstrap toggles.
// ==========================================================================

@keyframes spin-in {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin-out {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.layout-vdp { // Custom Collapse VDP 1.0 Only
	[data-toggle="collapse"] {
		cursor: pointer;

		&::before {

			@include fa-icon;
			content: $fa-var-minus-square-o;
			margin-right: 0.5em;
			transform-origin: 50% 45%;
		}

		&.collapsed::before {
			content: $fa-var-plus-square-o;
		}

		&[aria-expanded="true"]::before {
			animation: spin-in 432ms 1;
		}

		&[aria-expanded="false"]::before {
			animation: spin-out 432ms 1;
		}
	}

	.collapse,
	.collapsing {
		transition: height 432ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}
}
// Tabs.
// ==========================================================================

[data-toggle="tabs"] {
	.tab-pane {
		display: none;

		&.active {
			display: block;
		}
	}
}
// Animations.
// ==========================================================================

.fade-slide {

	@include media-breakpoint-up(lg) {
		animation-name: fade-in;
		animation-duration: 1s;
		animation-delay: 1s, 120ms;
		animation-fill-mode: both;
	}
}

.fake {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #fff;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-up-slow {

	@include media-breakpoint-up(lg) {
		animation-name: fade-up-slow;
		animation-duration: 1s;
		animation-delay: 2s, 420ms;
		animation-fill-mode: both;
	}
}

@keyframes fade-up-slow {
	0% {
		opacity: 0;
		transform: translateY(25px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
// Development-only debug styles.
// ==========================================================================

@if $debug == true {

	@include breakpoint-indicator();
}
