// ==========================================================================
// Buttons.
// ==========================================================================

.btn {

	@extend %bold;
	@include rounded(0);
	padding: 1.5rem 2rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	display: block;

	@include media-breakpoint-up(lg) {
		display: inline-block;
	}
}

.layout-srp,
.layout-vdp {
	.btn {
		padding: 1rem;
	}
}
