// ==========================================================================
// Hero.
// ==========================================================================

.splash {
	max-width: 100%;
	background: #000;
	background-size: cover;
	background-position: top center;

	@include media-breakpoint-up(lg) {
		height: rem(800);
		background-size: cover;
		background-attachment: fixed;
	}

	&.splash-video { // no image on

		@include media-breakpoint-up(lg) {
			background-image: none !important;
		}
	}

	.hero-content {
		padding: 5%;
		top: 5%;

		@include media-breakpoint-up(md) {
			top: 30%;
		}

		@include media-breakpoint-up(lg) {
			top: 35%;
		}

		@include media-breakpoint-up(xl) {
			top: 40%;
		}
	}

	&.three-buttons,
	&.four-buttons {
		padding: 0;

		@include media-breakpoint-up(lg) {
			padding: 2rem 0;
		}
	}

	.btn {
		display: block;
		margin: 0.5rem 0;

		@include media-breakpoint-up(lg) {
			display: inline-block;
			font-size: 1.25rem;
			margin: 0.5rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		color: $color-white;
		margin-bottom: 1rem;
	}

	h1,
	h2,
	h3 {
		text-transform: uppercase;
		font-size: 2rem;
		padding: 0 1.5rem;

		&::before {
			border-top: rem(10) solid $body-color;
			width: 10%;
			margin-bottom: 2rem;
		}

		@include media-breakpoint-up(md) {
			font-size: 3rem;
		}
	}

	#querySearchForm,
	#quicksearchForm {
		padding: 1.5rem 0;

		select {
			font-size: 1.25rem;
		}

		.quick-search-button {
			text-transform: uppercase;

			@include media-breakpoint-up(lg) {
				position: relative;
				top: -0.25rem;
			}
		}
	}
}

