// ==========================================================================
// Color scheme template.
// ==========================================================================
@import "config/variables-bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Custom colors.
// ==========================================================================
$body-color: #000; // en: '', fr: ''
$body-bg: #f5f5f5; // en: '', fr: ''
$body-bg-darker: #e0e0e0; // en: '', fr: ''
$color-white: #FFFFFF; // en: '', fr: ''
$color-black: #000000; // en: '', fr: ''
$dropdown-trigger: #000000; // en: '', fr: ''
$brand-primary: #e61d2f; // en: '', fr: ''
$brand-primary-darker: #bb1524; // en: '', fr: ''
$brand-secondary: #575757; // en: '', fr: ''
$brand-secondary-darker: #444; // en: '', fr: ''
$brand-tertiary: #252525; // en: '', fr: ''
$brand-links-color: #e61d2f; // en: '', fr: ''
$brand-links-color-hover: #252525; // en: '', fr: ''
$header-color: #000; // en: '', fr: ''
$header-bg: #fff; // en: '', fr: ''
$header-links-color: #FFF; // en: '', fr: ''
$nav-bg: #252525; // en: '', fr: ''
$nav-links-color: #FFF; // en: '', fr: ''
$nav-links-color-hover: #FFF; // en: '', fr: ''
$nav-links-bg-hover: #3D3D3D; // en: '', fr: ''
$footer-color: #c2c2c2; // en: '', fr: ''
$footer-links-color: #E3E3E3; // en: '', fr: ''
$footer-hover-color: #EEEEEE; // en: '', fr: ''
$footer-bg: #252525; // en: '', fr: ''
$scratchpad-color: $color-black; // en: '', fr: ''
$scratchpad-links-color: $brand-primary; // en: '', fr: ''
$scratchpad-bg: $body-bg; // en: '', fr: ''
$scratchpad-primary: $brand-secondary; // en: '', fr: ''

// Body.
// ==========================================================================

::selection {
  background: $brand-primary;
  color: $color-white;
}

[class*="icon-"]::before {
  color: $brand-primary;
}

body {
  background: $body-bg;
  color: $body-color;

  .home {
    background: #FAFAFA;
  }

  h1,
  h2,
  h4,
  h5,
  h6,
  p {
    color: $body-color;
  }
}

.color-light {
  h1,
  h2,
  h4,
  h3,
  h5,
  h6,
  p {
    color: $color-white;
  }

  a { // on hover, white
    &:hover,
    &:focus {
      color: $color-white;
    }
  }
}

// bpc - Brand Primary Color (+ Darker) (+ Hover).
// ==========================================================================
._bpcolor {
  color: $brand-primary;
}

._bscolor {
  color: $brand-secondary;
}

._bpcolordark {
  color: $brand-primary-darker;
}

// _bpb  - Brand Primary Background (+ Darker).
// ==========================================================================
._bpback {
  background-color: $brand-primary;
}

._bsback {
  background-color: $brand-secondary;
}

._bpbackddark {
  background-color: $brand-primary-darker;
}

// Common Elements.
// ==========================================================================

a,
.page-link,
a.btn-link {
  color: $brand-links-color;

  &:hover,
  &:focus {
    color: $brand-links-color-hover;
  }
}

.btn-primary,
.gform_button,
.cctor-pro-coupons-content .cctor-pro-filters-wrapper input[type=submit],
.application input.button.application_button,
span.btn,
.btn.quick-search-button,
.staff-departments li a,
.staff-member span,
.gform_button {
  border-color: $brand-primary;
  background-color: $brand-primary;
  color: $color-white;

  &:hover,
  &:focus,
  &:active,
  &:hover:focus,
  &:hover:active,
  &:focus:active {
    border-color: $brand-primary-darker;
    background-color: $brand-primary-darker;
    color: $color-white;
  }
}

.btn-secondary {
  border-color: $brand-secondary;
  background-color: $brand-secondary;
  color: $color-white;

  &:hover,
  &:focus,
  &:active,
  &:hover:focus,
  &:hover:active,
  &:focus:active {
    border-color: $brand-secondary-darker;
    background-color: $brand-secondary-darker;
    color: $color-white;
  }
}

// Site Header.
// ==========================================================================

.site-header {
  background-color: $header-bg;
  color: $header-color;

  > a {
    color: $header-links-color;

    &:hover,
    &:focus {
      color: $color-black;
    }
  }

  .scratchpad-toggle {
    a {
      color: $color-black;

      @include media-breakpoint-up(lg) {
        color: $color-white;
      }

      &:hover,
      &:focus {
        color: $color-white;
        background: transparent;
      }
    }

    .count,
    &:hover .count,
    &:focus .count {
      border-color: transparent;
      background: transparent;
      color: $brand-primary;
    }
  }
}

.icon-bar {
  background: black;

  a,
  i::before {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

// Navigation.
// ==========================================================================

.site-primary-navigation {
  @include media-breakpoint-up(lg) {
    background: $nav-bg;
  }
}

.primary-menu {
  &._bpback {
    background: $color-white;

    @include media-breakpoint-up(lg) {
      background: transparent;
    }
  }
  > li {
    > a {
      color: $color-black;
      border-bottom: 1px solid #ccc;

      &:hover {
        color: $brand-primary;
      }

      @include media-breakpoint-up(lg) {
        color: $nav-links-color;
        border: 0;

        &:hover {
          color: $nav-links-color;
          background: $nav-links-bg-hover !important;
        }
      }
    }

    // Dropdown Menu
    .dropdown-menu {
      background: $color-white;

      a {
        color: $color-black;
      }

      li {
        @include media-breakpoint-down(md) {
          background: $color-white;

          a {
            background: white;
            color: $color-black;
          }
        }
      }

      .dropdown-menu {
        > li {
          @include media-breakpoint-down(md) {
            background: #fff;

            a {
              color: $color-black;
            }
          }
        }
      }
    }

    // Mega Menu Color & Border
    &.mega-menu {
      > a {
        @include media-breakpoint-up(lg) {
          border-bottom: 12px solid $nav-bg !important;
        }
      }
      > .dropdown-menu {
        background: $color-white;
        border-top: none;
      }
    }
  }
}

// Arrow (MOBILE)
.dropdown-trigger::before {
  color: $dropdown-trigger;
}

.btn-trigger-primary-menu::before {
  color: $color-white;
}

// Site Footer.
// ==========================================================================

.site-footer {
  background-color: $footer-bg;
  color: $footer-color;

  p,
  h5,
  label {
    color: $footer-color;
  }

  a {
    color: $footer-links-color;

    &:hover,
    &:focus {
      color: $footer-hover-color;
    }
  }

  .bar-1 {
    background: rgba(0, 0, 0, 0.2);
    color: #eee;

    @include media-breakpoint-up(sm) {
      color: #777;
    }
  }

  .bar-2 {
    background: rgba(0, 0, 0, 0.4);
    color: #666;

    a {
      color: #666;

      &:hover {
        color: #fff;
      }
    }
  }

  .social {
    a {
      background: rgba(255, 255, 255, 0.1);

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      i {
        &::before {
          color: #e0e0e0;
        }
      }
    }
  }
}

// Scratchpad.
// ==========================================================================

.scratchpad {
  color: $scratchpad-color;
  background-color: $scratchpad-bg;

  header h3 .count {
    color: $color-white;
    background: $scratchpad-primary;
    border-color: $scratchpad-primary;
  }

  ul .remove,
  ul .view,
  a.close-btn {
    &:hover {
      background-color: $scratchpad-primary;
    }
  }

  a.close-btn,
  ul .remove,
  ul .view,
  ul li,
  ul li:first-child {
    border-color: $body-bg-darker;
  }
}

// Pagination.
// ==========================================================================

.page-item.active .page-link {
  &,
  &:focus,
  &:hover {
    background-color: $brand-links-color;
    border-color: $brand-links-color;
  }
}

// Job plugin.
// ==========================================================================

.entry-content {
  .single_job_listing {
    .meta {
      .jop-posting,
      .full-time,
      .part-time,
      .temporary,
      .internship,
      .freelance {
        background-color: $brand-primary;
      }
    }
  }
}

// Carousel.
// ==========================================================================

.carousel-direction-nav a {
  color: $gray;

  &::before {
    background-color: $color-white;
  }
}

.carousel-control-nav a.carousel-active {
  border-color: $brand-primary;
  background: $brand-primary;
}

.carousel-control-nav a {
  border-color: $brand-primary;

  &:hover {
    background: $brand-primary;
  }
}

// Incentives Page.
// ==========================================================================

.srp-vi-filters .filter-payment output .value,
.srp-vi-results .actions a:hover,
.srp-vi-results .details [data-trigger="price-tooltip"] {
  color: $brand-primary;
}

.srp-vi-results .details,
.custom-checkbox-list label,
.custom-radio-list label {
  background: $brand-primary;
  border-color: $brand-primary;
  color: $color-white;

  &::after {
    display: none;
  }
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus {
  background: $brand-primary-darker;
  border-color: $brand-primary-darker;
  color: $color-white;
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus,
.srp-vi-results header .table-actions a.active {
  background: $brand-primary-darker;
  border-color: $brand-primary-darker;
  color: $color-white;
}

.filter-options .checkbox-list,
.filter-years .radio-list,
.custom-radio-list {
  input:checked {
    + label {
      border-color: $brand-primary-darker;
      background: $brand-primary-darker;
    }
  }
}

// SRP/VDP.
// ==========================================================================

.layout-vdp-twenty-seventeen {
  .pricing-table ul > li span {
    &.price {
      color: $brand-primary;
    }
    &.msrp {
      color: $brand-tertiary;
    }
  }
}

// Filter Links
.filter-stock-type a.state-active,
.filter-stock-type a:hover,
.filter-stock-type:hover a.state-active:hover {
  color: $brand-links-color;
}

// Ribbons
.search-results {
  .special-deal {
    background: $brand-tertiary;
  }

  .savings-price {
    color: $brand-tertiary;
    border-color: $brand-tertiary;
  }
}

// Toggle
._bpbackinv {
  color: $brand-primary;
  background-color: transparent;

  &.active,
  &:hover,
  &:focus {
    color: $color-white;
    background-color: $brand-primary;
  }
}

// Custom
// ==========================================================================

.primary-menu {
  .nav-btn a,
  li.mega-menu .dropdown-menu .nav-btn-sm a {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: $color-white;

    &:hover,
    &:focus {
      border-color: $brand-primary-darker;
      background-color: $brand-primary-darker;
    }
  }
}

.why-buy-boxes {
  .col-md-6 {
    > div {
      border-left: 10px solid $brand-primary;
    }
  }
}

.footer-bar {
  background: $brand-primary;
}

.the-review {
  p:nth-of-type(1) {
    font-size: 1.35rem;

    &::before,
    &::after {
      color: $brand-primary;
    }
  }
}

.hero {
  background: $brand-primary;
  color: $color-white;
}

.page-nav-links {
  a {
    color: #000;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

.icon-circle.orange {
  color: $brand-primary;
  border-color: $brand-primary !important;
}

.bg--grey-400 {
  background-color: #757575;

  p {
    color: $color-white;
  }
}

.bg--grey {
  background-color: #dbdbdb;
}

.bg--brand-secondary-light {
  background-color: #3f3f3f;
  color: #ccc;

  h3,
  i:before {
    color: #ccc;
  }

  p,
  h2,
  h3 span {
    color: $color-white;
  }
}

.bg--brand-primary {
  background: $brand-primary;
  color: #FFFFFF;

  h2,
  h3,
  p {
    color: $color-white;
  }

  i:before {
    color: $color-white;
  }
}

.bg--brand-secondary-lighter {
  background-color: #585858;
  color: $color-white;

  h2,
  h3,
  strong,
  p {
    color: $color-white;
  }
}

.bg--brand-secondary-lightest {
  background-color: #727272;
}

.color-brand-primary {
  color: $brand-primary;
}

.sash {
  &--primary {
    @include media-breakpoint-down(md) {
      background-color: $brand-primary;
    }

    span {
      color: $color-white;
      background-color: $brand-primary;
    }
  }
}

.vdp-accordion-section ul li a::after {
  color: $brand-primary;
}

.ctas {
  a {
    &.btn-success {
      background: #2ece32;

      &:hover {
        background: darken(#2ece32, 8%);
      }
    }
    &.btn-primary {
      background: $brand-primary;

      &:hover {
        background: $brand-primary-darker;
      }
    }
    &.btn-grey {
      background: #E3E3E3;
      color: #555;

      &:hover {
        background: darken(#E3E3E3, 8%);
      }
    }
  }
}

.panel-title:after,
.whybuy--valueprops--prop h3,
.whybuy--more-reasons--text div h2 {
  color: $brand-primary;
}

.whybuy--more-reasons--title {
  background: $brand-primary;
}

.icon-bar a, .icon-bar i::before  {
  color: #fff !important;
}

.vdp-cta-block a, .vdp-cta-block a::after {
  color: #fff !important;
}
