{% extends "base.twig" %}

{% block head %}
	<script>
		(function (i, s, o, g, r, a, m) {
			i['ShiftAnalyticsObject'] = r; i[r] = i[r] || function () {
						(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//mbca-tagging-prod.azureedge.net/scripts/sd.js', 'sd');
		sd('create', 'MBCA', '{{ dealer_oem_id }}', 'STRATHCOM');
		sdDataLayer = {
			pageType: 'Vehicle Listing',
			websiteTier: 'Tier 3',
			pageBrand: 'Mercedes-Benz',
			language: 'en',
			dealerZipCode: '{{ dealer_location.postal }}',
			dealerState: '{{ dealer_location.region }}',
			trafficType: 'Typed/Bookmarked'
		};
		sd('send', 'pageview');

		window.onload = function(){
            jQuery('#sales-tel').click(function(){
                // Click-to-call event
                sdDataLayer = {
                    clickToCallDepartment: 'Sales',
                    events: 'clickToCall'
                };
                sd('send');
            });

            jQuery('#service-tel').click(function(){
                // Click-to-call event
                sdDataLayer = {
                    clickToCallDepartment: 'Service',
                    events: 'clickToCall'
                };
                sd('send');
            });

            jQuery('#parts-tel').click(function(){
                // Click-to-call event
                sdDataLayer = {
                    clickToCallDepartment: 'Parts',
                    events: 'clickToCall'
                };
                sd('send');
            });

            jQuery('.dealer-contact').find('a[href*="tel"]').click(function(){
                // Click-to-call event
                sdDataLayer = {
                    clickToCallDepartment: 'Other',
                    events: 'clickToCall'
                };
                sd('send');
            });

			jQuery('.filters-panel').on('click', 'button', function(){
				sdDataLayer = {
					typedSearchContent: '',
					events: 'typedSearch'
				};
				sd('send');
			});

			function filterList(){
				var filters = {
					'status': 'Mixed'
				};

				jQuery('.filter-stock-active a').each(function(){
					var filter,
							value;

					filter = jQuery(this).data('filter');
					value = jQuery(this).text();

					if(filter === 'stock_type') {
						filter = 'status';
					} else if (filter === 'is_certified') {
						filter = 'status';
						value = 'CPO';
					}

					filters[filter] = value;
				});

				// Filter Click Event
				// I don't think we have access to this information in the template.
				sdDataLayer = {
					countSearchResults: strathcomSearch.vehicles.state.totalRecords,
					filterSearch: filters,
					events: 'filterSearch'
				};
				sd('send');
			}

			jQuery('.filters-panel').on('click', 'a', function(){
				setTimeout(filterList(), 700);
			});
			jQuery('.filters-panel select').on('change', function(){
				setTimeout(filterList(), 700);
			});
			jQuery('.filter-stock-active').on('click', 'a', function(){
				setTimeout(filterList(), 700);
			});
			jQuery('.filter-stock-type').on('click', 'a', function(){
				setTimeout(filterList(), 700);
			});
			setTimeout(filterList(), 100);
		}
	</script>

	<script>
	window.onload = function(){
		var parent = jQuery('[data-value="Mercedes-Benz"]').parent('li').parent('ul');
		var mercedes = jQuery('[data-value="Mercedes-Benz"]').parent('li');
		var smart = jQuery('[data-value="smart"]').parent('li');

		smart.prependTo(parent);
		mercedes.prependTo(parent);
	}
	</script>
{% endblock %}

{% block top_bar %}
	{% include 'components/featured-image.twig' with { classname: 'featured-image' } %}
	{% include 'components/top-bar.twig' %}
{% endblock %}

{% block content %}
	{% include 'components/content-inventory.twig' %}

	<div class="group layout-srp" data-trigger="srp"></div>
{% endblock %}
