// ==========================================================================
// Buttons.
// ==========================================================================

.btn {
	border-radius: 0;
	padding: 0.5rem 2rem;
	font-size: 1.25rem;

	&::after {
		font-family: 'FontAwesome';
		content: "\f101";
		margin-left: 1.5rem;
	}
}
