{% extends "widgets/base-widget.twig" %}

{% block content %}
	<section class="cta-section {{ columns_number }} {{ custom_class }}" style="{% if background_hex_value -%}{{ macros.background_hex_value( background_hex_value ) }}{%- endif %}">
		<div class="container-optional">

			{% if buttons -%}
					{%- for btn in buttons -%}
					<div class="col">
						{{ macros.button( btn, btn.class ) }}
					</div>
					{% endfor -%}
			{%- endif %}

		</div>
	</section>
{% endblock %}
