{% extends "widgets/base-widget.twig" %}

{% block content %}
	<div class="fake" {{ macros.background_image( background_image_src ) }}><div style="height: {{ height }}px;"></div></div>
{% endblock %}
