// ==========================================================================
// Map.
// ==========================================================================

#map-container {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.map-flag {
	display: none;
	width: 20%;
	text-align: left;
	position: relative;
	top: -80%;
	z-index: 9;
	float: left;
	padding: 1rem 2.5rem;

	h3 {
		font-size: 1.55rem;
		margin-bottom: 0.6rem;
	}

	.btn {
		width: 100%;
		display: block;
	}

	.icon-map {
		float: left;
		position: relative;
		top: 1.1rem;
		font-size: 2.4rem;
		padding-right: 0.8rem;
	}

	p {
		font-size: 0.85rem;
	}

	@include media-breakpoint-up(lg) {
		display: block;
		left: 10%;
	}

	@include media-breakpoint-up(xl) {
		display: block;
		left: 10%;
	}
}
