// ==========================================================================
// Content blocks styling.
// ==========================================================================
// Import common styles for all content blocks.
// ==========================================================================
// Instead of importing all content blocks at once, only the ones that are
// needed in the theme can be imported, like:
//
// @import "../../common/content-blocks/color-block";
// @import "../../common/content-blocks/container-slant";
// ...

@import "../../common/content-blocks/all";
// Overrides and custom styling.
// ==========================================================================

.colorblock-section {

	@include media-breakpoint-up(lg) {
		padding: 8rem 2.5rem;
	}

	&.home-colorblock {
		p a {
			display: block;

			@include media-breakpoint-up(lg) {
				width: 20rem;
				margin: 1rem auto;
			}
		}
	}
}

.fluid-boxes {
	&.content-right,
	&.content-left {
		.fluid-left-col,
		.fluid-right-col {

			@include media-breakpoint-up(lg) {
				min-height: 40rem;
			}
		}
	}

	.fluid-left-col,
	.fluid-right-col {
		.inner {
			min-height: 20rem;

			@include media-breakpoint-up(lg) {
				min-height: 40rem;
			}
		}
	}
}
// Sidebar Nav

#float-nav {
	display: none;
	position: fixed;
	z-index: 99;
	top: 40%;
	width: rem(250);
	right: rem(-175);
	text-transform: uppercase;

	@include media-breakpoint-up(lg) {
		display: block;
	}

	a {
		display: block;
		position: relative;
		right: -0.7rem;
		padding: rem(15);
		margin-bottom: 0.2rem;
		font-size: 0.9em;
		transition: 1s, ease-out;

		i {
			font-size: 1.25rem;
			padding: 2% 10% 2% 5%;
		}

		&:hover {
			right: rem(150);
			transition: 1s, ease-out;
			text-decoration: none;
		}
	}
}
