// ==========================================================================
// Typography.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/post-elements/typography";
// Overrides and custom styling.
// ==========================================================================

%condensed {
	font-family: $headings-font-family;
	font-weight: 300;
}

h1 {

	@include media-breakpoint-up(lg) {
		font-size: 3rem;
	}
}

h2 {

	@include media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
}

h3 {

	@include media-breakpoint-up(lg) {
		font-size: 2rem;
	}
}

h4 {

	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
	}
}

b,
strong{
	font-weight: 700;
}
