// ==========================================================================
// Homepage.
// ==========================================================================

.main-container {
	padding-top: 3.5rem;
}

.home-colorblock {
	background-size: 100%;
	background-attachment: scroll !important;
	padding: 3rem 1rem;

	.inner {

		@extend .col-md-8;
		@extend .col-lg-5;
	}

	@include media-breakpoint-up(md) {
		padding: 3.5rem 3rem;
		min-height: rem(650);
	}
}

.main-home {
	h1,
	h2,
	h3,
	h5 {
		text-align: center;
	}
	padding: 3rem 1rem;

	@include media-breakpoint-up(md) {
		padding: 7rem 0;
	}
}

.incentive-blocks {
	padding: 2rem 1rem;

	@include media-breakpoint-up(md) {
		padding: 2rem 0;
	}
}

.slant-stack {
	&.angled-top .slant-bottom {

		@extend .color-dark;
		background-size: cover;
		background-attachment: fixed;

		@include media-breakpoint-up(lg) {
			min-height: rem(680);
		}

		.slant-copy {

			@extend .text-xs-center;
			@extend .text-lg-right;
		}

		.button-block {

			@extend .pull-lg-right;
			display: block;

			@include media-breakpoint-up(lg) {
				width: rem(320);
			}

			a {
				margin-bottom: 0;
				display: block;
			}
		}
	}
}
// Fluid Boxes - additional padding
.fluid-boxes .fluid-left-col .inner,
.fluid-boxes .fluid-right-col .inner {

	@include media-breakpoint-up(lg) {
		padding-top: 5rem;
	}
}

