// stylelint-disable max-empty-lines, at-rule-empty-line-before
// ==========================================================================
// VDP print styles
// ==========================================================================

@import "config/functions";
$brand-color: #ccc;

@mixin clearfix() {
	&::after {
		display: table;
		clear: both;
		content: "";
	}
}

.visible-print-block {
	display: none !important;
}

@media print {
	.visible-print-block {
		display: block !important;
	}

	.hidden-print {
		display: none !important;
	}

	a {
		color: black;
		text-decoration: none;
	}

	.single-inventory {
		$vdp-padding: rem(30);
		font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;

		* {
			box-sizing: border-box;
		}

		> *,
		.site-navigation,
		.site-branding h1,
		.site-top-bar,
		.site-footer .dealer-description,
		.footer-social,
		.footer-widgets,
		.product-brochure-header,
		.product-brochure-utils,
		.pricing-table .savings-price .price-breakdown,
		.pricing-table .in-stock-indicator,
		.pricing-table .inner ul li:nth-child(3),
		.image-carousel,
		.image-count,
		.carousel-direction-nav,
		.similar-vehicles,
		.scratchpad,
		.notifier,
		.map-block,
		.similar-vehicles,
		.vdp-accordion-section h6,
		.vdp-accordion-section ul li a[data-toggle=collapse],
		#Specifications,
		.carproof-logo-block,
		.vdp-dealer-info,
		.vdp-heading a,
		.vdp-breadcrumbs,
		.vdp-share,
		.vdp-cta-block,
		.silent-salesman-lead,
		.incentives-learn-more,
		#currentIncentives,
		#vehicle-videos,
		#vdp_payment_calculator {
			display: none;
		}

		.site-header {
			background-color: transparent;

			.mobile-call {
				display: none;
			}

			.site-logo {
				display: none;
			}
		}

		.page-wrapper {
			display: block;
			position: relative;
			width: rem(920);
			margin: 0 auto;
			padding: $vdp-padding;
			border: rem(10) solid $brand-color;
		}

		.vdp-heading {
			width: 100%;
			margin-bottom: rem(20);
		}

		.product-gallery {
			float: left;
			width: 30%;
			height: rem(240);
			margin: 0;
		}

		.image-slider {
			li {
				visibility: hidden;

				&:first-child {
					visibility: visible;
				}
			}
		}

		.pricing-table,
		.specs-table {
			width: 67%;
			margin-left: 33%;
		}

		.pricing-table {
			margin-top: rem(20);
		}

		#vehicleOverview,
		.product-equipment {
			clear: both;
			width: 100%;
		}

		// Style components.
		.site-branding {
			.site-logo {
				&,
				img {
					display: block;
				}

				img {
					max-height: 6em;
				}
			}
		}

		.site-footer {
			position: absolute;
			top: $vdp-padding;
			right: $vdp-padding;
			background-color: transparent;
			color: black;
			padding-top: 1rem;
			border-top: 1px solid $brand-color;

			.strathcom-footer {
				a {
					color: #000;
				}
			}
		}

		.vdp-heading {
			text-align: center;
			padding-top: 5rem;

			h2 {
				margin: rem(10) auto 0;
				font-size: rem(38);
			}

			h3 {
				margin: 0 auto rem(10);
				font-size: rem(28);
				font-weight: normal;
			}
		}

		.pricing-table {
			margin-bottom: rem(10);
			padding: rem(10) 0;
			font-size: rem(18);
			text-align: center;
			background-color: $brand-color;

			.retail-price {
				display: block;
			}

			.price {
				display: block;
				font-size: rem(36);
				margin: 0;

				small {
					font-size: rem(15);
					display: block !important;
				}
			}

			.savings-price {
				display: block;
				color: #000 !important;
			}
		}

		.specs-table ul {

			@include clearfix;
			margin: rem(10) 0;
			padding: 0;
			list-style: none;

			li {
				float: left;
				width: 50%;
			}
		}

		.vdp-accordion-section ul,
		.pricing-table ul {
			list-style: none;
		}

		.product-gallery {
			overflow: hidden;

			ul,
			li {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			ul,
			li,
			img {
				max-width: 100% !important;
				height: auto !important;
			}
		}

		#vehicleOverview {
			.tabs-nav {
				display: none;
			}

			.tab-pane {
				padding: rem(20) 0 0;
				margin: rem(20) auto 0;
				border-top: 1px solid $brand-color;

				&::before {
					display: block;
					content: attr(title);
					font-weight: bold;
					font-size: 120%;
				}
			}

			#specifications {
				display: none;
			}

			#vehicleOverview {
				* {
					font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
				}
			}
		}

		.vdp-accordion-section {
			border-top: 1px solid $brand-color;

			h4 {
				margin: rem(15) auto;
				font-weight: bold;
				font-size: 120%;
			}

			ul {

				@include clearfix;
				list-style: none;
				margin: rem(10) rem(-10);
				padding: 0;
			}

			li {
				float: left;
				width: 25%;
				padding: 0 rem(10);

				&:nth-child(4n+1) {
					clear: both;
				}
			}
		}
	}
}
