// stylelint-disable color-no-invalid-hex
// ==========================================================================
// Color scheme template.
// ==========================================================================

@import "config/variables-bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// Custom colors.
// ==========================================================================
// $body-color: #body-color;
// $body-bg: #body-bg;
$color-white: #fff; // en: '', fr: ''
$color-black: #000; // en: '', fr: ''
$brand-primary: #26ced9; // en: '', fr: ''
$brand-secondary: #0abfca; // en: '', fr: ''
$brand-tertiary: #c60e2c; // en: '', fr: ''
$brand-primary-darker: #1ea5ae; // en: '', fr: ''
$brand-links-color: #26ced9; // en: '', fr: ''
$brand-links-color-hover: #1ea5ae; // en: '', fr: ''
$header-color: #fff; // en: '', fr: ''
$header-bg: #212325; // en: '', fr: ''
$header-links-color: #26ced9; // en: '', fr: ''
$footer-color: #848484; // en: '', fr: ''
$footer-links-color: #26ced9; // en: '', fr: ''
$footer-hover-color: #0f5257; // en: '', fr: ''
$footer-bg: #fff; // en: '', fr: ''
$footer-primary: #848484; // en: '', fr: ''
// bpc - Brand Primary Color (+ Darker) (+ Hover).
// ==========================================================================
._bpcolor {
	color: $brand-primary;
}

._bscolor {
	color: $brand-secondary;
}

._bpcolordark {
	color: $brand-primary-darker;
}
// _bpb  - Brand Primary Background (+ Darker).
// ==========================================================================
._bpback {
	background-color: $brand-primary;
}

._bsback {
	background-color: $brand-secondary;
}

._bpbackddark {
	background-color: $brand-primary-darker;
}
// Common Elements.
// ==========================================================================

a,
.page-link {
	color: $brand-links-color;

	&:hover,
	&:focus {
		color: $brand-links-color-hover;
	}
}

.filter-stock-type a.state-active,
.filter-stock-type a:hover,
.filter-stock-type:hover a.state-active:hover {
	color: $brand-links-color;
}
// _bpbackinv - Brand Primary Background Inverted (for inverted buttons).
._bpbackinv {
	color: $brand-links-color;
	background-color: transparent;

	&.active,
	&:hover,
	&:focus {
		color: $color-white;
		background-color: $brand-links-color;
	}
}

.btn-primary,
.gform_button,
.cctor-pro-coupons-content .cctor-pro-filters-wrapper input[type=submit],
.application_button {
	border-color: $brand-primary;
	background-color: $brand-primary;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $brand-primary-darker;
		background-color: $brand-primary-darker;
	}
}

.product-brochure .product-info dt {
	color: $brand-primary;
}

.card-car {
	&:hover,
	&:focus {
		h5 {
			color: $brand-primary;
		}
	}
}

.site-header .scratchpad-toggle {
	.count {
		border-color: $header-bg;
		background: $brand-tertiary;
	}

	&:hover,
	&:focus {
		.count {
			color: $color-white;
			background: $brand-primary;
		}
	}
}

.search-results {
	.special-deal {
		background: $brand-tertiary;
	}

	.savings-price {
		color: $brand-tertiary;
		border-color: $brand-tertiary;
	}
}
// Tabs.
// ==========================================================================

.tabs-nav {
	border-bottom-color: $brand-primary-darker;

	a:hover {
		color: $brand-primary-darker;
	}

	a.active,
	a.active:hover,
	a.active:focus,
	a:focus,
	a:focus:hover {
		color: $color-white;
		background-color: $brand-primary-darker;
	}
}
// Pagination.
// ==========================================================================

.page-item.active .page-link {
	&,
	&:focus,
	&:hover {
		background-color: $brand-links-color;
		border-color: $brand-links-color;
	}
}
// Site header.
// ==========================================================================

.site-header {
	color: $header-color;
	background-color: $header-bg;

	a {
		color: $header-links-color;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}
}
// Navigation.
// ==========================================================================

.primary-menu {
	a {
		color: $color-white;
	}

	@include media-breakpoint-up(lg) {
		> li {
			background-color: $header-bg;

			> a:hover,
			> a:focus {
				color: $header-links-color;
			}
		}
	}
}

.dropdown-menu {

	@include media-breakpoint-up(lg) {
		> li {
			> a {
				color: $color-white;
				background-color: $brand-primary;
			}

			> a:hover,
			> a:focus {
				color: $color-white;
				background-color: $brand-primary-darker;
			}
		}
	}
}

.group-sidebar .widget_nav_menu {
	.menu > li > a {
		background-color: $brand-primary;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	.sub-menu a {
		&:hover,
		&:focus {
			background-color: $brand-primary-darker;
		}
	}
}
// Site footer.
// ==========================================================================

.site-footer {
	color: $footer-color;
	background-color: $footer-bg;

	a {
		color: $footer-color;

		&:hover,
		&:focus {
			color: $footer-color;
		}
	}

	h5 {
		color: $footer-primary;
	}
}

.footer-widgets {
	a {
		color: $footer-links-color;

		&:hover,
		&:focus {
			color: $footer-hover-color;
		}
	}
}
// Scratchpad.
// ==========================================================================

.scratchpad {
	color: $header-color;
	background-color: $header-bg;

	a {
		color: $header-color;

		&:hover,
		&:focus {
			color: $brand-primary;
		}
	}

	h5 {
		color: $header-color;
	}

	ul {
		.remove,
		.view {
			&:hover {
				background-color: $header-color;
			}
		}
	}
}
// Staff plugin.
// ==========================================================================

.staff-departments {
	li {
		a {
			background-color: $brand-primary;
			border-color: $brand-primary;

			&:hover,
			&:focus,
			&:active,
			&:hover:focus,
			&:hover:active,
			&:focus:active {
				background-color: $brand-primary-darker;
				border-color: $brand-primary-darker;
			}
		}
	}
}

.staff-member {
	> figure {
		> a {
			span {
				background-color: $brand-primary;
			}
		}
	}
}
// Job plugin.
// ==========================================================================

.entry-content {
	.single_job_listing {
		.meta {
			.jop-posting,
			.full-time,
			.part-time,
			.temporary,
			.internship,
			.freelance {
				background-color: $brand-primary;
			}
		}
	}
}

