// ==========================================================================
// Buttons.
// ==========================================================================

.btn {

	@include rounded(2px);
	transition: background-color $transition-slow-btn, border-color $transition-slow-btn, color $transition-slow-btn;
	white-space: normal;
}

.btn-primary,
.btn-secondary {

	@include media-breakpoint-down(md) {
		display: block;
		margin-bottom: 0.5rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 1.1rem;
	}

	&::before {
		font-family: 'FontAwesome';
		content: "\f105";
		margin-right: 0.5rem;
	}
}

.btn-link {
	color: $color-grey;
	border-bottom: 1px solid $color-grey;

	@include hover-focus {
		color: $color-blue;
		border-bottom: 1px solid $color-blue;
		text-decoration: none;
	}
}

.btn-warning {
	border: 2px solid #fff;
	background: #f6ba35;
	color: #fff;
	text-align: left;
	min-width: 12rem;

	&::after {
		font-family: 'FontAwesome';
		content: "\f105";
		margin-right: 0.5rem;
		float: right;
	}

	&:hover {
		background-color: #f7c75d;
		border-color: #fff;
		color: #000;
	}

	&:focus {
		background-color: #f3a801;
		border-color: #fff;
		color: #fff;
	}
}
