// ==========================================================================
// Content blocks styling.
// ==========================================================================
// Import common styles for all content blocks.
// ==========================================================================
// Instead of importing all content blocks at once, only the ones that are
// needed in the theme can be imported, like:
//
// @import "../../common/content-blocks/color-block";
// @import "../../common/content-blocks/container-slant";
// ...

@import "../../common/content-blocks/all";
// Overrides and custom styling.
// ==========================================================================
// Default Layout
.layout-default,
.layout-full-width {
	.group > .page > .entry-header .entry-title,
	.entry-content .content-sidebar h1 {

		@extend .text-xs-center;
		margin: 2rem 0;

		&::before {
			margin: 0 auto 2rem;
		}

		@include media-breakpoint-up(md) {
			margin: 4rem 0;
		}
	}
}
// Shortcode Edits for Landing Pages.
.content-right-col,
.content-left-col {
	.btn {

		@extend .text-xs-left;
		font-size: 1.1rem;
	}
}

.colorblock-section {
	color: $color-white;
	padding: 2rem;
	max-width: 100%;
	overflow: hidden;

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $color-white;
	}

	@include media-breakpoint-up(md) {
		padding: 4.5rem 5rem;
	}
}

.half-column-layout,
.three-column-layout,
.two-column-layout,
.full-column-layout {
	.container-optional {

		@extend .container;
	}
	padding-top: 2rem;
	padding-bottom: 2rem;

	@include media-breakpoint-up(md) {
		padding-top: 4.5rem;
		padding-bottom: 4.5rem;
	}
}
// Sidebar Nav

#float-nav {
	display: none;
	position: fixed;
	z-index: 99;
	top: 40%;
	width: rem(250);
	right: rem(-175);

	@include media-breakpoint-up(lg) {
		display: block;
	}

	a {
		display: block;
		position: relative;
		right: -0.7rem;
		padding: rem(15);
		margin-bottom: 0.2rem;
		background: $color-black;
		color: $color-white;
		font-size: 0.9em;
		transition: 1s, ease-out;

		i {
			font-size: 1.25rem;
			padding: 2% 10% 2% 5%;
		}

		&:hover {
			right: rem(150);
			transition: 1s, ease-out;
			text-decoration: none;
		}
	}
}

.table-responsive {

	@include media-breakpoint-down(md) {
		td {
			font-size: 0.85rem;
			padding: 0.5rem;
			min-width: 140px;
		}
	}
}
// Skinny Carousel Hotfix

@include media-breakpoint-down(md) {
	.home {
		.carousel {
			margin-bottom: 3rem;
		}
	}

	.carousel-control-nav {
		bottom: -2rem;
	}

	.carousel-direction-nav {
		display: none;
	}

	.line {
		display: none;
	}
}
// Page Padding Fixes

.home {
	.entry-content {
		padding: 0;
	}
}
