// ==========================================================================
// Splash
// ==========================================================================
// Do not want splash to be 100% height, it is too much.
.splash {
	background-color: $color-black;
	height: rem(550);
	background-size: 100%;

	@include media-breakpoint-up(sm) {

		@include media-breakpoint-down(sm) {
			background-image: none !important;
			height: auto;
		}
	}

	@include media-breakpoint-up(md) {
		background-position: top center;
		background-size: 100%;
		background-attachment: scroll;
	}

	@include media-breakpoint-up(lg) {
		height: rem(650);
		background-size: cover;
		background-position: top center;
	}

	&.splash-video { // no image on

		@include media-breakpoint-up(lg) {
			background-image: none !important;
		}
	}

	.hero-content {
		top: 42.5%;
		position: relative;
		padding: 5%;
		z-index: 99;
		color: $color-white;

		a {
			margin: 0.5rem;
			display: block;
			border: none;

			&.btn-primary {
				background-color: #999;

				@include hover-focus {
					background-color: #666;
				}
			}
		}

		h2,
		h3 {
			font-size: 2rem;
			margin-bottom: 1rem;
			color: $color-white;

			&::before {
				display: none;
			}
		}

		@include media-breakpoint-up(sm) {
			top: 25%;
		}

		@include media-breakpoint-up(md) {
			top: 45%;
		}

		@include media-breakpoint-up(lg) {
			top: 55%;

			a {
				display: inline-block;
				font-size: 1.3rem;
				padding: 0.75rem 2rem;
			}

			h2 {
				font-size: 3rem;
			}
		}
	}

	&.splash-video { // if its a video, nut just an image
		div#youtube-video-splash {
			background-color: $color-black;
			max-height: 500px;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: top center;

			@include media-breakpoint-up(sm) {

				@include media-breakpoint-down(sm) {
					background-image: none !important;
				}
			}

			@include media-breakpoint-up(md) {
				background-position: top center;
				background-size: 100%;
				background-attachment: scroll;
			}

			@include media-breakpoint-up(lg) {
				max-height: 650px;
				background-image: none !important;
				background-color: transparent;
				background-size: cover;
				background-position: top center;
			}
		}
	}
}
