// ==========================================================================
// Typography.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/post-elements/typography";
// Overrides and custom styling.
// ==========================================================================

body {
	font-weight: 300;
}

%serif {
	font-family: $font-family-serif;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
}

.story {

	@extend %serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	> small {

		@extend %serif;
		display: block;
		margin-top: $spacer / 2;
		font-size: $font-size-base;
		text-transform: none;
		color: $gray-light;
	}
}
