{% if mobile_call_tracking %}
    <div class="icon-bar">
        {{ mobile_call_tracking }}

        <button class="btn-trigger-primary-menu" data-toggle="dropdown-nested" data-target=".primary-menu">Menu
        </button>
    </div>
{% endif %}
<header class="site-header">
    <div class="container">
        {% include 'components/logo.twig' %}
        {% block top_bar %}
            <div class="top-bar">
                {% include 'components/top-bar.twig' %}
            </div>
        {% endblock %}
    </div>
    {% include 'components/nav-primary.twig' %}
</header>
