// ==========================================================================
// Site Navigation
// ==========================================================================

body { // req.

	.site-navigation {

		@include clearfix();
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

		@include media-breakpoint-up(lg) {
			.scratchpad-toggle {
				display: inline-block;
			}
		}
	}

	.site-primary-navigation {

		@extend .container;
	}

	.primary-menu {

		@extend .col-xs-12;
		padding: 0;

		> li {
			> a {

				@extend %normal-extend;
				padding: 0.5rem 0.85rem;
				font-size: 1rem;
			}

			> .dropdown-menu {
				padding: 0;
			}
		}
	}

	&#vw {
		.primary-menu {
			> li {
				> a {
					font-family: 'Muli', sans-serif;
					padding: 0.5rem 1.1rem;
					font-size: 1.1rem;
				}
			}
		}
	}
}

.btn-trigger-primary-menu {
	width: 100%;
	text-indent: 3.2rem;
	text-align: left;

	&::before {
		text-align: left;
		padding-left: 1.5rem;
	}
}

