// ==========================================================================
// Social Widget
// ==========================================================================

.widget_strathcom_social_widget {
	ul {

		@include reset-list;
	}

	li {
		display: inline-block;

		a {
			display: inline-block;
			transition: opacity $transition-base;

			@include hover-focus {
				opacity: 0.8;
			}

			&::before {

				@include fa-icon();
			}
		}

		&.social_contact a::before {
			content: $fa-var-map-marker;
		}

		&.social_googleplus a::before {
			content: $fa-var-google-plus;
		}

		&.social_instagram a::before {
			content: $fa-var-instagram;
		}

		&.social_facebook a::before {
			content: $fa-var-facebook;
		}

		&.social_twitter a::before {
			content: $fa-var-twitter;
		}

		&.social_youtube a::before {
			content: $fa-var-youtube;
		}
	}
}
