// ==========================================================================
// Buttons.
// ==========================================================================

.btn {

	@include rounded(2px);
	transition: background-color $transition-slow-btn, border-color $transition-slow-btn, color $transition-slow-btn;
	white-space: normal;
}

.btn-primary,
.btn-secondary {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;

	&::before {
		font-family: 'FontAwesome';
		content: "\f105";
		margin-right: 0.5rem;
	}
}

.btn-primary {
	background-color: $brand-primary;
	border-color: $brand-primary;

	@include hover-focus {
		background-color: $brand-primary-darker;
		border-color: $brand-primary-darker;
	}
}

.btn-warning {
	border: 2px solid #fff;
	background: #f6ba35;
	color: #fff;
	text-align: left;
	min-width: 12rem;

	&::after {
		font-family: 'FontAwesome';
		content: "\f105";
		margin-right: 0.5rem;
		float: right;
	}

	&:hover {
		background-color: #f7c75d;
		border-color: #fff;
		color: #000;
	}

	&:focus {
		background-color: #f3a801;
		border-color: #fff;
		color: #fff;
	}
}
