// ==========================================================================
// Common overrides.
// ==========================================================================
// Mercedes Product Carousel

.product-carousel {
	display: none;
	margin-bottom: 5rem;

	@include media-breakpoint-up(md) {
		display: block;
	}

	.carousel {
		.slides {
			img {
				max-width: 230px;
				display: block;
			}

			li {
				padding: 0 1.5rem;
				border-left: 1px solid #333;
			}
		}
	}

	.card-car {
		text-align: left;

		> figure {
			height: 120px;
			padding-bottom: 0;

			> img {
				position: relative;
				margin: 1rem auto 0;
				min-width: 0;
			}
		}

		&:hover {
			> figure {
				> img {
					transform: none;
				}
			}
		}

		h4 {
			margin-bottom: .75rem;
		}

		.btn {

			@extend .btn-primary;
		}
	}

	.carousel-direction-nav {
		a.carousel-prev::before,
		a.carousel-next::before {
			background: $brand-primary;
			color: $color-white;
		}
	}
}
