// ==========================================================================
// Content blocks styling.
// ==========================================================================
// Import common styles for all content blocks.
// ==========================================================================
// Instead of importing all content blocks at once, only the ones that are
// needed in the theme can be imported, like:
//
// @import "../../common/content-blocks/color-block";
// @import "../../common/content-blocks/container-slant";
// ...

@import "../../common/content-blocks/all";
// Overrides and custom styling.
// ==========================================================================

.four-column {
	.col {

		@include media-breakpoint-up(sm) {

			@include make-col-span(12);
		}

		@include media-breakpoint-up(lg) {

			@include make-col-span(3);
		}
	}
}

.colorblock-section  {
	padding: ($spacer * 10) 1rem;

	@extend .text-center;

	a {
		margin: 0.5rem;
	}
}

.container-slant {
	height: auto;
	min-height: rem(450);

	.block {
		background-size: cover;

		@include media-breakpoint-up(lg) {
			min-height: 28rem;
		}
	}
}

.container-slant.content-left > .block:nth-child(2) > figure,
.container-slant.content-right > .block:nth-child(1) > figure {
	margin: 2% 2.5% 0;

	@include media-breakpoint-up(xl) {
		margin: 4% 5% 0;
	}
}
