// ==========================================================================
// Splash
// ==========================================================================

.splash {
	max-width: 100%;
	min-height: rem(650);
	background-position: middle center;

	@include media-breakpoint-up(md) {
		height: rem(750);
	}

	@include media-breakpoint-up(md) {
		height: rem(850);
	}

	.hero-content {
		padding: 7%;

		p {
			color: $color-white;
			margin-bottom: 2rem;
		}

		a {
			display: block;
			margin: 2rem 0.5rem 0;

			@include media-breakpoint-up(lg) {
				display: inline-block;
			}
		}

		#querySearchForm,
		#quicksearchForm {
			margin-bottom: $spacer;
		}

		@include media-breakpoint-up(md) {
			top: 15%;
		}

		@include media-breakpoint-up(xl) {
			top: 30%;
		}
	}
}

#vw {
	.splash {
		.hero-content {
			a {
				min-width: rem(300);
			}

			@include media-breakpoint-up(xl) {
				top: 10%;
			}

			#querySearchForm,
			#quicksearchForm {
				margin-bottom: 0;

				.quick-search-button {
					padding: 0;
				}
			}
		}

		.border-box {
			display: none;
			border: 5px solid #fff;
			padding: 1rem;
			margin: 1rem auto;
			max-width: rem(700);

			a {
				margin: 0;
				color: #fff;
			}

			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
}

