// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/modules/product-brochure";
// Overrides and custom styling.
// ==========================================================================

.layout-vdp {
	h1 {
		text-align: left;
	}

	.btn {
		padding: 0.75rem;
	}

	.gfield_label {
		label {
			font-size: 1rem;
		}
	}
}

.product-specification {
	h4 {
		font-style: normal;
	}
}

.product-contact-form {
	h5 {
		font-size: 1.75rem;
	}
}
