// ==========================================================================
// Search results.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/modules/search-results";
// Overrides and custom styling.
// ==========================================================================

.layout-srp {
	.btn {
		padding: 0.75rem;
	}

	h1 {
		&::before {
			display: none;
		}
	}

	.product-description {
		h4 {

			@extend %regular-c;
			margin: 0;
			font-size: $font-size-h3;
			font-style: normal;
			text-align: left;
		}
	}
}
