// stylelint-disable color-no-invalid-hex
// ==========================================================================
// Color scheme template.
// ==========================================================================

@import "config/variables-bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Custom colors.
// ==========================================================================
$color-white: #fff; // en: '', fr: ''
$color-black: #1a1a1d; // en: '', fr: ''
$body-color: #818e92; // en: '', fr: ''
$body-color-darker: #5c676a; // en: '', fr: ''
$body-bg: $color-white; // en: '', fr: ''
$brand-primary: #176ac4; // en: '', fr: ''
$brand-primary-darker: #125196; // en: '', fr: ''
$brand-secondary: #0f4580; // en: '', fr: ''
$brand-secondary-darker: #0a2c52; // en: '', fr: ''
$brand-tertiary: #24262b; // en: '', fr: ''
$brand-links-color: $brand-primary; // en: '', fr: ''
$brand-links-color-hover: $brand-secondary; // en: '', fr: ''
$header-color: $body-color; // en: '', fr: ''
$header-bg: #24262b; // en: '', fr: ''
$header-links-color: $body-color; // en: '', fr: ''
$footer-color: $gray-light; // en: '', fr: ''
$footer-links-color: $color-white; // en: '', fr: ''
$footer-hover-color: $brand-primary; // en: '', fr: ''
$footer-bg: $brand-tertiary; // en: '', fr: ''
$footer-primary: $brand-primary; // en: '', fr: ''
$scratchpad-color: $color-white; // en: '', fr: ''
$scratchpad-links-color: $brand-primary; // en: '', fr: ''
$scratchpad-bg: $brand-tertiary; // en: '', fr: ''
$scratchpad-primary: $brand-primary; // en: '', fr: ''

// bpc - Brand Primary Color (+ Darker) (+ Hover).
// ==========================================================================
._bpcolor {
	color: $brand-primary;
}

._bscolor {
	color: $brand-secondary;
}

._bpcolordark {
	color: $brand-primary-darker;
}

// _bpb  - Brand Primary Background (+ Darker).
// ==========================================================================
._bpback {
	background-color: $brand-primary;
}

._bsback {
	background-color: $brand-secondary;
}

._bpbackddark {
	background-color: $brand-primary-darker;
}

// Common Elements.
// ==========================================================================

h4,
h5 {
	color: $body-color-darker;
}

a,
.page-link {
	color: $brand-links-color;

	&:hover,
	&:focus {
		color: $brand-links-color-hover;
	}
}

.filter-stock-type a.state-active,
.filter-stock-type a:hover,
.filter-stock-type:hover a.state-active:hover {
	color: $brand-links-color;
}

// _bpbackinv - Brand Primary Background Inverted (for inverted buttons).
._bpbackinv {
	color: $brand-links-color;
	background-color: transparent;

	&.active,
	&:hover,
	&:focus {
		color: $color-white;
		background-color: $brand-links-color;
	}
}

.btn-primary,
.gform_button,
.cctor-pro-coupons-content .cctor-pro-filters-wrapper input[type=submit],
.application_button,
span.btn,
.quick-search-button,
.fv-button {
	border-color: $brand-primary;
	background-color: $brand-primary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $brand-primary-darker;
		background-color: $brand-primary-darker;
		color: $color-white;
	}
}

.btn-secondary {
	border-color: $brand-secondary;
	background-color: $brand-secondary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $brand-secondary-darker;
		background-color: $brand-secondary-darker;
		color: $color-white;
	}
}

.btn-info {
	border-color: $brand-tertiary;
	background-color: $brand-tertiary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $color-white;
		background-color: $color-white;
		color: $color-black;
	}
}

.product-brochure .product-info dt {
	color: $brand-primary;
}

.card-car {
	&:hover,
	&:focus {
		h5 {
			color: $brand-primary;
		}
	}
}

.scratchpad-toggle {
	a {
		color: $gray-light;

		.count {
			border-color: $header-bg;
			background-color: $brand-primary;
			color: $color-white;
		}
	}

	a {
		color: $brand-primary;

		&:hover,
		&:focus {
			.count {
				color: $color-white;
				background-color: $brand-secondary;
			}
		}
	}
}

.search-results {
	.special-deal {
		background: $brand-tertiary;
	}

	.savings-price {
		color: $brand-tertiary;
		border-color: $brand-tertiary;
	}
}

// Tabs.
// ==========================================================================

.tabs-nav {
	border-bottom-color: $brand-primary-darker;

	a:hover {
		color: $brand-primary-darker;
	}

	a.active,
	a.active:hover,
	a.active:focus,
	a:focus,
	a:focus:hover {
		color: $color-white;
		background-color: $brand-primary-darker;
	}
}

// Pagination.
// ==========================================================================

.page-item.active .page-link {
	&,
	&:focus,
	&:hover {
		background-color: $brand-links-color;
		border-color: $brand-links-color;
	}
}

// Site header.
// ==========================================================================

.site-header {
	color: $header-color;
	background: $brand-tertiary;

	@include media-breakpoint-up(lg) {
		background-color: $header-bg;
	}

	a {
		color: $header-links-color;

		&:hover,
		&:focus {
			color: $brand-primary;
		}
	}
}

// Navigation.
// ==========================================================================

.primary-menu {
	&._bpback {
		background: $brand-primary;

		@include media-breakpoint-up(lg) {
			background: transparent;
		}
	}

	> li {
		> a {
			color: $color-white;

			&:hover {
				color: $brand-primary;
			}

			@include media-breakpoint-up(lg) {
				color: lighten($body-color, 10%);

				&:hover {
					color: $brand-primary;
				}
			}
		}

		// DD Menu
		.dropdown-menu {
			background: $brand-primary;

			li { // lvl 1

				@include media-breakpoint-down(md) {
					background: $brand-primary;
				}
			}

			a {
				color: $color-white;
			}

			.dropdown-menu {
				> li { // lvl 2

					@include media-breakpoint-down(md) {
						background: $brand-primary-darker;
					}
				}
			}
		}

		// Mega Menu Color & Border
		&.mega-menu {
			> .dropdown-menu {
				background: #f7f7f7;
				border-top-color: $brand-primary;
			}
		}
	}

	// Arrow (MOBILE)
	.dropdown-trigger::before {
		color: $color-white;
	}

	// Scratchpad (MOBILE)
	.scratchpad-toggle {
		a,
		.count {
			color: $color-white;

			&:hover {
				color: $color-white;
			}
		}
	}
}

// Site footer.
// ==========================================================================

.site-footer {
	color: $footer-color;
	background-color: $footer-bg;

	a {
		color: $footer-color;

		&:hover,
		&:focus {
			color: $footer-color;
		}
	}

	h5 {
		color: $footer-primary;
	}

	.strathcom-footer {
		a {
			color: $color-white;

			&:hover,
			&:focus {
				color: $brand-primary;
			}
		}
	}
}

.footer-widgets {
	a {
		color: $footer-links-color;

		&:hover,
		&:focus {
			color: $footer-hover-color;
		}
	}
}

// Scratchpad.
// ==========================================================================

.scratchpad {
	color: $scratchpad-color;
	background-color: $scratchpad-bg;

	a {
		color: $scratchpad-color;

		&:hover,
		&:focus {
			color: $scratchpad-links-color;
		}
	}

	h5,
	h3 {
		color: $color-white;
	}

	ul {
		.remove,
		.view {
			&:hover {
				background-color: $scratchpad-primary;
			}
		}
	}

	header h3 .count {
		background-color: $scratchpad-primary;
	}
}

// Staff plugin.
// ==========================================================================

.staff-departments {
	li {
		a {
			background-color: $brand-primary;
			border-color: $brand-primary;

			&:hover,
			&:focus,
			&:active,
			&:hover:focus,
			&:hover:active,
			&:focus:active {
				background-color: $brand-primary-darker;
				border-color: $brand-primary-darker;
			}
		}
	}
}

.staff-member {
	> figure {
		> a {
			span {
				background-color: $brand-primary;
			}
		}
	}
}

// Job plugin.
// ==========================================================================

.entry-content {
	.single_job_listing {
		.meta {
			.jop-posting,
			.full-time,
			.part-time,
			.temporary,
			.internship,
			.freelance {
				background-color: $brand-primary;
			}
		}
	}
}

// Misc.
// ==========================================================================

#float-nav {
	a {
		&:hover {
			background: $brand-primary;
			color: $color-black;
		}
	}
}

.splash,
.colorblock-section {
	.btn-ghost {
		&:hover,
		&:focus {
			border-color: $brand-primary;
			color: $brand-primary;
		}
	}
}

// Map.
// ==========================================================================

.map-flag {
	background-color: $brand-primary;

	h3 {
		color: $color-white;
	}

	a {
		color: $color-white;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}
}

// Carousel

a.carousel-next,
a.carousel-prev {
	&::before {
		background-color: $brand-primary;
		color: $color-white;
	}
}

.layout-vdp-twenty-seventeen .vdp-dealer-info .phone-number {
	background: $brand-primary;
}

// Incentives Page.
// ==========================================================================

.srp-vi-filters .filter-payment output .value,
.srp-vi-results .actions a:hover,
.srp-vi-results .details [data-trigger="price-tooltip"] {
	color: $brand-primary;
}

.srp-vi-results .details,
.custom-checkbox-list label,
.custom-radio-list label {
	background: $brand-primary;
	border-color: $brand-primary;
	color: $color-white !important;

	&::after {
		display: none;
	}
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus {
	background: $brand-primary-darker;
	border-color: $brand-primary-darker;
	color: $color-white;
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus,
.srp-vi-results header .table-actions a.active {
	background: $brand-primary-darker;
	border-color: $brand-primary-darker;
	color: $color-white;
}

.filter-options .checkbox-list,
.filter-years .radio-list,
.custom-radio-list {
	input:checked {
		+ label {
			border-color: $brand-primary-darker;
			background: $brand-primary-darker;
			color: $color-white;
		}
	}
}