// Contact form

.contact-form {
	margin-top: $spacer;
	margin-bottom: $spacer;

	legend {
		margin-bottom: $spacer;
		font-size: $font-size-h5;
		border-bottom: $hr-border-width solid $hr-border-color;
	}

	.form-disclaimer {
		font-size: $font-size-sm;

		label span {
			display: block;
			margin-bottom: $spacer / 4;
		}

		& + .form-disclaimer {
			margin-top: $spacer / 2;
			padding-top: $spacer / 2;
			border-top: $hr-border-width solid $hr-border-color;
		}
	}

	.btn {
		display: block;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;

		@include media-breakpoint-up(sm) {
			margin: 0;
		}
	}

	@include media-breakpoint-up(md) {
		&.wide {
			.contact-details {
				.form-group {
					width: 50%;
					padding-left: $grid-gutter-width / 2;
					padding-right: $grid-gutter-width / 2;
					float: left;

					&:nth-of-type(2n + 1) {
						padding-left: 0;
					}

					&:nth-of-type(2n + 2) {
						padding-right: 0;
					}
				}
			}

			.btn {
				display: inline-block;
				width: auto;
				min-width: 150px;
			}
		}
	}

	&.compact,
	&.minimal {
		fieldset {
			margin-top: 0;
		}

		legend {
			display: none;
		}
	}

	&.minimal {
		label {
			margin-bottom: 0;
			font-size: $font-size-sm;
			color: $gray-light;
		}

		.form-group {
			margin-bottom: $spacer / 2;
		}

		.btn {
			width: 100%;
			max-width: none;
			margin: $spacer auto;
		}

		.form-disclaimer {
			&,
			label {
				font-size: $font-size-xs;
			}

			label {
				margin: 0;
			}
		}
	}
}
