// Entry styling

.hentry {
	.group-content > & {
		margin-bottom: #{$spacer * 2};
	}

	& + & {
		padding-top: #{$spacer * 2};
		border-top: $hr-border-width solid $hr-border-color;
	}

	&.page {
		.entry-title {
			margin-bottom: $spacer * 2;
			font-size: rem(48);
			text-transform: uppercase;
			text-align: center;

			a {

				@include plain-hover-focus {
					color: $headings-color;
				}
			}
		}
	}
}

.entry-image {
	margin: 0;

	> a {
		display: block;
	}

	img {
		width: 100%;
	}
}

.entry-content {
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-top: $spacer * 2;
		margin-bottom: $spacer * 2;
	}
}

.entry-title {
	> a {
		color: $headings-color;

		@include hover-focus {
			text-decoration: none;
		}
	}
}

.entry-footer {
	font-size: $font-size-xs;

	%meta-block {
		display: block;

		&::before {

			@include fa-icon();
			margin-right: .5em;
		}

		@include media-breakpoint-up(sm) {
			display: inline-block;
			line-height: 1.1;

			& {
				margin-left: rem(10);
				padding-left: rem(12);
				border-left: $hr-border-width solid $hr-border-color;

				&:first-child {
					margin-left: 0;
					padding-left: 0;
					border-left: none;
				}
			}
		}
	}

	.posted-on {

		@extend %meta-block;

		&::before {
			content: $fa-var-calendar-o;
		}
	}

	.cat-links {

		@extend %meta-block;

		&::before {
			content: $fa-var-tags;
		}
	}
}
