// Site primary navigation

%site-primary-navigation-typography {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.75rem;
}
// Primary menu-item

.primary-menu {

	@include clearfix;
	@include reset-list;
	top: 100%;
	position: absolute;
	right: 0;
	z-index: $zindex-navbar;
	width: 100%;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity $transition-fast;

	&.open {
		height: auto;
		overflow: visible;
		opacity: 1;
	}

	@include media-breakpoint-up(lg) {
		position: relative;
		z-index: 1;
		top: 0;
		left: auto;
		width: auto;
		height: auto;
		overflow: visible;
		margin: 0 #{ - $spacer / 2};
		padding: #{$spacer / 2} 0;
		opacity: 1;
		box-shadow: none;
		transition: none;

		body & > li {
			background-color: transparent;

			> a {
				background-color: transparent;
			}
		}

		body & {
			background-color: transparent;

			> li {
				position: relative;
				float: left;

				> a {
					padding: $spacer * 2 / 3;
					background-color: transparent;
					border: none;
					transition: color $transition-fast;

					@include hover-focus {
						background-color: transparent;
						border: none;
					}
				}
			}
		}
	}

	a {
		position: relative;
		display: block;
		padding: #{$spacer / 2} $btn-padding-x;
		transition: color $transition-fast, background-color $transition-fast;

		@include hover-focus {
			text-decoration: none;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	.dropdown-trigger {

		@extend %site-primary-navigation-typography;
		position: absolute;
		top: 0;
		right: 0;
		padding: #{$spacer / 2} 0;
		width: $spacer * 2.5;
		height: auto;
		max-height: 100%;
		color: #fff;
		background-color: rgba(255, 255, 255, .3);
		transition: background-color $transition-fast;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, .5);

		&::before {

			@include fa-icon();
			content: $fa-var-caret-down;
			transform: scale(1.25);
			transition: transform $transition-fast;
		}

		&.active::before {
			transform: scale(1.25) rotate(-180deg);
		}

		@include hover-focus {
			background-color: rgba(255, 255, 255, .4);
		}

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	> li {
		position: relative;

		> a {

			@extend %site-primary-navigation-typography;
		}
	}
}
// Dropdown menu

.dropdown-menu {

	@include reset-list;
	display: none;
	font-size: 1rem;
	font-weight: normal;

	&.open {
		display: block;
	}

	li > a {
		display: block;
		padding: #{$spacer / 2} #{$btn-padding-x * 2};
		transition: background-color $transition-fast;

		@include hover-focus {
			text-decoration: none;
			background-color: #000;
		}
	}

	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: rem(230);
		height: 0;
		display: block;
		overflow: hidden;
		opacity: 0;
		transition: opacity $transition-fast;

		li > a {
			padding-left: $spacer;
			padding-right: $spacer;
			background-color: transparent;
		}

		li:hover > & {
			height: auto;
			opacity: 1;
			overflow: visible;
		}

		// &::before {
		// 	@include arrow($spacer*2, $spacer, up, #fff);
		// 	content: "";
		// 	position: absolute;
		// 	left: $spacer;
		// 	top: 0;
		// }
	}
}
// Mobile menu trigger

.btn-trigger-primary-menu {
	position: relative;
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	text-indent: 999px;
	background-color: transparent;
	border: none;

	&::before {

		@include fa-icon();
		$hamburger-menu-icon-size: 24px !default;
		content: $fa-var-bars;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		margin-top: #{ - $hamburger-menu-icon-size / 2};
		font-size: $hamburger-menu-icon-size;
		text-indent: 0;
		text-align: center;
	}
}
