// Scratchpad, i.e. My Garage

body.scratchpad-open,
body.scratchpad-transitioning {
	overflow: hidden;
}

.page {

	@include media-breakpoint-up(md) {
		transition: transform $scratchpad-toggle-transition;

		.scratchpad-open & {
			transform: translateX(-17rem);

			@include media-breakpoint-up(sm) {
				transform: translateX(-21rem);
			}
		}
	}

	// Add fake scrollbar to .page container to prevent 'jump' effect after
	// sidebar is closedand 'real' scrollbar appears
	.scratchpad-open &,
	.scratchpad-transitioning & {
		overflow-y: auto;
	}
}

.scratchpad {
	position: fixed;
	top: 0;
	right: -18rem;
	bottom: 0;
	z-index: $zindex-modal;
	width: 18rem;
	overflow: hidden;
	overflow-y: auto;
	transition: transform $scratchpad-toggle-transition;

	@include media-breakpoint-up(sm) {
		right: -22rem;
		width: 22rem;
	}

	.scratchpad-open & {
		transform: translateX(-18rem);

		@include media-breakpoint-up(sm) {
			transform: translateX(-22rem);
		}
	}

	header {
		position: relative;
		height: $header-mobile-height;
		padding: #{$header-mobile-height / 4} #{$spacer / 2} 0;

		@include media-breakpoint-up(md) {
			height: $header-height;
			padding-top: $header-height / 3;
		}

		h3 {
			margin: 0 #{$spacer * 3.5} 0 0;
			font-size: 1.05rem;
			text-transform: uppercase;

			&::before {
				content: "";
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				margin: -10px 5px 0 0;
				background: url("#{unquote($garage-icon-url)}") no-repeat center;
				background-size: contain;
			}

			.count {
				$scratchpad-count-size: 28px;
				position: relative;
				margin-left: 5px;
				display: inline-block;
				width: $scratchpad-count-size;
				height: $scratchpad-count-size;
				border-radius: 99%;
				color: #fff;
				background-color: $brand-danger;
				font: bold 16px/1.65 $font-family-sans-serif-condensed;
				letter-spacing: -.05em;
				text-align: center;
			}
		}

		.close-btn {
			position: absolute;
			top: 0;
			right: 0;
			width: $header-mobile-height;
			height: 100%;
			overflow: hidden;
			color: $gray-light;
			border-left: $hr-border-width solid $gray-dark;
			text-indent: -999px;
			transition: color $transition-fast, background-color $transition-fast;

			@include media-breakpoint-up(md) {
				width: $header-height;
			}

			@include hover-focus {
				color: $gray-lightest;
				background-color: rgba(#fff, .1);
			}

			&::before {

				@include fa-icon();
				content: $fa-var-close;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 24px;
				height: 24px;
				margin-left: -12px;
				margin-top: -12px;
				font-size: 20px;
				line-height: 24px;
				text-align: center;
				text-indent: 0;
			}
		}
	}

	ul {

		@include reset-list;
		margin-top: -1px;

		li {

			@include clearfix;
			position: relative;
			min-height: 100px;
			margin: 0;
			padding: #{$spacer / 2} #{$grid-gutter-width / 2};
			border-bottom: $hr-border-width solid $gray-dark;
			background-color: transparent;
			transition: background-color $transition-base;

			@include hover-focus {
				background-color: rgba(#fff, .1);

				img {
					transform: scale(1.1);
				}
			}

			> .remove {
				position: absolute;
				top: 5px;
				right: 5px;
				width: 24px;
				height: 24px;
				overflow: hidden;
				color: $gray-light;
				text-indent: -999px;

				&::before {

					@include fa-icon();
					content: $fa-var-close;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 24px;
					height: 24px;
					margin-left: -12px;
					margin-top: -12px;
					font-size: 20px;
					line-height: 24px;
					text-align: center;
					text-indent: 0;
					opacity: 0;
					transition: opacity $transition-fast;
				}

				&:hover,
				&:focus {
					color: #fff;
				}
			}

			&:hover,
			&:focus {
				.remove::before {
					opacity: 1;
				}
			}

			&:first-child {
				border-top: $hr-border-width solid $gray-dark;
			}

			.flex & {
				padding: 0;

				&::after {
					content: none; // remove clearfix
				}
			}
		}

		a {
			display: block;
			text-decoration: none;
			transition: color $transition-base;

			.flex & {
				display: flex;
				flex-direction: row;
			}
		}

		figure {
			width: 33%;
			float: left;
			margin: 0;
			overflow: hidden;

			.flex & {
				display: flex;
				flex-direction: column;
				width: 40%;
			}

			img {

				@extend .img-fluid;
				transition: transform $transition-slow;

				.flex & {
					width: 100%;
				}
			}
		}

		.car-info {
			margin-left: 33%;
			padding-left: #{$grid-gutter-width / 2};

			.flex & {
				flex-grow: 2;
				margin: 0;
				width: 60%;
			}

			.price {
				font-size: $font-size-h4;
			}

			h5 {
				margin: 0;
				font-size: $font-size-sm;
			}
		}
	}

	footer {
		display: none;
	}

	.load-more-btn {
		display: block;
		padding: $spacer;
		text-align: center;
		border-bottom: $hr-border-width solid $gray-dark;
		background-color: transparent;
		transition: background-color $transition-base;

		@include hover-focus {
			text-decoration: none;
			background-color: rgba(#fff, .1);
		}
	}
}

.scratchpad-toggle {
	> a {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		text-decoration: none;

		&::before {
			content: "";
			display: block;
			width: 46px;
			height: 46px;
			background: url("#{unquote($garage-icon-url)}") no-repeat center;
			background-size: contain;
		}
	}

	.count {
		position: absolute;
		bottom: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		border: 3px solid transparent;
		border-radius: 99%;
		color: #fff;
		background-color: $brand-danger;
		font: bold 14px/1.75 $font-family-sans-serif-condensed;
		letter-spacing: -.05em;
		text-align: center;
		transition: background-color $transition-fast;
	}

	> a:hover,
	> a:focus {
		.count {
			background-color: darken($brand-danger, 10%);
		}
	}

	&.hidden {
		display: none;
	}
}

.scratchpad-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal-bg;
	background: $gray-lighter;
	opacity: 0;
	height: 0;
	transition: opacity $scratchpad-toggle-transition;

	.scratchpad-open & {
		opacity: 0.8;
		height: auto;
	}

	// The overlay dimming effect should be visible during the transition
	.scratchpad-transitioning & {
		height: auto;
	}
}
