// Site logo

.site-logo {
	display: block;
	float: left;
	padding: #{$spacer / 2} 0 0;
	color: $body-color;

	.expanded-header & {
		padding: 2rem 0 0;
	}

	&:hover {
		text-decoration: none;
	}

	> .logo {

		@extend .img-fluid;
		display: block;
	}
}

.site-name {
	display: block;
	float: right;
	padding: rem(70) 0 0;
	text-align: right;

	> h1 {
		margin: 0;
		font-size: rem(34);

		a {
			color: #fff;

			@include hover-focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	> p {
		margin: 0;
		font-family: $font-family-sans-serif-condensed;
		font-size: $font-size-lg;
		text-align: right;
	}
}
