// Nav menu widget

.widget_nav_menu {
	.group-sidebar & {
		h5 {

			@extend %serif;
			margin: $spacer 0;
			font-size: $font-size-h4;
			color: $body-color;
		}

		ul {

			@extend %serif;
			@include reset-list;
			background-color: darken($gray-dark, 10%);

			a {
				display: block;
				padding: #{$spacer / 2} #{$spacer * 2 / 3};
				transition: color $transition-fast, background-color $transition-fast;

				&::before {
					transition: margin-right $transition-fast;
				}

				@include hover-focus {
					text-decoration: none;
				}
			}
		}

		.menu {
			a {
				font-size: 1rem;
				color: $body-bg;
			}
		}

		.sub-menu {
			a {
				font-size: $font-size-base;
				color: $body-bg;

				&::before {

					@include fa-icon();
					content: $fa-var-angle-right;
					margin-right: .5em;
				}

				@include hover-focus {
					&::before {
						margin-right: 1em;
					}
				}
			}

			li + li {
				border-top: 1px solid rgba(#fff, .2);
			}
		}
	}
}
