// ==========================================================================
// Homepage.
// ==========================================================================

.home-block {
	padding: $spacer * 2;

	@include media-breakpoint-up(md) {
		padding: 7rem 5rem;
	}

	@include media-breakpoint-up(md) {
		.content-block {
			max-width: 35%;
		}

		.image-block {

			@extend .pull-md-right;
			margin-top: -10rem;

			img {
				width: rem(400);

				@include media-breakpoint-up(lg) {
					width: auto;
				}
			}
		}
	}
}

.half-column-layout {

	@include clearfix;
	padding: 2rem 1rem;

	.full-col {

		@extend .text-center;

		&::after {
			display: none;
			content: '';
			width: 35%;
			padding-top: 2rem;
			margin: 0 auto 2rem;
			border-bottom: 1px solid #ddd;

			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}

	.col {

		@extend .col-md-12;
		@extend .col-lg-6;

		@include media-breakpoint-up(lg) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}

	@include media-breakpoint-up(lg) {
		padding: 4rem 0;
	}
}

.home {
	.container-slant > .block > figure {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
}
