// ==========================================================================
// Site Header
// ==========================================================================
// Head
.site-header {
	background-color: #171717;
	transition: background-color $transition-slow;
	padding: 0.35rem 0;
	font-size: 1rem;

	@include media-breakpoint-up(lg) {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 999;
	}

	&.header-has-top-bar {
		padding: 1rem 0;
	}

	.site-top-bar {
		display: none;
		position: absolute;
		top: 0.25rem;
		right: 1rem;
		font-size: 0.9rem;

		@include media-breakpoint-up(lg) {
			display: block;

			.widget {
				display: inline-block;
			}
		}
	}

	.site-branding {

		@extend .col-xs-7;
		@extend .col-sm-8;
		@extend .col-lg-2;
		@extend .col-xl-3;
		padding-top: 0;
		z-index: 99;

		.logo {
			max-width: 80%;
			max-height: rem(110);

			@include media-breakpoint-up(lg) {
				max-width: 100%;
			}
		}

		.text-logo {

			@extend %condensed;
			text-align: center;
			font-size: 1rem;
			padding: 0.5rem;
			line-height: 1;

			@include media-breakpoint-up(xl) {
				font-size: 2rem;
			}
		}
	}

	.site-navigation {

		@extend .col-lg-10;
		@extend .col-xl-9;
		z-index: 9;

		@include media-breakpoint-up(lg) {
			z-index: 999;
		}
	}

	.mobile-call-tracking {

		@extend .col-xs-5;
		@extend .col-sm-2;
		z-index: 99;

		a {

			@extend %condensed;
			padding: .6rem;
			text-transform: uppercase;
			font-style: normal;

			@include media-breakpoint-up(md) {
				padding: 1rem;
			}
		}
	}
}

.home {
	.site-header {

		@include media-breakpoint-up(lg) {
			background-color: transparent;
			padding-top: 3rem;
		}

		.text-logo {
			display: none;
		}
	}
}
// Landing Page Header (& Home Scrolled).
.add-background {
	.site-header {
		background-color: #171717;
		transition: background-color $transition-slow;
		padding-top: 0;
		padding-bottom: 0;

		.text-logo {
			display: block;

			@include media-breakpoint-up(lg) {
				margin-top: 0.85rem;
			}

			@include media-breakpoint-up(xl) {
				margin-top: 0;
			}
		}

		&.header-has-top-bar {
			padding: 1rem 0 0.35rem;
		}
	}
}
// Desktop/Mobile always has logo

@include media-breakpoint-down(md) {
	.text-logo {
		display: none;
	}

	.site-logo {
		.logo {
			display: block;
		}
	}
}

.scratchpad {
	h3 {
		padding-left: 2rem;
	}
}
