// // ==========================================================================
// // Site Footer
// // ==========================================================================

.site-footer {
	max-width: 100%;
	overflow: hidden;
	padding: 3rem 3rem 0;
	border-top: 1px solid #ddd;

	.widget_text,
	.widget_nav_menu {

		@extend .container;
	}

	.widget_nav_menu {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.widget_strathcom_social_widget {

		@extend .text-center;
		padding: 2rem 0;
		margin: 0 -3rem;

		a {
			font-size: 2.5rem;
			padding: 0 1rem;
		}
	}

	ul.menu {

		@extend .list-unstyled;

		li {

			@extend .col-md-4;
			@extend .col-lg-3;
			padding-left: 0;
		}
	}
}
