// ==========================================================================
// Site Navigation
// ==========================================================================

body {
	.primary-menu {
		padding-top: 0.4rem;

		@include media-breakpoint-up(xl) {
			padding-left: 0.5rem;
		}

		> li > a {

			@extend %condensed;
			font-size: 1rem;

			@include media-breakpoint-up(xl) {
				padding: 0.5rem 0.7rem;
				font-size: 1.1rem;
			}
		}

		@include media-breakpoint-up(lg) {
			.scratchpad-toggle {
				background: #171717;
				padding: 1rem 1.5rem;
				position: fixed;
				top: 25%;
				right: 0;

				a {
					display: block;
					padding: 0;

					.count {
						position: absolute;
						top: -0.5rem;
						left: 0.75rem;
						font-size: 0.85rem;
					}

					&::before {
						font-family: 'FontAwesome';
						content: '\f249';
						font-size: 1.1rem;
					}
				}

				.label {
					display: none;
				}
			}

			li.mega-menu {
				> .dropdown-menu {
					> li {
						> a {
							font-family: $headings-font-family;
							font-weight: 400;
							text-transform: uppercase;
							font-style: normal;
							font-size: 1.25rem;
						}
					}
				}
			}
		}
	}

	.add-background {
		.primary-menu {

			@include media-breakpoint-up(lg) {
				padding-top: 1rem;
			}

			@include media-breakpoint-up(xl) {
				padding-top: 0.5rem;
			}
		}
	}
}

.dropdown-menu {
	li > a {

		@extend %serif;
		font-size: 0.9rem;
		padding-top: .5rem;
	}
}

.site-primary-navigation { // Accomodate mobile call
	clear: both;
}

.btn-trigger-primary-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;

	@include media-breakpoint-up(md) {
		height: 4rem;
		width: 4rem;
	}
}

