<header class="site-header">
    <div class="container">
        {% include 'components/logo.twig' %}
        {% include 'components/nav-primary.twig' %}
        {% if block( 'top_bar' )|trim %}
            <div class="site-top-bar">
                {% block top_bar %}
                    {% include 'components/top-bar.twig' %}
                {% endblock %}
            </div>
        {% endif %}
    </div>
</header>
