<header class="site-header">
	<div class="inner">
		<div class="nissan-logo">
			<a href="/"><img src="{{function('bloginfo','template_directory')}}/assets/src/img/nissan-logo.png" alt="Kia"></a>
		</div>

		<div class="dealer-details">
			{% include 'components/logo.twig' %}
			{% if block( 'top_bar' )|trim %}
				<div class="site-top-bar">
					{% block top_bar %}
						{% include 'components/top-bar.twig' %}
					{% endblock %}
				</div>
			{% endif %}
		</div>
		
	</div>

	{% if menu_primary %}
		<div class="site-navigation">
			<nav class="site-primary-navigation" role="navigation">
				<button class="btn-trigger-primary-menu" data-toggle="dropdown-nested" data-target=".primary-menu">Menu
				</button>
				{% include "components/recursive-menu.twig" with {'menu_primary': menu_primary.get_items, 'top_level': 'true'} %}
			</nav>
		</div>
		{% if mobile_call_tracking %}
			<div class="mobile-call-tracking">
				{{ mobile_call_tracking }}
			</div>
		{% else %}
			<a href="tel:{{ phone_number|replace(' ', '-') }}" class="mobile-call">Call</a>
		{% endif %}
	{% endif %}
</header>
