<header class="site-header kia-header">
	<div class="inner">

		<div class="kia-logo">
			<a href="/"><img src="{{function('bloginfo','template_directory')}}/assets/src/img/kia-oem-logo.png" alt="Kia"></a>
		</div>

		<div class="dealer-details">
			{% include 'components/logo.twig' %}

			<div class="address-info">
				{% if top_bar_widgets %}
						{{ top_bar_widgets|replace( text_replace ) }}
						<div class="scratchpad-toggle hidden"></div>
				{% endif %}
			</div>
		</div>

	</div>
	{% include 'components/nav-primary.twig' %}
</header>
