// stylelint-disable color-no-invalid-hex
// ==========================================================================
// Color scheme template.
// ==========================================================================

@import "config/variables-bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// Custom colors.
// ==========================================================================
$body-color: #818e92; // en: '', fr: ''
$body-bg: #fff; // en: '', fr: ''
$brand-primary: #c51633; // en: '', fr: ''
$brand-primary-darker: #971127; // en: '', fr: ''
$brand-secondary: #232323; // en: '', fr: ''
$brand-secondary-darker: #0a0a0a; // en: '', fr: ''
$brand-tertiary: #1a1a1d; // en: '', fr: ''
$color-white: #fff; // en: '', fr: ''
$color-black: #1a1a1d; // en: '', fr: ''
$gray-light: #818e92; // en: '', fr: ''
$brand-links-color: $brand-primary; // en: '', fr: ''
$brand-links-color-hover: $brand-tertiary; // en: '', fr: ''
$header-color: $body-color; // en: '', fr: ''
$header-bg: $body-bg; // en: '', fr: ''
$header-links-color: $brand-primary; // en: '', fr: ''
$footer-color: $gray-light; // en: '', fr: ''
$footer-links-color: #fff; // en: '', fr: ''
$footer-hover-color: $brand-primary; // en: '', fr: ''
$footer-bg: $brand-tertiary; // en: '', fr: ''
$footer-primary: $brand-primary; // en: '', fr: ''
$scratchpad-color: $brand-secondary; // en: '', fr: ''
$scratchpad-links-color: $brand-primary; // en: '', fr: ''
$scratchpad-bg: $body-bg; // en: '', fr: ''
$scratchpad-primary: $brand-primary; // en: '', fr: ''
// bpc - Brand Primary Color (+ Darker) (+ Hover).
// ==========================================================================
._bpcolor {
	color: $brand-primary;
}

._bscolor {
	color: $brand-secondary;
}

._bpcolordark {
	color: $brand-primary-darker;
}
// _bpb  - Brand Primary Background (+ Darker).
// ==========================================================================
._bpback {
	background-color: $brand-primary;
}

._bsback {
	background-color: $brand-secondary;
}

._bpbackddark {
	background-color: $brand-primary-darker;
}
// Common Elements.
// ==========================================================================

a,
.page-link {
	color: $brand-links-color;

	&:hover,
	&:focus {
		color: $brand-links-color-hover;
	}
}

.filter-stock-type a.state-active,
.filter-stock-type a:hover,
.filter-stock-type:hover a.state-active:hover {
	color: $brand-links-color;
}
// _bpbackinv - Brand Primary Background Inverted (for inverted buttons).
._bpbackinv {
	color: $brand-links-color;
	background-color: transparent;

	&.active,
	&:hover,
	&:focus {
		color: #fff;
		background-color: $brand-links-color;
	}
}

.btn-primary,
.gform_button,
.cctor-pro-coupons-content .cctor-pro-filters-wrapper input[type=submit],
.application input.button.application_button,
.quick-search-button {
	border-color: $brand-primary;
	background-color: $brand-primary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $brand-primary-darker;
		background-color: $brand-primary-darker;
	}
}

.btn-secondary {
	border-color: $brand-secondary;
	background-color: $brand-secondary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $brand-secondary-darker;
		background-color: $brand-secondary-darker;
		color: $color-white;
	}
}

.btn-info {
	border-color: $brand-tertiary;
	background-color: $brand-tertiary;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: #000;
		background-color: #000;
		color: #fff;
	}
}

#kia .btn-ghost,
.btn-ghost {
	color: $color-white;

	&:hover {
		color: $color-white;
		border-color: $color-white;
	}
}

.gform_button,
.application_button {
	color: #fff;
	border-color: $brand-primary;
	background-color: $brand-primary;

	&:hover,
	&:focus {
		color: #fff;
		border-color: $brand-primary-darker;
		background-color: $brand-primary-darker;
	}
}
// SRP/VDP.
// ==========================================================================

.search-results {
	.special-deal {
		background-color: $brand-primary;
	}
}

[data-trigger="price-tooltip"].savings-price {
	color: $brand-secondary;
	border-color: $brand-secondary;
}

.filter-stock-type a:hover {
	color: $brand-secondary;
}

.search-results > li:hover {
	background: #eee;
}

.product-gallery {
	.image-count {
		background-color: $brand-primary;

		span {
			background-color: $brand-primary-darker;
		}
	}
}
// SRP Filters.
// ==========================================================================

.layout-srp {
	.filters {
		dt {
			color: $color-black;
		}

		dd {
			a {
				color: $body-color;

				&:hover {
					background-color: transparent;
					color: $brand-primary;
				}
			}
		}
	}
}
// Tabs.
// ==========================================================================

.tabs-nav {
	border-bottom-color: $brand-primary-darker;

	a:hover {
		color: $brand-primary-darker;
	}

	a.active,
	a.active:hover,
	a.active:focus,
	a:focus,
	a:focus:hover {
		color: #fff;
		background-color: $brand-primary-darker;
	}
}
// Pagination.
// ==========================================================================

.page-item.active .page-link {
	&,
	&:focus,
	&:hover {
		background-color: $brand-links-color;
		border-color: $brand-links-color;
	}
}
// Site header.
// ==========================================================================

.site-header {
	color: $header-color;
	background-color: $header-bg;

	a {
		color: $brand-primary;

		.text-logo {
			color: $color-black;

			&:hover,
			&:focus {
				color: $color-black;
			}
		}

		&:hover,
		&:focus {
			color: $header-links-color;
		}
	}

	.standard-site-name {
		color: $color-black;
	}

	.site-top-bar {
		a {
			&:hover,
			&:focus {
				color: $color-black;
			}
		}
	}

	&.hyundai-header {
		.top-social {
			.widget_strathcom_social_widget {
				li {
					a {
						&::before {
							color: $header-links-color;

							&:hover,
							&:focus {
								color: $color-black;
							}
						}
					}
				}
			}
		}
	}
}
// Navigation.
// ==========================================================================

.site-primary-navigation {
	background-color: $brand-secondary;
}

.primary-menu {
	&._bpback {
		background: $brand-primary;

		@include media-breakpoint-up(lg) {
			background: transparent;
		}
	}

	> li {
		> a {
			color: $color-white;

			&:hover {
				color: $color-white;
			}

			@include media-breakpoint-up(lg) {
				&:hover {
					color: $brand-primary;
				}
			}
		}

		// DD Menu
		.dropdown-menu {
			background: $brand-secondary;

			li { // lvl 1

				@include media-breakpoint-down(md) {
					background: $brand-primary;
				}
			}

			a {
				color: $color-white;
			}

			.dropdown-menu {
				> li { // lvl 2

					@include media-breakpoint-down(md) {
						background: $brand-primary-darker;
					}
				}
			}
		}

		// Mega Menu Color & Border
		&.mega-menu {
			> .dropdown-menu {
				background: $brand-secondary;
				border-top-color: $brand-primary;
				border: 0;

				a {
					color: $color-white !important;

					&:hover {
						background: black;
					}
				}
			}
		}
	}

	// Arrow (MOBILE)
	.dropdown-trigger::before {
		color: $color-white;
	}

	// Scratchpad (MOBILE)
	.scratchpad-toggle {
		a,
		.count {
			color: $color-white;

			&:hover {
				color: $color-white;
			}
		}
	}
}

.dropdown-trigger {
	background-color: #000;
}
// Map.
// ==========================================================================

.map-flag {
	background-color: $brand-primary;

	a {
		color: $color-white;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}
}
// Site footer.
// ==========================================================================

.site-footer {
	color: $footer-color;
	background-color: $footer-bg;

	a {
		color: $color-white;

		&:hover,
		&:focus {
			color: $footer-primary;
		}
	}

	h5 {
		color: $footer-primary;
	}

	.footer-info {
		a {
			color: $footer-color;
		}
	}
}

.footer-social {
	li a {
		color: $footer-links-color;

		&:hover,
		&:focus {
			color: $footer-hover-color;
		}
	}
}
// Scratchpad.
// ==========================================================================

.scratchpad {
	color: $scratchpad-color;
	background-color: $scratchpad-bg;

	a {
		color: $scratchpad-color;

		&:hover,
		&:focus {
			color: $scratchpad-links-color;
		}

		&.close-btn {
			&:hover {
				background-color: $scratchpad-primary;
			}
		}
	}

	h5 {
		color: $scratchpad-primary;
	}

	ul {
		.remove,
		.view {
			&:hover {
				background-color: $scratchpad-primary;
			}
		}
	}
}

.site-header {
	.scratchpad-toggle {
		a {
			color: $brand-primary;
		}
	}

	.scratchpad-toggle {
		.count {
			background-color: $brand-primary;
			color: $color-white;
		}

		&:hover,
		&:focus {
			.count {
				background-color: $brand-secondary;
			}
		}
	}
}
// Staff plugin.
// ==========================================================================

.staff-departments {
	li {
		a {
			background-color: $brand-primary;
			border-color: $brand-primary;

			&:hover,
			&:focus,
			&:active,
			&:hover:focus,
			&:hover:active,
			&:focus:active {
				background-color: $brand-primary-darker;
				border-color: $brand-primary-darker;
			}
		}
	}
}

.staff-member {
	> figure {
		> a {
			span {
				background-color: $brand-primary;
			}
		}
	}
}
// Job plugin.
// ==========================================================================

.entry-content {
	.single_job_listing {
		.meta {
			.jop-posting,
			.full-time,
			.part-time,
			.temporary,
			.internship,
			.freelance {
				background-color: $brand-primary;
			}
		}
	}
}
// Product Carousel.
// ==========================================================================

.carousel {
	.btn {
		background-color: $brand-primary;
		border-color: $brand-primary;

		&:hover,
		&:focus,
		&:active,
		&:hover:focus,
		&:hover:active,
		&:focus:active {
			background-color: $brand-primary-darker;
			border-color: $brand-primary-darker;
		}
	}
}
// Helper Classes.
// ==========================================================================

.black-container {
	background: #111;
	color: #fff;
}
// Float Nav.
// ==========================================================================

#float-nav {
	a {
		background-color: $brand-primary;

		&:hover {
			background-color: $color-black;
		}
	}
}

.layout-vdp-twenty-seventeen .vdp-dealer-info .phone-number {
	background: $brand-primary;
}
// Incentives Page.
// ==========================================================================

.srp-vi-filters .filter-payment output .value,
.srp-vi-results .actions a:hover,
.srp-vi-results .details [data-trigger="price-tooltip"] {
	color: $brand-primary;
}

.srp-vi-results .details,
.custom-checkbox-list label,
.custom-radio-list label {
	background: $brand-primary;
	border-color: $brand-primary;
	color: $color-white !important;

	&::after {
		display: none;
	}
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus {
	background: $brand-primary-darker;
	border-color: $brand-primary-darker;
	color: $color-white;
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus,
.srp-vi-results header .table-actions a.active {
	background: $brand-primary-darker;
	border-color: $brand-primary-darker;
	color: $color-white;
}

.filter-options .checkbox-list,
.filter-years .radio-list,
.custom-radio-list {
	input:checked {
		+ label {
			border-color: $brand-primary-darker;
			background: $brand-primary-darker;
			color: $color-white;
		}
	}
}

.details {
	h5 {
		color: #fff;
	}

	td {
		color: #000;
	}
}

#hyundai {
	.btn-primary {
		background: #084d8b;
		border-color: #084d8b;

		&:hover,
		&:focus {
			background: darken(#084d8b, 10%);
			border-color: #084d8b;
		}
	}

	.srp-vi-filters .filter-payment output .value,
	.srp-vi-results .actions a:hover,
	.srp-vi-results .details [data-trigger="price-tooltip"] {
		color: #084d8b;
	}

	.srp-vi-results .details,
	.custom-checkbox-list label,
	.custom-radio-list label {
		background: #084d8b;
		border-color: #084d8b;
		color: $color-white !important;

		&::after {
			display: none;
		}
	}

	.custom-checkbox-list label:hover,
	.custom-checkbox-list label:focus,
	.custom-radio-list label:hover,
	.custom-radio-list label:focus {
		background: darken(#084d8b, 10%);
		border-color: darken(#084d8b, 10%);
		color: $color-white;
	}

	.custom-checkbox-list label:hover,
	.custom-checkbox-list label:focus,
	.custom-radio-list label:hover,
	.custom-radio-list label:focus,
	.srp-vi-results header .table-actions a.active {
		background: darken(#084d8b, 10%);
		border-color: darken(#084d8b, 10%);
		color: $color-white;
	}

	.filter-options .checkbox-list,
	.filter-years .radio-list,
	.custom-radio-list {
		input:checked {
			+ label {
				border-color: darken(#084d8b, 10%);
				background: darken(#084d8b, 10%);
				color: $color-white;
			}
		}
	}
}