// ==========================================================================
// Site Footer
// ==========================================================================

.site-footer {
	max-width: 100%;
	overflow-x: hidden;

	.footer-container {

		@extend .container;
		padding: 3rem 0;

		h5 {
			text-transform: uppercase;
			color: #e3e3e3;
			margin: 2rem 0;
		}
	}

	a {
		text-decoration: none !important;
	}
}

.footer-bar {
	padding: 3rem;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
}

// Social

.social {

	@extend .text-xs-center;
	@extend .text-md-left;
	@extend .col-md-8;
	@extend .col-lg-3;
	@extend .col-lg-offset-6;
	@extend .col-xl-3;
	@extend .col-xl-offset-7;

	a {
		display: inline-block;
		margin-top: -1rem;
		width: 2.5rem;
		height: 2.5rem;
		padding-top: .25rem;
		text-align: center;
		font-size: 1.25rem;
	}
}

.amvic {

	@extend .col-xs-4;
	@extend .col-xs-offset-4;
	@extend .col-md-3;
	@extend .col-md-offset-1;
	@extend .col-lg-2;
	@extend .col-lg-offset-0;
	padding-top: 4rem;

	img {
		opacity: 0.8;
		max-width: 80%;
	}
}

// Links
.widget_nav_menu {

	@extend .hidden-sm-down;
	@extend .col-md-3;
	@extend .col-lg-3;
	@extend .col-xl-2;
	@extend .col-xl-offset-1;

	> div > ul {

		@extend .list-unstyled;

		a {
			font-weight: 600;
		}

		li {
			font-size: 0.9rem;
			line-height: 2.2;

			&::after {

				@include fa-icon();
				content: $fa-var-angle-right;
				margin-left: .5rem;
			}
		}
	}
}

.footer-secondary {
	.bar-1,
	.bar-2 {

		@include clearfix();
		padding: 1.25rem 10%;
		font-size: 0.9rem;

		div {

			@extend .hidden-sm-down;
		}

		a.goauto {
			margin-left: 15%;

			@include media-breakpoint-up(sm) {
				float: right;
				margin-left: 0;
			}

			img {
				width: rem(75);
				margin-right: .5rem;
				padding-right: .5rem;
				border-right: 1px solid #444;
			}
		}
	}

	.bar-1 {
		font-size: 1.2rem;
		text-align: center;

		@include media-breakpoint-up(sm) {
			font-size: 0.9rem;
			text-align: left;
		}
	}

	.bar-2 {
		padding-right: 3%;
	}

	a {
		padding: 0 .5rem;
	}
}

// Form
.gform_widget {

	@extend .col-lg-6;

	h5,
	.gform_footer {

		@extend .col-lg-12;
	}

	label {
		font-size: .9rem;
		margin: 0;
		font-weight: 600;
	}

	.ginput_container {
		> input,
		textarea {
			border-radius: 0;
			padding: .25rem;
			background-color: #575757;
			border-color: #575757 !important;

			&:focus {
				background-color: #fff;
			}
		}

		&.ginput_container_checkbox {
			li {
				width: 100%;
				padding: 0;

				input {
					margin-bottom: 3rem;
				}

				label {
					font-size: 0.85rem;
					font-weight: 600;
				}
			}
		}
	}

	li {

		@extend .col-lg-6;

		&:nth-child(7),
		&:nth-child(6) {

			@extend .col-lg-12;
		}
	}
}