// ==========================================================================
// Site Nav.
// ==========================================================================

.primary-menu {
  @include clearfix();
  margin: 0 auto;
  z-index: 999;
  left: 0;

  @include media-breakpoint-up(lg) {
    padding: rem(12) 1rem 0;
    max-width: 940px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  // Drop Downs
  .dropdown-menu {
    li {
      > a {
        font-size: 1rem;
        line-height: 2.2;
      }

      @include media-breakpoint-up(lg) {
        &.nav-heading,
        &.nav-heading-sm {
          > a {
            font-size: 1.7rem;
            line-height: 1.75;

            &::after {
              display: none !important;
            }

            &:hover {
              background: transparent;
            }
          }
        }

        &.nav-heading-sm {
          > a {
            font-size: 1rem;
            font-weight: 600;
            margin-top: 1rem;
          }
        }

        &.nav-btn-sm {
          a {
            padding: .6rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            display: inline-block;
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1;

            &::after {
              display: none !important;
            }
          }
        }
      }
    }
  }

  .dropdown-trigger {
    line-height: 2;
  }

  li.mega-menu > .dropdown-menu > li a {
    &::after {
      @include fa-icon();

      @include media-breakpoint-up(lg) {
        content: $fa-var-angle-right !important;
        color: red;
        line-height: 2;
        float: none;
        padding-left: .5rem;
      }
    }
  }

  // Mega Menu Specific
  li.mega-menu {
    > a { // Top Level
      @include media-breakpoint-up(lg) {
        border-bottom: 12px solid transparent; // Nav spacer
      }
    }

    li { // Both Levels
      a {
        padding: .5rem 1rem;
      }

      .dropdown-trigger { // Hide Second Level DD Trigger
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      > .dropdown-menu {
        margin-left: -1rem;
      }
    }
  }

  > li {
    > a {
      @extend %default;
      display: block;
      padding: 1rem 1rem;
      font-size: 1.2rem;
      font-weight: 600;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        font-size: .85rem;
        font-weight: 400;
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.05rem;
        margin-right: .7rem;
      }

      &::after {
        @include fa-icon();
        @include media-breakpoint-up(lg) {
          content: $fa-var-angle-down;
          margin-left: 5px;
        }
      }
    }

    &.nav-btn {
      .dropdown-trigger {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      &.nav-btn,
      &.scratchpad-toggle {

        a {
          padding: 1rem 1.5rem;
          margin-right: .7rem;

          &::after {
            display: none;
          }
        }
      }

      &.scratchpad-toggle {
        text-align: center;
        float: right;

        a {
          padding: .15rem 0;
          font-size: 0.8rem;
          margin: -.15rem .25rem;
          height: 55px;

          .count {
            padding: 0;
          }

          &::before {
            @include fa-icon();
            content: $fa-var-star;
            display: block;
            color: #9b9b9b;
            font-size: 1.5rem;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}