// ==========================================================================
// Product Brochure.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/modules/product-brochure";
// Overrides and custom styling.
// ==========================================================================

.product-brochure-header {
	h1 {
		font-size: 2.5rem;
	}
}

.product-description {
	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

.product-specification {
	h4 {
		font-size: 1.25rem;
	}
}

.layout-vdp {
	padding-top: 2rem;
}
