// ==========================================================================
// Search results.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/modules/search-results";
// Overrides and custom styling.
// ==========================================================================

.spec-compact {
	font-size: 0.9rem;
}

.product-description {
	h4 {
		font-size: 1.5rem;
	}

	h5 {
		font-size: 1rem;
		margin-bottom: 0.05rem;
	}
}
