// ==========================================================================
// Contact bar.
// ==========================================================================

.site-top-contact-bar {
	border-bottom: $hr-border-width solid $hr-border-color;
}

.contact-bar {

	@include clearfix;
	@include reset-list(0);
	font-size: $font-size-sm;
	color: $gray-light;

	> li {
		float: left;
		padding: #{$spacer / 2} #{$spacer / 4};
		line-height: 1;

		> a {
			display: block;
			margin: #{ - $spacer / 3} #{ - $spacer / 4};
			padding: #{$spacer / 3} #{$spacer / 4};

			&[class*="icon-"] {
				margin: #{ - $spacer / 2} #{ - $spacer / 4};
			}

			&.icon-boxed {
				margin: #{ - $spacer / 3} #{ - $spacer / 8};
				padding: 0;
			}

			& {
				color: $gray-light;
				text-decoration: none;
				transition: background-color $transition-fast;
			}
		}
	}

	li.contact + li.social,
	li.social + li.contact {
		margin-left: $spacer / 2;
	}

	[class*="icon-"] {
		font-size: 1.125rem;
		line-height: 1.2em;

		&.icon-boxed {
			font-size: 1rem;
		}
	}

	.scratchpad-toggle {
		border-right: $hr-border-width solid $hr-border-color;
		padding-right: $spacer / 2;
		margin-right: $spacer / 2;
	}
}
// Mobile 'Call Us' button

.btn-call-us {
	margin: $spacer auto 0;

	> a {

		@extend %btn;
		@extend %btn-block;
		@include button-variant($body-bg, $body-color, $body-color);
		border-radius: $border-radius-lg;

		&::before {
			margin-right: $spacer / 2;
		}
	}
}
