// ==========================================================================
// Entry styling.
// ==========================================================================

.hentry {
	.entry-header {
		.entry-title {
			> a {
				color: $headings-color;

				@include hover-focus {
					text-decoration: none;
				}
			}
		}
	}
}

.group {
	> .group-content {
		> .hentry {
			margin-bottom: #{$spacer * 2};

			& + .hentry {
				padding-top: #{$spacer * 2};
				border-top: $hr-border-width solid $hr-border-color;
			}
		}
	}

	> .hentry {
		&.page {
			> .entry-header {
				.entry-title {
					a {

						@include plain-hover-focus {
							color: $headings-color;
						}
					}
				}
			}
		}
	}
}

.entry-image {
	margin: 0;

	> a {
		display: block;
	}

	img {
		width: 100%;
	}
}

.entry-footer {
	font-size: $font-size-xs;

	%meta-block {
		display: block;

		&::before {

			@include fa-icon();
			margin-right: .5em;
		}

		@include media-breakpoint-up(sm) {
			display: inline-block;
			line-height: 1.1;

			& {
				margin-left: rem(10);
				padding-left: rem(12);
				border-left: $hr-border-width solid $hr-border-color;

				&:first-child {
					padding-left: 0;
					border-left: none;
					margin-left: 0;
				}
			}
		}
	}

	.posted-on {

		@extend %meta-block;

		&::before {
			content: $fa-var-calendar-o;
		}
	}

	.cat-links {

		@extend %meta-block;

		&::before {
			content: $fa-var-tags;
		}
	}
}
