// ==========================================================================
// Finance toolbox.
// ==========================================================================

.finance-toolbox {
	text-align: center;

	.pricing {
		strong {
			padding-bottom: $spacer / 2;
			font-size: $font-size-h1;
			font-weight: normal;
		}
	}

	.finance-cta-btns {

		@include reset-list;
		display: inline-block;
		padding-top: $spacer / 2;
		border-top: $hr-border-width solid $hr-border-color;
		text-align: left;

		.flex & {
			display: flex;
			align-items: stretch;
			flex-basis: 100%;
		}

		> li {
			float: left;
			width: 33%;
			text-align: center;

			.flex & {
				float: none;
			}
		}

		a {
			display: block;
			padding: #{$spacer / 4} #{$spacer / 2};
			font-size: $font-size-sm;
			line-height: 1.2;

			@include hover-focus {
				text-decoration: none;
			}
		}

		[class*="icon-"]::before {
			display: block;
			margin: 0 0 0.25em;
			font-size: 1.5em;
		}
	}
}
// One-line horizontal layout (price in single line with buttons)

@mixin build-finance-toolbox-horizontal {
	display: table;
	width: 100%;

	.flex & {
		display: flex;
		align-items: stretch;
	}

	.pricing {
		display: table-cell;
		vertical-align: middle;
		width: 40%;
		padding-right: $spacer / 2;

		.flex & {
			display: block;
			flex-basis: 25%;
			width: auto;
		}
	}

	.finance-cta-btns {
		display: table-cell;
		vertical-align: middle;
		padding: #{$spacer / 4} 0 #{$spacer / 4} #{$spacer / 2};
		border-top: none;
		border-left: $hr-border-width solid $hr-border-color;

		.flex & {
			display: flex;
			flex-basis: 75%;
			width: auto;
			border-left: none;

			> li {
				border-left: $hr-border-width solid $hr-border-color;
			}
		}

		a {
			font-size: $font-size-base;
		}
	}
}
// One-column vertical layout

@mixin build-finance-toolbox-vertical {
	display: block;
	float: left;
	width: 33%;

	.pricing {
		display: block;
		width: 100%;
	}

	.finance-cta-btns {
		display: block;
		padding: 0 $spacer;
		border: none;

		.flex & {
			display: flex;
			flex-direction: column;
		}

		> li {
			float: none;
			width: 100%;
			padding: $spacer / 2;
			border-left: none;
			border-top: $hr-border-width solid $hr-border-color;

			.flex & {
				border-left: none;
			}
		}

		a {
			font-size: $font-size-base;
		}
	}
}
// Two-line horizontal layout (price in separate row, then buttons in next row)

@mixin build-finance-toolbox-horizontal-expanded {
	display: block;

	.flex & {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
	}

	.pricing {
		display: block;
		width: 100%;
		text-align: left;
	}

	.finance-cta-btns {
		display: block;
		width: 100%;
		padding-top: $spacer;
		border-left: none;
		border-top: $hr-border-width solid $hr-border-color;

		.flex & {
			display: flex;
			flex-basis: 100%;

			> li {
				border-left: $hr-border-width solid $hr-border-color;

				&:first-child {
					border-left: none;
				}
			}
		}

		a {
			font-size: $font-size-base;
		}
	}
}
