// ==========================================================================
// WP Job Manager style overrides.
// ==========================================================================

@import "../../../../vendor/wp-job-manager/css/frontend";

.entry-content {
	.single_job_listing,
	.job-manager-application-wrapper {
		.application {
			.application_details {
				padding: rem(10) rem(15) rem(20);
				border-color: rgba(#000, .15);
				box-shadow: 0 1px 1px rgba(#000, .1);

				&::before {
					border-bottom-color: rgba(#000, .15);
				}
			}
		}
	}

	.single_job_listing {
		.company {
			border-color: rgba($body-color, .1);

			img {
				position: static;
				float: left;
				width: auto;
				margin-right: 1em;
			}

			.name {
				margin-left: 0;
				padding-left: 0;
				padding-top: 0.75em;
			}

			.company_video {
				clear: both;
			}
		}

		.meta {
			.jop-posting,
			.full-time,
			.part-time,
			.temporary,
			.internship,
			.freelance {
				background-color: $brand-primary;
			}
		}
	}
}

.application input.button.application_button {

	@extend .btn;
	@extend .btn-primary;
}

ul.job_listings {
	li.job_listing {
		h3 {
			font-size: $font-size-base;
			font-weight: bold;
		}

		& + li.job_listing {
			border-top: none;
		}

		.entry-content & {
			.company {
				font-size: $font-size-xs;
			}
		}

		.widget.job_manager & {
			a {
				padding-left: $spacer / 2;
				padding-right: $spacer / 2;
			}

			.company {
				display: none;
			}
		}
	}
}

.job_filters {
	.search_jobs input {
		padding: $input-padding-y $input-padding-x;
		line-height: 1.3;
	}
}

.job_types {
	label {
		margin-bottom: 0;
	}
}

