// ==========================================================================
// Pagination.
// ==========================================================================

.pagination-wrapper {
	text-align: center;
}

.pagination {
	a {
		text-decoration: none;
		transition: background-color .3s, color .3s;
	}
}
