// ==========================================================================
// Product Brochure.
// ==========================================================================
$vdp-highlight-color: #2ece32;

.product-brochure {
	padding-bottom: $spacer;

	.cta-block {
		.btn {
			display: block;
			margin: 0 auto $spacer;
			padding-left: $spacer * 2;
			padding-right: $spacer * 2;

			@include media-breakpoint-up(sm) {
				display: inline-block;
			}
		}
	}

	.btn.book-test-drive {

		@extend .btn-lg;
		margin: $spacer auto;
		font-size: $font-size-h4;

		@include media-breakpoint-up(sm) {
			max-width: 480px;
		}

		&::before {

			@include fa-icon;
			content: $fa-var-road;
			margin-right: 0.5em;
			font-size: 1.25em;
		}
	}
}
// Brochure header.
// ==========================================================================

.product-brochure-header {

	@include clearfix;
	position: relative;
	margin-bottom: $spacer;
	padding-bottom: $spacer;
	border-bottom: $hr-border-width solid $hr-border-color;

	@include media-breakpoint-up(md) {
		padding-bottom: 0;
	}

	h1 {
		margin-bottom: $spacer / 2;
		font-size: $font-size-h1;
		border-top: 0;
		text-transform: none;

		&::before {
			display: none;
		}

		@include media-breakpoint-up(md) {
			float: left;
			max-width: 80%;
			margin-bottom: $spacer;
		}
	}

	.call-us {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
			float: right;
			max-width: 20%;
			margin-top: -$spacer / 4;
			color: $gray-light;
			line-height: 1.2;
			text-align: center;
		}

		@include hover-focus {
			text-decoration: none;
		}

		strong {
			color: $gray;

			@include media-breakpoint-up(md) {
				display: block;
			}
		}

		&:hover strong {
			color: darken($gray, 50%);
		}
	}
}
// Product brochure utilities.
// ==========================================================================

.product-brochure-utils {

	@include clearfix;
	font-size: $font-size-sm;

	a {

		@include hover-focus {
			text-decoration: none;
		}
	}

	.breadcrumb {
		max-width: 100%;
		float: left;
		margin: 0;

		@include media-breakpoint-up(md) {
			max-width: 80%;
		}

		li::before {
			font-family: FontAwesome;
		}

		li.active a {
			cursor: default;
		}
	}

	.tools {

		@include reset-list;
		@extend .hidden-sm-down;
		max-width: 20%;
		float: right;
		margin: 0;
		padding: $breadcrumb-padding-vertical 0;

		li {
			float: left;
			margin: 0 0 0 $spacer;

			a::before {

				@include fa-icon();
			}

			&.tools-share a::before {
				content: $fa-var-envelope;
				margin-right: 4px;
			}

			&.tools-print a::before {
				content: $fa-var-print;
				margin-right: 4px;
			}
		}
	}
}
// Product description block.
// ==========================================================================

.product-description {
	h2 {
		margin-bottom: $spacer / 2;
		color: $gray-light;
		font-size: $font-size-h2;
		text-transform: none;
	}

	h3 {
		display: inline-block;
		margin-bottom: 0;
		font-size: $font-size-h3;
		font-weight: normal;
		text-transform: none;
	}
}

li.inventory-indicator {
	display: block;
	padding: 1rem .5rem .5rem !important; // remove later
	border-bottom: none !important;
	font-weight: bold;

	&.high-inventory,
	&.higher-inventory {
		color: #129d52;

		em {
			font-size: 0.9rem;
			font-weight: normal;
		}

		&::before {

			@include fa-icon;
			content: $fa-var-asterisk;
			margin-right: .25em;
		}
	}

	&.low-inventory {
		color: $brand-danger;

		&::before {

			@include fa-icon;
			content: $fa-var-warning;
			margin-right: .25em;
		}
	}
}

.inventory-ribbon {

	@extend .text-center;
	width: 109%;
	padding: .5rem 1.5rem;
	position: relative;
	margin: -1rem -1.5rem .5rem;
	color: #fff;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	background: $vdp-highlight-color;
	display: inline-block;
	font-weight: bold;

	@include media-breakpoint-up(md) {
		width: 107.5%;
	}

	@include media-breakpoint-up(lg) {
		width: 115%;
	}

	span::before,
	span::after {
		display: block;
		content: "";
		position: absolute;
		border-style: solid;
		z-index: 999;
	}

	span::before {
		bottom: -.4em;
		left: 0;
		border-color: darken($vdp-highlight-color, 10%) transparent transparent transparent;
		border-width: .5em 0 0 .5em;
	}

	span::after {
		bottom: -.4em;
		right: -.5em;
		border-color: transparent transparent transparent darken($vdp-highlight-color, 10%);
		border-width: 0 .5em .5em;
	}
}
// Product price modifications.
// ==========================================================================

.retail-price {

	@include media-breakpoint-up(sm) {
		display: inline-block;
	}

	@include media-breakpoint-up(lg) {
		display: block;
	}
}
// Product contact form.
// ==========================================================================

.product-contact-form {
	padding: #{$spacer * 1.5} #{$spacer * 1.5} #{$spacer / 2};
	background-color: $gray-lightest;

	h5 {
		font-family: $font-family-sans-serif;
		font-weight: normal;
	}
}
// Product tabs.
// ==========================================================================

.product-tabs {
	.tabs-nav {

		@include clearfix;
		@include reset-list;
		margin: 0 0 $spacer;
		padding: 0;
		border-bottom-width: 2px;
		border-bottom-style: solid;

		a {
			float: left;
			display: block;
			padding: $spacer / 2;
			color: $body-color;
			background-color: transparent;
			transition: background-color $transition-fast, color $transition-fast;

			&:hover {
				background-color: $gray-lightest;
				text-decoration: none;
			}

			&:focus {
				text-decoration: none;
			}
		}
	}
}
// Product views indicator (Silent Salesman).
// ==========================================================================

.product-views {
	p {
		position: relative;
		margin: #{$spacer / 2} 0;
		padding: #{$spacer / 2} #{$spacer * 1.5} #{$spacer / 2} $spacer;
		background-color: $brand-success;
		color: #fff;
		text-align: center;
		line-height: 1;

		@include media-breakpoint-up(sm) {
			display: inline-block;
		}

		@include media-breakpoint-up(lg) {
			float: right;
			display: block;
			text-align: left;
		}

		&::before {

			@include fa-icon;
			content: $fa-var-users;
			margin-right: .5em;
			font-size: 160%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&[data-trigger="dismiss"] {
		p {
			transition: background-color $transition-base;

			[data-toggle="dismiss"] {
				position: absolute;
				top: rem(-5);
				right: 0;
				width: rem(20);
				height: rem(20);
				text-indent: -999px;
				overflow: hidden;
				background-color: darken($brand-success, 10%);
				color: #fff;
				border: none;

				&:hover {
					background-color: $brand-success;
				}

				&::after {

					@include fa-icon;
					content: $fa-var-close;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					line-height: rem(20);
					text-indent: 0;
				}
			}
		}
	}
}
// Product leads count indicator (Silent Salesman).
// ==========================================================================

.product-leads {
	color: $brand-primary;
	text-align: center;
	font-size: 0.9rem;

	h5 + & {
		margin-top: -$spacer;
	}
}

