// ==========================================================================
// Filters.
// ==========================================================================

.filter-stock {

	@include clearfix;
	margin-bottom: 2rem;
	line-height: 2rem;
	margin-top: -1.5rem;
}

.filter-stock-active-wrap {
	padding-left: rem(15);
	padding-right: rem(15);

	.filter-stock-label {
		display: inline-block;

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	@include media-breakpoint-up(xl) {
		padding-left: 0;
		padding-right: 0;
	}
}

.filter-stock-active {
	display: inline-block;

	@include media-breakpoint-up(md) {
		float: left;
	}

	a {
		display: inline-block;
		padding-right: .5em;
		text-decoration: none;
		transition: color 240ms $transition-easing;

		&[data-separator="slash"]::after {
			content: "/";
			color: $gray;
			margin-left: .75em;
		}

		&[data-separator="comma"]::after {
			content: ",";
			color: $gray;
		}

		&::before {

			@include fa-icon;
			width: 0;
			margin: 0 2px 0 0;
			opacity: 0;
			transition: opacity 240ms $transition-easing, width 180ms $transition-easing;
			content: $fa-var-times;
		}

		&:hover {
			color: $gray;

			&::before {
				opacity: 1;
				width: 1em;
			}
		}
	}
}

.filter-stock-type {
	padding-left: rem(9);
	padding-right: rem(9);

	> div {
		display: inline-block;
	}

	@include media-breakpoint-up(md) {
		float: right;
		white-space: nowrap;
	}

	@include media-breakpoint-up(xl) {
		padding-left: 0;
		padding-right: 0;
	}

	a {
		display: inline-block;
		padding: 0 6px;
		color: $gray;
		transition: color .3s;
		text-decoration: none;
		white-space: nowrap;

		&::before {

			@include fa-icon;
			margin-right: 4px;
			content: $fa-var-circle-o;
		}

		&.state-active,
		&:hover {
			&::before {
				content: $fa-var-dot-circle-o;
			}
		}
	}

	&:hover .state-active {
		color: $gray;

		&::before {
			content: $fa-var-circle-o;
		}

		&:hover {
			color: inherit;

			&::before {
				content: $fa-var-dot-circle-o;
			}
		}
	}
}

.filter-actions {
	.btn {
		display: block;
		margin-bottom: 8px;
		transition: background-color .3s;

		&::after {

			@include fa-icon;
			margin-left: 8px;
		}

		&.btn-hide {
			display: none;
		}

		&.btn-hide::after {
			content: $fa-var-times;
		}

		&.btn-refine {
			padding-top: rem(20);
			padding-bottom: rem(20);
			margin-bottom: 0;
		}

		&.btn-refine::after {
			content: $fa-var-search-plus;
		}

		&.btn-reset::after {
			content: $fa-var-refresh;
		}
	}

	a[data-toggled] {
		.label-show {
			display: none;
		}
	}
}

@include media-breakpoint-down(md) {
	.layout-srp {
		.group-sidebar {
			.filter-actions {
				.btn {
					display: none;

					&.btn-refine {
						display: block;
					}
				}

				.btn-reset {
					text-align: left;
					border: none;
					padding-left: 0;
					padding-right: 0;
					background: transparent;
					color: $gray;
				}
			}

			.filters-sidebar {
				display: none;
			}
		}

		&.state-toggled {
			.filter-actions {
				.btn {
					display: block;

					&.btn-hide {
						display: none;
					}

					&.btn-refine {
						margin-bottom: 8px;
					}

					&.btn-refine::after {
						content: $fa-var-search-minus;
					}
				}
			}

			.group-sidebar {
				.filters-sidebar {
					display: block;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.layout-srp {
		.filter-actions .btn.btn-hide {
			display: block;
		}

		.filter-actions .btn.btn-refine,
		&.state-toggled .filter-actions .btn.btn-refine {
			display: none;
		}

		&.state-toggled {
			position: relative;

			.group-sidebar {
				position: absolute;
				top: rem(80);
				left: 0;
				z-index: 2;
			}

			.results-meta {
				margin-left: 25.64%;
			}

			.group-content {
				left: 0;
				float: none;
				width: 100%;
			}

			.filter-actions {
				background-color: transparent;
				padding-top: 0;

				> a {
					display: none;

					&[data-toggled] {
						display: block;

						&.btn-hide::after {
							content: $fa-var-sliders;
						}

						.label-hide {
							display: none;
						}

						.label-show {
							display: inline;
						}
					}
				}
			}

			.filters {
				display: none;
			}
		}
	}
}

.filters {
	dt {
		position: relative;
		cursor: pointer;
		font-weight: normal;
		line-height: 25px;
		transition: color .3s;
		margin-top: 1rem;
		margin-bottom: 0.5rem;

		&:first-child {
			margin-top: 0;
		}

		&::after {

			@include fa-icon;
			position: absolute;
			top: 50%;
			right: 0;
			text-align: center;
			width: 25px;
			line-height: 25px;
			margin-top: -12px;
			content: $fa-var-angle-right;
			transition: font-size .1s, transform .3s;
			transform: rotate(90deg);
		}

		&:hover {
			color: #000;

			&::after {
				font-size: 1.4rem;
			}
		}

		@include media-breakpoint-down(md) {
			&::after {
				transform: rotate(0deg);
			}

			&.state-closed::after {
				transform: rotate(90deg);
			}

			&.state-closed:hover {
				&::after {
					transform: rotate(0deg);
				}
			}

			&.state-closed + dd {
				max-height: 1000px;
			}
		}

		@include media-breakpoint-up(lg) {
			&::after {
				transform: rotate(90deg);
			}

			&.state-closed::after {
				transform: rotate(0deg);
			}

			&.state-closed:hover {
				&::after {
					transform: rotate(90deg);
				}
			}

			&.state-closed + dd {
				max-height: 0;
			}
		}

		&.state-inactive {
			display: none;
		}

		&.state-inactive + dd {
			display: none;
		}
	}

	dd {
		overflow: hidden;
		transition: max-height .5s ease-in-out;

		@include media-breakpoint-down(md) {
			max-height: 0;
		}

		@include media-breakpoint-up(lg) {
			max-height: 1000px;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		a {
			display: block;
			color: $gray-dark;
			transition: color .3s, background-color .3s;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		select {
			display: block;
			width: 100%;
			border: 1px solid #ccc;
			background-color: #ececec;
			color: $gray;
			padding: 0 12px;
			height: 34px;
			line-height: 34px;
			cursor: pointer;
			outline: none;
			font-size: rem(14);

			@include media-breakpoint-up(lg) {
				font-size: rem(16);
			}

			&:hover,
			&:focus {
				background-color: #fff;
				box-shadow: none;
				outline-style: none;
			}
		}
	}

	form {
		margin: .5rem 0 1rem;
		line-height: 2.4rem;

		label {
			display: inline-block;
			padding-right: 3px;
			margin-left: 3px;

			&:first-child {
				margin-left: 0;
			}
		}

		input {
			display: inline-block;
			width: 25%;
			padding: .62rem 1px;
			font-size: rem(14);
			text-align: center;
			line-height: 1em;
			color: $gray;
			border-width: 1px;
			border-style: solid;
			border-color: #cdcdcd;
			transition: border-color .3s;
			max-width: 80px;

			&[name="query"] {
				width: 75%;
				max-width: none;
				padding: .62rem;
				text-align: left;

				& + button {
					margin-left: 1%;
					width: 21%;
					padding-left: .5rem;
					padding-right: .5rem;
				}
			}

			&[type="number"] {
				appearance: none;
				/* stylelint-disable */
				-moz-appearance: textfield;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				/* stylelint-enable */
			}

			&:hover,
			&:focus {
				border-color: $gray-dark;
			}

			@include media-breakpoint-up(xl) {
				width: 26%;
				font-size: rem(16);
			}
		}

		button {
			margin-left: 6px;
			display: inline-block;
			font-size: $font-size-sm;
		}
	}
}
// Range slider third-party styling.
// ==========================================================================

@import "nouislider/distribute/nouislider.min";

.range-slider-wrap {
	.range-slider {
		margin-bottom: rem(16);
		padding-left: 16px;
		padding-right: 16px;
	}

	button {
		font-size: $font-size-sm;
	}
}
