// ==========================================================================
// Staff plugin styling.
// ==========================================================================

.staff-member {

	@include clearfix;
	margin: 0 0 $grid-gutter-width;
	border: $hr-border-width solid $hr-border-color;

	.photo {
		margin: 0;

		img {
			width: 100%;
		}

		a {
			display: block;
			position: relative;

			span {
				position: absolute;
				bottom: 0;
				width: 80%;
				display: block;
				font-size: 0.9rem !important;
				padding: 0.75rem 0;
				text-align: center;
				opacity: 0;
				transition: opacity $transition-base;
				color: #fff;

				@include media-breakpoint-up(sm) {
					top: 50%;
					bottom: auto;
					left: 10%;
				}
			}

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(#000, .4);
				opacity: 0;
				transition: opacity $transition-base;
			}

			@include hover-focus {
				&::before,
				span {
					opacity: 1;
					text-decoration: none;
				}
			}
		}
	}

	.name {
		margin: 0 0 #{$spacer / 2};
		font-size: $font-size-lg;
	}

	.position {
		margin: #{$spacer / 2} 0;
		font-size: $font-size-base;
	}

	.bio {

		@extend %staff-member-pseudo-border;
		margin: #{$spacer / 2} 0;
	}

	.staff-contact {

		@include reset-list;

		a {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@include hover-focus {
				text-decoration: none;
			}

			&::before {

				@include fa-icon;
				width: 1em;
				margin-right: .5em;
				text-align: center;
				color: $text-muted;
			}
		}

		.contact-phone::before {
			content: $fa-var-phone-square;
		}

		.contact-email::before {
			content: $fa-var-envelope;
		}

		.contact-website::before {
			content: $fa-var-external-link;
		}
	}

	.social-links {

		@include reset-list;

		li + li a {
			margin-left: $spacer / 3;
		}

		a {
			display: block;
			float: left;
			width: rem(18);
			height: rem(18);
			margin-bottom: $spacer / 2;
			text-indent: -999px;
			overflow: hidden;
			opacity: .8;
			transition: opacity $transition-fast;

			@include hover-focus {
				opacity: 1;
				text-decoration: none;
			}

			&::before {

				@include fa-icon;
				display: block;
				width: 100%;
				height: 100%;
				font-size: 1rem;
				text-indent: 0;
			}

			&.icon-facebook::before {
				content: $fa-var-facebook-square;
				color: #3b5998;
			}

			&.icon-twitter::before {
				content: $fa-var-twitter-square;
				color: #55acee;
			}

			&.icon-linkedin::before {
				content: $fa-var-linkedin-square;
				color: #007bb5;
			}

			&.icon-youtube::before {
				content: $fa-var-youtube;
				color: #b00;
			}
		}
	}
}

%staff-member-pseudo-border {
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: $hr-border-width;
		margin: $spacer auto;
		background-color: $hr-border-color;
	}
}
// Base layout.

.staff-member {
	.photo {
		float: left;
		width: 40%;

		@include media-breakpoint-only(sm) {
			width: 30%;
		}

		.no-image {
			width: 100%;
			padding-bottom: 150%;
			background: url("../../dist/img/no-photo_thumbnail.png") no-repeat center;
			background-size: cover;
		}
	}

	.bio,
	.details,
	.staff-contact,
	.social-links {
		margin: #{$spacer / 2} $spacer #{$spacer / 2} 40%;
		padding: 0 0 0 $spacer;

		@include media-breakpoint-only(sm) {
			margin-left: 30%;
		}
	}
}
// Grid layout.

.staff-grid {

	@extend .row;

	.staff-card {

		@extend .col-xs-12;
		@extend .col-md-6;
		@extend .col-lg-4;

		@include media-breakpoint-only(md) {
			&:nth-child(2n + 1) {
				clear: both;
			}
		}

		@include media-breakpoint-up(lg) {
			&:nth-child(3n + 1) {
				clear: both;
			}
		}
	}

	.staff-member {
		.social-links {
			&::before {
				margin: #{$spacer / 2} auto;
			}
		}
	}
}

%staff-member-xl {
	.photo {
		width: rem(220);
		max-width: 25%;
	}

	.bio,
	.details,
	.staff-contact,
	.social-links {
		margin-left: 25%;

		@include media-breakpoint-up(lg) {
			margin-left: rem(220);
		}
	}

	.name {

		@include media-breakpoint-up(sm) {
			margin-top: $spacer;
			font-size: $font-size-h2;
		}
	}

	.position {

		@include media-breakpoint-up(sm) {
			font-size: $font-size-lg;
		}
	}

	.staff-contact {

		@extend %staff-member-pseudo-border;
	}

	.social-links {
		a {
			width: rem(24);
			height: rem(24);

			&::before {
				font-size: 1.3em;
			}
		}
	}
}
// List layout.

.staff-list {
	.staff-card {
		width: 100%;
	}

	.staff-member {

		@extend %staff-member-xl;
	}
}

.single.single-staff,
.staff-single {
	.staff-member {

		@extend %staff-member-xl;
	}
}
// Departments index layout.

.staff-departments {

	@include clearfix;
	@include reset-list;
	@include make-row();
	margin-top: $spacer;
	margin-bottom: $spacer;

	li {

		@extend .col-md-3;

		a {

			@extend .btn;
			@extend .btn-primary;
			@extend .btn-block;
			margin-bottom: 0.5rem;
		}
	}
}

.staff-heading {

	@extend .h5;
	@extend .col-xs-12;
	@extend .text-muted;
	padding-top: #{$spacer * 2};
}
