// ==========================================================================
// Vehicle Incentives filters panel styling.
// ==========================================================================

// SRP VI layout.
// ==========================================================================

.srp-vi-filters {
	margin-top: $spacer;
	margin-bottom: $spacer;

	fieldset {

		@extend .row;

		> legend,
		> .checkbox-list,
		> .radio-list {

			@extend .col-xs-12;
		}

		p {
			position: relative;
			margin: 0;
			padding: 0 #{$spacer / 4};
			float: left;
			width: 50%;

			@include media-breakpoint-up(sm) {
				width: 25%;
			}

			@include media-breakpoint-up(md) {
				width: percentage(1/6);
			}

			label {
				padding-top: rem(3);
				padding-bottom: rem(3);
				margin-bottom: rem(8);
			}
		}
	}

	.filter-down-payment {

		@extend .col-xs-12;
		@extend .col-md-5;
		padding-left: 0;
		padding-right: 0;

		label {

			@extend .col-xs-12;
		}

		.input-group {

			@extend .col-xs-12;
			@extend .col-md-6;
		}

		.link-down-payment {

			@extend .col-xs-12;
			@extend .col-md-6;

			br {

				@extend .hidden-md-down;
			}
		}
	}

	.filter-payment {

		@extend .col-xs-12;
		@extend .col-md-7;
	}

	.filter-makes {

		@include clearfix;

		li {
			display: none;
			width: 50%;
			float: left;
			padding: 0 #{$spacer / 4};

			@include media-breakpoint-up(sm) {
				float: none;
				width: percentage(1/4);
				padding: 0;
			}

			@include media-breakpoint-up(md) {
				width: percentage(1/6);
			}

			@include media-breakpoint-up(lg) {
				width: percentage(1/8);
			}

			@include media-breakpoint-up(xl) {
				width: percentage(1/10);
			}

			a {
				padding-top: rem(3);
				padding-bottom: rem(3);
				margin-bottom: rem(8);

				img {
					+ h3 {
						display: none;
					}
				}
			}
		}
	}
}

// SRP VI styling.
// ==========================================================================

.srp-vi-filters {
	legend,
	.filter-payments label {
		font-size: $font-size-base;
		font-weight: bold;
		margin: 0 0 #{$spacer / 2};
		color: $gray-dark;
	}

	.filter-down-payment {
		input {

			@extend .form-control;
			font-size: $font-size-lg;
			font-weight: bold;
			text-align: right;
		}

		.addon {

			@extend .input-group-addon;
		}

		.link-down-payment {
			color: $gray-dark;
			font-size: 0.9rem;

			br {
				display: none;
			}
		}
	}

	.error-down-payment {
		position: absolute;
		z-index: $zindex-tooltip;
		top: 110%;
		left: 25%;
		width: 80%;
		padding: rem(6) rem(10);
		font-size: $font-size-sm;
		line-height: 1.25;
		background-color: $brand-danger;
		color: #fff;
		transition: opacity $transition-base;

		&.hidden {
			opacity: 0;
		}

		&::after {
			position: absolute;
			bottom: 100%;
			left: 50%;
			border: rem(8) solid transparent;
			content: " ";
			height: 0;
			width: 0;
			pointer-events: none;
			border-color: transparent;
			border-bottom-color: $brand-danger;
			margin-left: rem(-8);
		}
	}

	.filter-payment {
		.input-group {
			position: relative;
			display: block;
			padding-top: rem(30);
		}

		output {
			position: absolute;
			top: rem(-10);
			right: 0;
			font-weight: bold;
			margin-bottom: $spacer;

			.value {
				color: $brand-primary;
				font-size: $font-size-h4;
			}

			.suffix {
				color: $gray-dark;
			}

			@include media-breakpoint-up(sm) {
				top: rem(-30);
			}
		}
	}

	.filter-makes {

		@include reset-list;
		padding-top: $spacer;
		border-top: $hr-border-width solid $hr-border-color;
		text-align: center;

		li {
			display: none;

			&.active {
				display: block;
			}

			a {
				color: $gray;
				background-color: $gray-lighter;
				border-color: $gray-lighter;
				transition: background-color $transition-fast, color $transition-fast, border-color $transition-fast;
				font-style: normal;
				font-size: $font-size-sm;

				h3 {
					font-size: $font-size-lg;
					text-transform: none;
					font-weight: bold;
					margin-bottom: 0;
				}

				&:hover,
				&:focus {
					background-color: darken($gray-lighter, 10%);
					border-color: darken($gray-lighter, 10%);
					text-decoration: none;
				}
			}
		}

		img {

			@extend .img-fluid;
			display: none;
		}

		@include media-breakpoint-up(sm) {
			li {
				display: none;
				padding: 0 $spacer;
				margin-bottom: $spacer / 2;
				opacity: 0.8;
				transition: opacity $transition-base;

				&.active {
					display: inline-block;
				}

				&:hover,
				&:focus {
					opacity: 1;
				}

				a {
					padding: 0;

					&,
					&:hover,
					&:focus {
						background-color: transparent;
						border: none;
					}
				}
			}

			img {
				display: inline-block;
				min-height: rem(100);
			}

			h4 {
				display: none;
			}
		}
	}
}
