// ==========================================================================
// Vehicle Incentives chrome styling
// ==========================================================================

[data-trigger="vehicle-incentives"] {
	position: relative;

	.srp-vi-notifications {
		> p {
			margin: $spacer * 2 auto;
			padding: $spacer * 2;
			border: rem(5) dashed $gray-lighter;
			text-align: center;
			font-size: $font-size-lg;

			&::before {

				@include fa-icon;
				display: block;
				margin: #{$spacer * 2} auto;
				font-size: 96px;
				color: lighten($gray-light, 25%);
			}

			&.empty-collection::before {
				content: $fa-var-cog;
			}

			&.sync-error::before {
				content: $fa-var-exclamation-triangle;
			}

			&[aria-hidden="true"] {
				display: none;
			}
		}
	}

	&[aria-busy="true"] {
		&::before {
			content: '';
			position: absolute;
			z-index: $zindex-modal-bg;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($body-bg, .8);
		}

		&::after {

			@include fa-icon();
			content: $fa-var-spinner;
			position: fixed;
			z-index: $zindex-modal;
			top: 50%;
			left: 50%;
			margin-top: -50px;
			color: $body-color;
			font-size: 100px;
			animation: rotate 1400ms linear infinite;
		}

		@keyframes rotate {
			0% {
				transform: rotateZ(0deg);
			}

			100% {
				transform: rotateZ(360deg);
			}
		}
	}
}
