<header class="site-header">
	<div class="container-fluid">
		{% include 'components/logo.twig' %}
		<div class="head-right">
			{% if block( 'top_bar' )|trim %}
				<div class="site-top-bar">
					{% block top_bar %}
						{% include 'components/top-bar.twig' %}
					{% endblock %}
				</div>
			{% endif %}
			{% include 'components/nav-primary.twig' %}
		</div>
	</div>
</header>
