{% if menu_primary %}
    {% if(top_level == 'true') %}
        <ul class="primary-menu _bpback">
    {% else %}
        <ul class="dropdown-menu">
    {% endif %}
    {% for item in menu_primary %}
        {% if(top_level == 'true') %}
        <li class="{{ item.classes|join(' ')|e('html_attr') }}">
        {% else %}
            <li class="{{ item.classes|join(' ')|e('html_attr') }}{% if 'menu-item-has-children' in item.classes %} nav-arrow{% endif %}">
        {% endif %}
        {{ macros.menu_anchor(item) }}
        {% include "components/recursive-menu.twig" with {'menu_primary': item.get_children, 'top_level': 'false'} %}
        </li>
    {% endfor %}
    {% if(top_level == 'true') %}
        <li class="scratchpad-toggle hidden"></li>
        <li><a href="/inventory/search"><i class="icon-search"></i></a></li>
    {% endif %}
    </ul>
{% endif %}