// ==========================================================================
// Color scheme template.
// ==========================================================================

@import "config/variables-bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Custom colors.
// ==========================================================================
$body-color: #fff; // en: '', fr: ''
$body-bg: #0b0b0c; // en: '', fr: ''
$color-white: #fff; // en: '', fr: ''
$color-black: #0b0b0c; // en: '', fr: ''
$brand-primary: #0575dd; // en: '', fr: ''
$brand-primary-darker: #045bab; // en: '', fr: ''
$brand-secondary: #282a2f; // en: '', fr: ''
$brand-tertiary: #131315; // en: '', fr: ''
$brand-links-color: $brand-primary; // en: '', fr: ''
$brand-links-color-hover: #034079; // en: '', fr: ''
$header-color: #fff; // en: '', fr: ''
$header-bg: $brand-tertiary; // en: '', fr: ''
$header-links-color: #fff; // en: '', fr: ''
$footer-color: $color-white; // en: '', fr: ''
$footer-links-color: $color-white; // en: '', fr: ''
$footer-hover-color: $brand-primary; // en: '', fr: ''
$footer-bg: $brand-secondary; // en: '', fr: ''
$footer-primary: $brand-primary; // en: '', fr: ''
$scratchpad-color: $color-white; // en: '', fr: ''
$scratchpad-links-color: $brand-primary; // en: '', fr: ''
$scratchpad-bg: $brand-tertiary; // en: '', fr: ''
$scratchpad-primary: $gray-light; // en: '', fr: ''

// Body.
// ==========================================================================

body {
	background: $body-bg;
	color: $body-color;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $body-color;
	}

	.color-light {
		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			color: $color-white;
		}
	}

	.color-dark {
		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			color: $color-black;
		}
	}
}

p,
.strathcom-footer {
	color: #b7b7c5;
}

.main-container {
	background: $body-bg;
}

// bpc - Brand Primary Color (+ Darker) (+ Hover).
// ==========================================================================
._bpcolor {
	color: $brand-primary;
}

._bscolor {
	color: $brand-secondary;
}

._bpcolordark {
	color: $brand-primary-darker;
}

// _bpb  - Brand Primary Background (+ Darker).
// ==========================================================================
._bpback {
	background-color: $brand-primary;
}

._bsback {
	background-color: $brand-secondary;
}

._bpbackddark {
	background-color: $brand-primary-darker;
}

// Common Elements.
// ==========================================================================

a,
.page-link {
	color: $brand-links-color;

	&:hover,
	&:focus {
		color: $brand-links-color-hover;
	}
}

.filter-stock-type a.state-active,
.filter-stock-type a:hover,
.filter-stock-type:hover a.state-active:hover {
	color: $brand-links-color;
}

// _bpbackinv - Brand Primary Background Inverted (for inverted buttons).
._bpbackinv {
	color: $brand-links-color;
	background-color: transparent;

	&.active,
	&:hover,
	&:focus {
		color: $color-white;
		background-color: $brand-links-color;
	}
}

.btn-primary,
.gform_button,
.cctor-pro-coupons-content .cctor-pro-filters-wrapper input[type=submit],
.application_button,
span.btn,
.quick-search-button {
	border-color: $brand-primary;
	background-color: $brand-primary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $brand-primary-darker;
		background-color: $brand-primary-darker;
		color: $color-white;
	}
}

.btn-secondary {
	border-color: $brand-tertiary;
	background-color: $brand-tertiary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active,
	&:hover:focus,
	&:hover:active,
	&:focus:active {
		border-color: $color-white;
		background-color: $color-white;
		color: $color-black;
	}
}

a.btn.btn-ghost {
	&:hover,
	&:focus {
		border-color: $brand-primary;
		color: $brand-primary;
	}
}

.product-brochure .product-info dt {
	color: $brand-primary;
}

.search-results {
	.special-deal {
		background: $brand-tertiary;
	}

	.savings-price {
		color: $brand-tertiary;
		border-color: $brand-tertiary;
	}
}

// Tabs.
// ==========================================================================

.product-tabs .tabs-nav {
	border-bottom-color: $brand-primary-darker;

	a {
		color: $color-black;

		&:hover {
			color: $color-white;
			background-color: $brand-primary-darker;
		}
	}

	a.active,
	a.active:hover,
	a.active:focus,
	a:focus,
	a:focus:hover {
		color: $color-white;
		background-color: $brand-primary-darker;
	}
}

// Pagination.
// ==========================================================================

.page-item.active .page-link {
	&,
	&:focus,
	&:hover {
		background-color: $brand-links-color;
		border-color: $brand-links-color;
	}
}

// Site header.
// ==========================================================================

.site-header {
	background-color: $header-bg;

	a {
		color: $gray-dark;

		&:hover,
		&:focus {
			color: $brand-primary;
		}
	}

	.text-logo {
		background: $brand-primary;
		color: $color-white;
	}

	.site-top-bar {
		color: $gray-light;
	}

	.scratchpad-toggle {
		a {
			color: $gray-light;

			@include media-breakpoint-down(lg) {
				color: $color-white;
			}

			&:hover,
			&:focus {
				color: $brand-primary;
			}
		}

		.count {
			border-color: $header-bg;
			color: $color-white;
			background: transparent;
		}

		&:hover,
		&:focus {
			.count {
				color: $color-white;
				background: transparent;
			}
		}
	}
}

// Navigation.
// ==========================================================================

.primary-menu {
	&._bpback {
		background: $brand-primary;

		@include media-breakpoint-up(lg) {
			background: transparent;
		}
	}

	> li {
		> a {
			color: $color-white;

			&:hover {
				color: $color-white;
			}

			@include media-breakpoint-up(lg) {
				color: $body-color;

				&:hover {
					color: $brand-primary;
				}
			}
		}

		// DD Menu
		.dropdown-menu {
			background: $brand-primary;

			li { // lvl 1

				@include media-breakpoint-down(md) {
					background: $brand-primary;
				}

				a {
					color: $color-white; // dark themes

					&:hover {
						color: $color-white;
					}
				}
			}

			.dropdown-menu {
				> li { // lvl 2

					@include media-breakpoint-down(md) {
						background: $brand-primary-darker;
					}

					a {
						color: $gray-lighter !important; // dark themes

						&:hover {
							color: $brand-primary !important;
						}
					}
				}
			}
		}

		// Mega Menu Color & Border
		&.mega-menu {
			> .dropdown-menu {
				background: #111;
				border-top-color: $brand-primary;

				li a:hover {
					color: $brand-primary;
				}
			}
		}
	}

	// Arrow (MOBILE)
	.dropdown-trigger::before {
		color: $color-white;
	}

	// Scratchpad (MOBILE)
	.scratchpad-toggle {
		a,
		.count {
			color: $color-white;

			&:hover {
				color: $color-white;
			}
		}
	}
}

a.mobile-call,
.mobile-call-tracking a{
	color: $color-white;
}

// Site footer.
// ==========================================================================

.site-footer {
	color: $footer-color;

	& p {
		color: $footer-color;
	}
	background-color: $footer-bg;

	a {
		color: $footer-links-color;

		&:hover,
		&:focus {
			color: $footer-hover-color;
		}
	}

	h5 {
		color: $footer-primary;
	}
}

.footer-widgets {
	a {
		color: $footer-links-color;

		&:hover,
		&:focus {
			color: $footer-hover-color;
		}
	}
}

// Scratchpad.
// ==========================================================================

.scratchpad {
	color: $scratchpad-color;
	background-color: $scratchpad-bg;

	a {
		color: $scratchpad-color;

		&:hover,
		&:focus {
			color: $scratchpad-links-color;
		}
	}

	h5 {
		color: $scratchpad-primary;
	}

	ul {
		.remove,
		.view {
			&:hover {
				background-color: $scratchpad-primary;
			}
		}
	}
}

.scratchpad header h3 .count {
	border-color: transparent;
	color: $color-white;
	background: $brand-secondary;
}

// SRP/VDP.
// ==========================================================================

.single-inventory {
	background-color: #f5f5f5;
	color: $color-black;

	h1 {
		color: $color-black;
	}

	.layout-srp,
	.layout-vdp {
		h2,
		h3,
		h4,
		h5,
		.card-car h5 {
			color: $color-black;
		}
	}
}

// Staff plugin.
// ==========================================================================

.staff-departments {
	li {
		a {
			background-color: $brand-primary;
			border-color: $brand-primary;

			&:hover,
			&:focus,
			&:active,
			&:hover:focus,
			&:hover:active,
			&:focus:active {
				background-color: $brand-primary-darker;
				border-color: $brand-primary-darker;
			}
		}
	}
}

.staff-member {
	> figure {
		> a {
			span {
				background-color: $brand-primary;
			}
		}
	}
}

// Job plugin.
// ==========================================================================

.entry-content {
	.single_job_listing {
		.meta {
			.jop-posting,
			.full-time,
			.part-time,
			.temporary,
			.internship,
			.freelance {
				background-color: $brand-primary;
			}
		}
	}
}

// Carousel 
// ==========================================================================

.carousel-direction-nav a {
	&::before {
		background-color: $color-black;
	}
	color: $color-white;
}

// Sidebar Nav 
// ==========================================================================

#float-nav {
	a {
		background-color: $brand-primary;
		color: $color-white;

		&:hover,
		&:focus {
			background-color: $brand-tertiary;
			color: $color-white;
		}
	}
}

// Map.
// ==========================================================================

.map-flag {
	background-color: $brand-primary;

	h4 {
		color: $color-white;
	}

	a {
		color: $color-white;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}
}

// Calc.
// ==========================================================================

.payment-calculator {
	h1,
	h2,
	h3,
	label,
	span.payments,
	p,
	input,
	select {
		color: #222 !important;
	}
}

// 2017 VDP.
// ==========================================================================

.layout-vdp-twenty-seventeen {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: $color-black;
	}
}

// Incentives Page.
// ==========================================================================

.srp-vi-filters .filter-payment output .value,
.srp-vi-results .actions a:hover,
.srp-vi-results .details [data-trigger="price-tooltip"] {
	color: $brand-primary;
}

.srp-vi-results .details,
.custom-checkbox-list label,
.custom-radio-list label {
	background: $brand-primary;
	border-color: $brand-primary;
	color: $color-white !important;

	&::after {
		display: none;
	}
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus {
	background: $brand-primary-darker;
	border-color: $brand-primary-darker;
	color: $color-white;
}

.custom-checkbox-list label:hover,
.custom-checkbox-list label:focus,
.custom-radio-list label:hover,
.custom-radio-list label:focus,
.srp-vi-results header .table-actions a.active {
	background: $brand-primary-darker;
	border-color: $brand-primary-darker;
	color: $color-white;
}

.filter-options .checkbox-list,
.filter-years .radio-list,
.custom-radio-list {
	input:checked {
		+ label {
			border-color: $brand-primary-darker;
			background: $brand-primary-darker;
			color: $color-white;
		}
	}
}

.srp-vi-results header h3,
.srp-vi-results .description h4 {
	color: $color-black;
}

.page-template-template-incentives-search-php,
.page-template-template-personalized-payments{
	background: #f7f7f7;

	p,
	h3,
	h4 {
		color: $gray;
	}
}
