// ==========================================================================
// Slant container.
// ==========================================================================

.container-slant {

	@include clearfix;
	position: relative;

	@include media-breakpoint-up(lg) {
		overflow: hidden;
		height: rem(420);
		background: top fixed no-repeat;
		background-size: cover;

		.mce-content-body & {
			background-attachment: scroll;
		}
	}

	@include media-breakpoint-up(xl) {
		height: rem(450);
	}

	> .block {
		background-position: center;
		width: 100%;

		@include media-breakpoint-up(lg) {
			position: relative;
			float: left;
			width: 50%;
			height: 100%;
		}

		> figure {
			background-color: $body-bg;
			padding: 8.5%;
			margin: 0;

			@include media-breakpoint-up(md) {
				margin: 0%;
				height: 100%;
			}

			@include media-breakpoint-up(xl) {
				padding: 0;
				display: block;
				max-width: #{map-get($grid-breakpoints, xl)};
			}

			@include media-breakpoint-down(md) {
				&.slant-invisible {
					display: none;
				}
			}
		}

		> .content {
			padding: 8.5%;
			min-height: rem(400);

			@include media-breakpoint-up(xl) {
				max-width: #{map-get($grid-breakpoints, xl)};
				padding: rem(60) rem(100) rem(60) rem(60);
			}
		}
	}

	&.parallax {
		> .block {
			background: top fixed no-repeat;
			background-size: cover;
		}
	}

	@include media-breakpoint-up(xl) {
		&.content-left {
			> .block:nth-child(2) {
				background-color: $body-bg;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: rem(-100);
					height: 100%;
					width: rem(100);
					border-right: rem(100) solid $body-bg;
					border-bottom: rem(450) solid transparent;
				}

				> figure {
					float: left;
					margin: 8% 2.5% 0;
				}
			}
		}

		&.content-right {
			> .block:nth-child(1) {
				background-color: $body-bg;
				right: 0;
				z-index: 99;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: rem(-100);
					height: 100%;
					width: rem(100);
					border-left: rem(100) solid $body-bg;
					border-bottom: rem(450) solid transparent;
				}

				> figure {
					float: right;
					margin: 8% 5% 0;
				}
			}

			> .block:nth-child(2) {
				> .content {
					float: left;
					margin-left: 4rem;
				}
			}
		}
	}
}
// Flex Re-ordering
// ==========================================================================

.container-slant {
	display: flex;
	flex-flow: row wrap;

	&.content-left > .block:nth-child(1) {
		order: 2;

		@include media-breakpoint-up(lg) {
			order: 1;
		}
	}

	&.content-left > .block:nth-child(2) {
		order: 1;

		@include media-breakpoint-up(lg) {
			order: 2;
		}
	}
}
