// ==========================================================================
// Fluid Boxes - Left & Right Column Blocks with Images.
// ==========================================================================

.fluid-boxes {

	@include clearfix;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	.fluid-left-col,
	.fluid-right-col {

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(lg) {

			@include make-col-span(6);
		}
		background-position: top center;
		background-size: cover;

		.inner {
			padding: 1.5rem;

			@include media-breakpoint-up(lg) {
				padding: 3rem;
				min-height: 35rem;
			}
		}

		&.parallax {
			background-attachment: fixed;
		}
	}

	&.content-right .fluid-left-col,
	&.content-left .fluid-right-col {
		min-height: 20rem;

		@include media-breakpoint-up(md) {
			min-height: 30rem;
		}

		@include media-breakpoint-up(lg) {
			min-height: 35rem;
		}
	}
}
// Flex Re-ordering
// ==========================================================================

.fluid-boxes {
	.container-optional {
		display: flex;
		flex-flow: row wrap;
	}
}

.content-left .fluid-left-col {
	order: 2;

	@include media-breakpoint-up(lg) {
		order: 1;
	}
}

.content-left .fluid-right-col {
	order: 1;

	@include media-breakpoint-up(lg) {
		order: 2;
	}
}
