// ==========================================================================
// Full Width Slant Section.
// ==========================================================================

.slant-stack {
	&.angled-top .slant-top,
	&.angled-bottom .slant-bottom {
		min-height: 400px;

		@include media-breakpoint-down(md) {
			min-height: 0;
			overflow: hidden;
		}

		.slant-copy {

			@include pull-left;
		}
	}

	&.angled-top .slant-bottom,
	&.angled-bottom .slant-top { // Contains Background
		min-height: 550px;
		background: #000 top right -10rem / 120% no-repeat;
		background-position: right;

		@include media-breakpoint-down(md) {
			min-height: 350px;
			background-size: 140%;
			background-position: center;
			overflow: hidden;
		}

		.slant-copy {

			@include pull-right;
			@extend .text-xs-center;
			@extend .text-lg-right;
		}
	}

	.slant-copy {

		@include make-col-span(6);
		margin: 5rem 3rem 0;

		@include media-breakpoint-down(md) {

			@include make-col-span(12);
			margin: 0;
			padding: 3rem;
			clear: both;

			.btn {
				margin-bottom: 0;
				display: block;
			}
		}
	}

	// No spacing, bottom bottom

	&.angled-bottom .slant-bottom {
		.slant-copy {
			margin-top: 0;
		}
	}

	// Queries

	&.angled-top .slant-bottom {
		.slant-copy {

			@media (min-width: 1300px) {
				margin-top: 6rem;
			}

			@media (min-width: 1500px) {
				margin-top: 7rem;
			}

			@media (min-width: 1620px) {
				margin-top: 8rem;
			}
		}
	}

	// Angles 

	&.angled-top .slant-top {

		@media (min-width: 1620px) {

			@include angle(after, false, 4deg);
		}

		@media (max-width: 1619px) {

			@include angle(after, false, 7deg);
		}

		@include media-breakpoint-down(md) {

			@include angle(after, false, 0deg);
		}
	}

	&.angled-bottom .slant-bottom {

		@media (min-width: 1620px) {

			@include angle(before, false, 4deg);
		}

		@media (max-width: 1619px) {

			@include angle(before, false, 7deg);
		}

		@include media-breakpoint-down(md) {

			@include angle(before, false, 0deg);
		}
	}
}
