// ==========================================================================
// Homepage.
// ==========================================================================
// Home Specific

.white-container {
	padding-top: 2.5rem;
	background-color: $body-bg;

	.full-column-layout {
		padding: 3rem 0;

		.container-optional {

			@extend .container;
		}
	}
}
// Jellybeans.
// ==========================================================================

img.jellybean {
	position: relative;
	margin-bottom: -4rem;
	z-index: 9;

	@include media-breakpoint-up(lg) {
		margin-bottom: -10rem;
	}
}

.jelly-beans {
	padding: 6rem 0 3.5rem;
	width: 100%;

	a {
		display: block;
	}

	@include media-breakpoint-up(md) {
		display: inline-block;
	}

	@include media-breakpoint-up(lg) {
		padding: 10rem 0 3.5rem;
	}

	.container-optional {

		@extend .container;
	}
}
// Slants.
// ==========================================================================

.light-slant {
	.btn {

		@extend .pull-md-right;
		margin-left: 0.5rem;
	}

	.fluid-left-col {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;

		@include media-breakpoint-up(lg) {
			display: block;

			@include make-col-span(12);
		}

		@include media-breakpoint-up(xl) {

			@include make-col-span(7.5);
		}
		min-height: 0;
	}

	.fluid-right-col {

		@include make-col-span(12);

		@include media-breakpoint-up(xl) {

			@include make-col-span(4.5);

			.inner {
				padding-left: 1rem;
			}
		}
	}
}

.bottom-block {
	padding: 3rem 0;

	.fluid-left-col {
		.btn,
		img {
			margin-top: 1.5rem;
			float: left;
		}

		@include media-breakpoint-up(md) {
			img {
				float: right;
			}
		}

		@include make-col-span(12);

		@include media-breakpoint-up(xl) {

			@include make-col-span(6);
		}
	}

	.fluid-right-col {
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;

		@include media-breakpoint-up(md) {
			display: block;
			min-height: 26rem;

			@include make-col-span(12);
		}

		@include media-breakpoint-up(xl) {
			background-size: 100%;
			min-height: 35rem;

			@include make-col-span(6);
		}
	}
}

.light-slant,
.bottom-block {
	.fluid-left-col,
	.fluid-right-col {
		.inner {
			min-height: 0;
		}
	}
}

.light-slant {
	.fluid-right-col {
		.inner {
			padding: 1.5rem;
		}

		@include media-breakpoint-up(md) {
			.inner {
				padding: 3rem;
			}
		}
	}
}

.bottom-block {
	.fluid-left-col {
		.inner {
			padding: 1.5rem;
		}

		@include media-breakpoint-up(md) {
			.inner {
				padding: 3rem;
			}
		}
	}
}
// Service block.
// ==========================================================================

.service-colorblock {
	color: $color-white;
	padding: 4.5rem 2rem;
	max-width: 100%;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		padding: 4.5rem 5rem;
	}

	h2,
	h3 {

		@extend .text-xs-center;
		color: $color-white;
		margin-bottom: 4rem;

		&::before {
			border-color: $color-white;
			margin: 0 auto 2rem;
		}
	}

	a,
	h5 {
		color: $color-white;

		&.btn-link {
			border-bottom: 1px solid $color-white;

			&::before {
				font-family: 'FontAwesome';
				content: "\f105";
				margin-right: 0.5rem;
			}

			@include hover-focus {
				border-bottom: 1px solid $color-blue;
			}
		}
	}

	.content-block {

		@include make-row();
	}

	.left-column {

		@extend .col-xs-12;
		@extend .col-lg-6;
	}

	.right-column {

		@extend .col-xs-12;
		@extend .col-lg-6;
		background: rgba(255, 255, 255, .15);
		padding: 2rem;
		margin-top: 1rem;

		@include media-breakpoint-up(md) {
			transform: skewX(-10deg);
			position: relative;
			right: -6rem;
			min-height: 15rem;
			margin-top: 0;
		}

		a {

			@extend .pull-md-right;
			margin-right: 2rem;
		}

		div {

			@extend .col-xs-12;
			@extend .col-lg-6;

			@include media-breakpoint-up(md) {
				transform: skewX(10deg);
			}
		}
	}
}

.mercedes-incentives {
	display: none;

	@include media-breakpoint-up(md) {
		display: block;
	}
}
