// ==========================================================================
// Site Navigation
// ==========================================================================

.dropdown-menu {
	li > a {
		background-color: $brand-primary;

		@include hover-focus {
			text-decoration: none;
			background-color: $brand-primary-darker;
			color: $color-blue;
			transition: background-color $transition-slow-btn, color $transition-slow-btn;
		}
	}
}
