// ==========================================================================
// Site Navigation
// ==========================================================================

body {
	.primary-menu {
		> li {
			> a {

				@include media-breakpoint-up(lg) {
					padding: 0.5rem 0.8rem;
					font-size: 1rem;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			li.mega-menu {
				> .dropdown-menu {
					> li {
						> a {
							text-transform: uppercase;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}

.dropdown-menu {
	li {
		> a {
			font-size: 0.9rem;
		}
	}
}
