// ==========================================================================
// Site primary navigation.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/modules/primary-navigation";
// Overrides and custom styling.
// ==========================================================================

%site-primary-navigation-typography {
	font-family: $font-family-sans-serif-condensed;
	font-size: 1.05rem;
	text-transform: uppercase;
	line-height: 1.75rem;
}

.dropdown-menu {
	font-family: $font-family-serif;
	font-style: italic;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
