// ==========================================================================
// Homepage.
// ==========================================================================

.slanted {

	@extend .text-xs-center;
	background: $body-bg;
	padding: 3rem 0;

	@include media-breakpoint-up(md) {

		@include angle(before, false, 4.25deg);
	}

	@include media-breakpoint-up(lg) {
		padding: 5rem 0;
	}

	.btn {
		margin: 1rem;
	}
}

.home-incentives {

	@extend .text-xs-center;
	max-width: 100%;
	overflow: hidden;

	.container-optional {
		max-width: 1400px;
		margin: 0 auto;
	}

	img {
		display: block;
		margin: 0 auto;
		opacity: 1;

		&:hover {
			opacity: 0.75;
			transition-property: opacity;
			transition-duration: 0.5s;
		}
	}
}

.white-block {

	@extend .text-xs-center;

	@include media-breakpoint-up(lg) {
		padding: 1.5rem;
	}

	.col {
		padding: 5.5rem 3rem 4rem;

		p,
		a {
			display: inline-block;
		}

		.imgs {

			@include clearfix;
			padding-top: 3rem;

			img {
				padding: 1rem;

				@include media-breakpoint-up(lg) {
					max-width: 29rem;
					max-height: 10rem;
					padding: 0;
				}
			}
		}
	}
}

.icon-block {
	padding: 3rem 2rem;

	@include media-breakpoint-up(lg) {
		padding: 5rem 0;
	}

	h2,
	h3,
	h4,
	i {

		@extend .text-xs-center;
		color: #111;

		@include media-breakpoint-up(lg) {
			margin-bottom: 4rem;
		}
	}

	h4 {

		@extend .text-xs-center;
		@extend .text-lg-left;
		margin-bottom: 1rem;
	}

	p {
		color: $body-color;
	}

	.block {

		@include clearfix;
		display: block;
	}

	.information {
		display: inline-block;
	}

	i {

		@extend .text-xs-center;
		@extend .pull-lg-left;
		@include rounded(9rem);
		margin: 0 auto 1rem;
		border: 1px solid #111;
		font-size: 1.25rem;
		display: block;
		width: 4rem;
		height: 4rem;
		padding-top: 0.75rem;

		@include media-breakpoint-up(lg) {
			margin: 0 2rem 5rem 0;
		}
	}
}
