// ==========================================================================
// Site Footer
// ==========================================================================

footer {
	&.site-footer {
		padding: 3rem 1.5rem;
		font-size: 0.75rem;
		line-height: 2.5;
		font-family: 'Poppins';

		@include media-breakpoint-up(lg) {
			padding: 5rem 1.5rem;
		}

		h5 {
			font-size: 1rem;
			margin-bottom: 1.5rem;
		}
	}

	.footer-container {

		@extend .container-fluid;
		max-width: rem(1600);
	}

	.footer-widgets {

		@extend .col-xs-12;
		@extend .col-sm-8;
		@extend .col-lg-6;

		ul {

			@include reset-list;
			@include clearfix;

			li.menu-item {

				@extend .col-xs-6;
				@extend .col-lg-4;
				@extend .col-xl-3;
				padding: 0;
			}
		}

		p {
			display: none;
			padding-top: 3rem;

			a {
				padding: 0 0.5rem;
			}

			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}

	.footer-social {

		@extend .col-xs-12;
		@extend .col-sm-4;
		@extend .col-lg-2;
		@extend .col-xl-3;

		img {
			padding-top: 1.5rem;
		}

		li {
			a::before {
				font-size: 1.5rem;
				padding: 1rem .5rem 1rem 0;

				@include media-breakpoint-up(xl) {
					font-size: 2.5rem;
					padding: 1rem 1.25rem 1rem 0;
				}
			}
		}

		h5 {

			@include media-breakpoint-down(xs) {
				padding-top: 2rem;
			}
		}
	}

	.footer-dealer-info {

		@extend .col-xs-12;
		@extend .col-lg-4;
		@extend .col-xl-3;

		h5 {

			@include media-breakpoint-down(md) {
				padding-top: 2rem;
			}
		}
	}
}

