// ==========================================================================
// SRP & VDP Css Overrides
// ==========================================================================

.layout-srp,
.layout-vdp {
	padding: 1rem;

	@include media-breakpoint-up(lg) {
		padding: 0;
	}

	.btn {
		padding: 0.5rem;
		font-size: 1rem;
	}

	dt,
	span.special-deal {

		@extend %heading;
	}

	.current-price {
		.carproof-button-wrap {
			display: none;
		}
	}

	.product-badges {

		@include media-breakpoint-down(md) {
			padding-top: 1rem;
		}
	}
}

.layout-vdp-twenty-seventeen {
	.vdp-accordion-section a,
	.vdp-accordion-section h1,
	.vdp-dealer-info,
	.price-title,
	.vdp-heading h2,
	.similar-vehicles .container > h6,
	.specs-table ul li strong {

		@extend %heading;
	}
}
