// ==========================================================================
// Splash
// ==========================================================================

.splash {
	max-width: 100%;
	min-height: rem(600);
	background-position: middle center;

	@include media-breakpoint-up(md) {
		height: rem(750);
	}

	@include media-breakpoint-up(md) {
		height: rem(850);
	}

	.hero-content {
		padding: 20% 7% 7%;
		text-shadow: 0 3px 7px #222326;

		h2,
		h3 {
			font-size: 3rem;
			color: $color-white;
			margin-bottom: 1rem;
		}

		p {

			@extend %serif;
			color: $color-white;
			margin-bottom: 2rem;
		}

		a {
			display: block;
			margin-bottom: 0.25rem;

			@include media-breakpoint-up(lg) {
				display: inline-block;
			}
		}

		#querySearchForm,
		#quicksearchForm {
			margin-bottom: $spacer;
		}

		@include media-breakpoint-up(md) {
			top: 30%;
			padding: 7%;
		}

		@include media-breakpoint-up(xl) {
			top: 40%;
		}
	}
}
