// ==========================================================================
// Typography.
// ==========================================================================
// Import common styles.
// ==========================================================================

@import "../../common/post-elements/typography";
// Overrides and custom styling.
// ==========================================================================

body {
	font-weight: 300;
}

%condensed {
	font-family: $headings-font-family;
	font-weight: 300;
	text-transform: uppercase;
}

%serif {
	font-family: $font-family-serif;
	font-style: italic;
	font-weight: 100;
}

h1,
h2,
h3 {

	@extend %condensed;
}

p {
	margin-bottom: $spacer * 1.5;
}

h5,
.serif {

	@extend %serif;
}

.text-center {
	text-align: center;
}

.p-y-8 {
	padding: ($spacer * 5) 0;

	@include media-breakpoint-up(lg) {
		padding: $spacer * 8;
	}
}

h1 {

	@include media-breakpoint-up(lg) {
		font-size: 3rem;
		margin-bottom: $spacer * 2;
	}
}
