<div class="mercedes-site-name">
	{{ site.name }}
</div>

{% if mobile_call_tracking %}
	<div class="mobile-call-tracking">
		{{ mobile_call_tracking }}
	</div>
{% else %}
	<a href="tel:{{ phone_number|replace(' ', '-') }}" class="mobile-call">Call</a>
{% endif %}

