{% if vehicle.carproof.hasCarproof and vehicle.form_carproof_type != 'buttons' %}
	<div class="carproof-logo-block">
        {% if vehicle.form_carproof_type == 'form' %}
            <div class="carproof-logo">
                {% if vehicle.carproof_logo %}
                    <a class="vdp-carproof-badge" href="#accordion_carproof_button" id="accordion_carproof_button"><img src="{{ vehicle.carproof_logo }}" /></a>
                {% endif %}
            </div>
        {% else %}
            <div class="carproof-logo">
                {% if vehicle.carproof_logo %}
                    <a class="vdp-carproof-badge" href="{{ vehicle.carproof_url }}" target="_blank"><img src="{{ vehicle.carproof_logo }}" /></a>
                {% endif %}
            </div>
        {% endif %}
	</div>
{% endif %}

