<div class="footer-credit">
	<p class="strathcom-credit">&copy; {{"now"|date('Y')}} {{ site.title }} | Website Designed &amp; Powered by <a href="http://www.strathcom.ca" rel="external" target="_blank">Strathcom Media</a></p>
</div>
