<header class="site-header {% if block( 'top_bar' )|trim %}header-has-top-bar{% endif %}">
	{% if block( 'top_bar' )|trim %}
		<div class="site-top-bar">
			{% block top_bar %}
				{% include 'components/top-bar.twig' %}
			{% endblock %}
		</div>
	{% endif %}
	<div class="container">
		{% include 'components/contact-bar.twig' ignore missing %}
		{% include 'components/logo.twig' %}
		{% include 'components/nav-primary.twig' %}
	</div>
</header>
