{% if menu_primary %}
    <div class="site-navigation">
        <nav class="site-primary-navigation" role="navigation">
            <button class="btn-trigger-primary-menu" data-toggle="dropdown-nested" data-target=".primary-menu">Menu
            </button>
            {% include "components/recursive-menu.twig" with {'menu_primary': menu_primary.get_items, 'top_level': 'true'} %}
        </nav>
    </div>
    {% if mobile_call_tracking %}
        <div class="mobile-call-tracking">
            {{ mobile_call_tracking }}
        </div>
    {% else %}
        <a href="tel:{{ phone_number|replace(' ', '-') }}" class="mobile-call">Call</a>
    {% endif %}
{% endif %}