{% extends "base.twig" %}

{% block content %}
<div class="oops">
	{% if 'fr' in site.language %}
		<h1>Page non trouvée</h1>
		<h3>Nous n’arrivons pas à trouver ce que vous cherchez.</h3>
		<a href="/fr/home" class="btn btn-primary btn-lg">Retournez à la page d’accueil</a>
	{% else %}
		<h1>Oops! Page Not Found.</h1>
		<h3>Sorry, we couldn't find what you're looking for.</h3>
		<a href="/" class="btn btn-primary btn-lg">Go back home</a>
	{% endif %}
</div>
{% endblock %}
