{% extends "base.twig" %}
{% set page_layout = 'sidebar-right' %}

{% block top_bar %}
	{# Use page's featured image. #}
	{% include 'components/featured-image.twig' with {
			src: featured_image_src,
			alt: page.title,
			classname: 'featured-image'
		}
	%}

	{# Use top bar widget area. #}
	{% include 'components/top-bar.twig' %}
{% endblock %}

{% block content %}
	<div class="group">
		<div class="group-content">
			{% for post in posts %}
				{% include 'components/index.twig' %}
			{% endfor %}
			{% include 'components/pagination.twig' %}
		</div>
		{% include 'components/sidebar.twig' %}
	</div>
{% endblock %}
