{% extends "base.twig" %}

{% block content %}
	<div class="group">
		<div class="group-content">
			{% include 'components/content-single.twig' %}
		</div>
		{% if page_layout in [ 'sidebar-left', 'sidebar-right' ] %}
			{% include 'components/sidebar.twig' %}
		{% endif %}
	</div>
{% endblock %}
