// ==========================================================================
// Content blocks styling.
// ==========================================================================
// Import common styles for all content blocks.
// ==========================================================================
// Instead of importing all content blocks at once, only the ones that are
// needed in the theme can be imported, like:
//
// @import "../../common/content-blocks/color-block";
// @import "../../common/content-blocks/container-slant";
// ...

@import "../../common/content-blocks/all";
// Overrides and custom styling.
// ==========================================================================

.home-colorblock {
	padding: 5rem 0;
	font-size: 1.1rem;

	h1 {
		margin: 0 auto 4rem;

		@include media-breakpoint-up(lg) {
			max-width: 80%;
		}
	}

	h1,
	h3,
	h3 {

		@extend .text-xs-center;
	}

	p {
		color: #fff;

		@include media-breakpoint-up(lg) {
			color: #787982 !important;
			text-shadow: 0 3px 5px #222;
		}
	}

	// Lg +

	@include media-breakpoint-up(lg) {
		padding: 9rem 0 25rem;
	}
}

.bottom-colorblock {

	@extend .text-xs-center;

	.btn {
		font-size: 1rem;
		padding: 1rem;
	}

	@include media-breakpoint-up(lg) {
		padding: 9rem 0;
	}
}

.colorblock-section {
	background-position: top center;
}
