.edit-shortcode-form {
  /* Increase default font-size of form elements */
  /* Put all attributes of a button on the same line */ }
  .edit-shortcode-form .shortcode-ui-field-text input,
  .edit-shortcode-form .shortcode-ui-field-textarea textarea,
  .edit-shortcode-form select {
    font-size: 14px; }
  .edit-shortcode-form .field-block[class*="shortcode-ui-attribute-button"] {
    float: left;
    width: 24%;
    margin-right: 1%; }
    .edit-shortcode-form .field-block[class*="shortcode-ui-attribute-button"][class$="url"] {
      clear: both; }
    .edit-shortcode-form .field-block[class*="shortcode-ui-attribute-button"] select {
      width: 100%; }

.shortcode-ui-field-select[class$="icon"] select option::before {
  font-size: 20px;
  font-family: FontAwesome, Arial;
  margin-right: 5px;
  width: 30px;
  text-align: center;
  display: inline-block; }
