// ==========================================================================
// Homepage.
// ==========================================================================

.three-buttons,
.four-buttons {
	padding: 2rem 0;

	.btn {
		display: block;
		margin: 1%;
	}
}

@include media-breakpoint-up(lg) {
	.three-buttons {
		.btn {
			display: inline-block;
			width: 31%;
		}
	}

	.four-buttons {
		.btn {
			display: inline-block;
			width: 22%;
		}
	}
}

.home-colorblock {
	padding: 3rem 0;

	h1,
	h2,
	h3,
	h4,
	h5 {

		@extend .text-xs-center;
	}

	h4,
	h5 {
		margin-bottom: 2rem;
	}

	@include media-breakpoint-up(lg) {
		padding: 7rem 0;
	}
}
// Split in own file Monday or later

.similar-products {
	.card-car {
		padding: 1.5rem;

		.price,
		.retail-price {
			display: inline-block;
			font-size: 1.2rem;
		}

		.btn {
			width: rem(180);
			display: block;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			margin: 0 auto;
		}
	}
}

.featured-vehicles {

	@extend .container;
	text-align: center;

	a {
		padding: 0.5rem 1rem;
	}
}

